@media all and (orientation: landscape) {
  /* line 4, ../../sass/desktop/main.scss */
  #app_envelope {
    height: 100%;
  }

  /* line 5, ../../sass/desktop/main.scss */
  #wrapper {
    height: 100%;
  }

  /* line 6, ../../sass/desktop/main.scss */
  #pagebody {
    left: 0;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 99999;
  }

  /* line 13, ../../sass/desktop/main.scss */
  #homecontent {
    margin-top: 18px;
    height: 100%;
  }
  /* line 16, ../../sass/desktop/main.scss */
  #homecontent h2 {
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.5em;
    margin-top: 60px;
    margin-bottom: 25px;
    padding: 12px 0;
  }
  /* line 26, ../../sass/desktop/main.scss */
  #homecontent h4 {
    font-size: 1.2em;
    line-height: 1em;
    margin-bottom: 5px;
  }
  /* line 33, ../../sass/desktop/main.scss */
  #homecontent .group_subtitle {
    font-size: 1em;
    line-height: 1em;
    margin-bottom: 10px;
  }

  /* line 41, ../../sass/desktop/main.scss */
  #content {
    margin-top: 110px;
    color: black;
    height: 100%;
  }
  /* line 45, ../../sass/desktop/main.scss */
  #content h2 {
    font-size: 1.8em;
    font-weight: 500;
    line-height: 1.8em;
    margin-top: 15px;
    margin-bottom: 25px;
    padding: 12px 0;
  }
  /* line 55, ../../sass/desktop/main.scss */
  #content h3 {
    font-size: 1.5em;
    font-weight: 700;
    line-height: 1.75em;
    margin-bottom: 25px;
  }
}
@media all and (orientation: portrait) {
  /* line 67, ../../sass/desktop/main.scss */
  #app_envelope {
    height: 100%;
  }

  /* line 68, ../../sass/desktop/main.scss */
  #wrapper {
    height: 100%;
  }

  /* line 69, ../../sass/desktop/main.scss */
  #pagebody {
    left: 0;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 99999;
  }

  /* line 76, ../../sass/desktop/main.scss */
  #homecontent {
    margin-top: 18px;
    height: 100%;
  }
  /* line 79, ../../sass/desktop/main.scss */
  #homecontent h2 {
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.5em;
    margin-top: 60px;
    margin-bottom: 25px;
    padding: 12px 0;
  }
  /* line 89, ../../sass/desktop/main.scss */
  #homecontent h4 {
    font-size: 1.2em;
    line-height: 1em;
    margin-bottom: 5px;
  }
  /* line 96, ../../sass/desktop/main.scss */
  #homecontent .group_subtitle {
    font-size: 1em;
    line-height: 1em;
    margin-bottom: 10px;
  }

  /* line 104, ../../sass/desktop/main.scss */
  #content {
    margin-top: 110px;
    color: #000000;
    height: 100%;
  }
  /* line 108, ../../sass/desktop/main.scss */
  #content h2 {
    font-size: 1.8em;
    font-weight: 500;
    line-height: 1.8em;
    margin-top: 15px;
    margin-bottom: 25px;
    padding: 12px 0;
  }
  /* line 118, ../../sass/desktop/main.scss */
  #content h3 {
    font-size: 1.5em;
    font-weight: 700;
    line-height: 1.75em;
    margin-bottom: 25px;
  }
}
@media all and (orientation: landscape) {
  /* line 4, ../../sass/desktop/loginform.scss */
  .login_template {
    margin: 1em auto;
    padding: 2em;
    margin: 60px auto;
    margin-bottom: auto;
    width: 390px;
    height: 500px;
  }

  /* line 12, ../../sass/desktop/loginform.scss */
  form {
    padding: 20px;
    margin-bottom: 50px;
  }
  /* line 16, ../../sass/desktop/loginform.scss */
  form label {
    font-size: 1em;
    font-weight: bold;
  }
  /* line 22, ../../sass/desktop/loginform.scss */
  form .input {
    padding: 7px;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px solid white;
    width: 100%;
    margin-bottom: 10px;
  }
}
@media all and (orientation: portrait) {
  /* line 40, ../../sass/desktop/loginform.scss */
  .login_template {
    margin: 1em auto;
    padding: 2em;
    margin: 60px auto;
    margin-bottom: auto;
    width: 390px;
    height: 500px;
  }

  /* line 48, ../../sass/desktop/loginform.scss */
  form {
    padding: 20px;
    margin-bottom: 50px;
  }
  /* line 52, ../../sass/desktop/loginform.scss */
  form label {
    font-size: 1em;
    font-weight: bold;
  }
  /* line 58, ../../sass/desktop/loginform.scss */
  form .input {
    padding: 7px;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px solid white;
    width: 100%;
    margin-bottom: 10px;
  }
}
@media all and (orientation: landscape) {
  /* line 5, ../../sass/desktop/headers.scss */
  .login_template .header_sm {
    text-align: center;
    font-size: 1em;
    margin: 0.5em 0;
  }
  /* line 12, ../../sass/desktop/headers.scss */
  .login_template .header_lg {
    font-size: 2em;
    text-align: center;
  }

  /* line 20, ../../sass/desktop/headers.scss */
  #toolbarnav {
    left: 0px;
    top: 0px;
    padding-top: 2em;
    height: 68px;
    width: 100%;
  }
  /* line 26, ../../sass/desktop/headers.scss */
  #toolbarnav h1 {
    padding-top: 2px;
    padding-right: 8px;
    font-size: 2em;
    margin-top: -15px;
  }

  /* line 35, ../../sass/desktop/headers.scss */
  #menuoptions {
    width: 100%;
    height: 45px;
    margin-top: -15px;
    position: fixed;
  }
  /* line 40, ../../sass/desktop/headers.scss */
  #menuoptions #step_desc {
    margin-top: -2px;
    margin-left: 47%;
    margin-right: 30%;
    font-size: .8em;
  }

  /* line 49, ../../sass/desktop/headers.scss */
  .designform_header {
    margin-top: -30px;
    margin-left: -30px;
    width: 499px;
  }

  /* line 55, ../../sass/desktop/headers.scss */
  #navmenu header {
    display: block;
    background: #303a44;
    height: 52px;
    margin-top: -18px;
  }
  /* line 60, ../../sass/desktop/headers.scss */
  #navmenu header h1 {
    padding-top: 10px;
    font-size: 1.5em;
  }
}
@media all and (orientation: portrait) {
  /* line 72, ../../sass/desktop/headers.scss */
  .login_template .header_sm {
    text-align: center;
    font-size: 1em;
    margin: 0.5em 0;
  }
  /* line 79, ../../sass/desktop/headers.scss */
  .login_template .header_lg {
    font-size: 2em;
    text-align: center;
  }

  /* line 87, ../../sass/desktop/headers.scss */
  #toolbarnav {
    left: 0px;
    top: 0px;
    padding-top: 2em;
    height: 68px;
    width: 100%;
  }
  /* line 93, ../../sass/desktop/headers.scss */
  #toolbarnav h1 {
    padding-top: 2px;
    padding-right: 8px;
    font-size: 2em;
    margin-top: -15px;
  }

  /* line 102, ../../sass/desktop/headers.scss */
  #menuoptions {
    width: 100%;
    height: 45px;
    margin-top: -15px;
    position: fixed;
  }
  /* line 107, ../../sass/desktop/headers.scss */
  #menuoptions #step_desc {
    margin-top: -2px;
    margin-left: 47%;
    margin-right: 30%;
    font-size: 1em;
  }

  /* line 116, ../../sass/desktop/headers.scss */
  .designform_header {
    margin-top: -30px;
    margin-left: -30px;
    width: 498px;
  }

  /* line 122, ../../sass/desktop/headers.scss */
  #navmenu header {
    display: block;
    background: #303a44;
    height: 52px;
    margin-top: -18px;
  }
  /* line 127, ../../sass/desktop/headers.scss */
  #navmenu header h1 {
    padding-top: 10px;
    font-size: 1.5em;
  }
}
@media all and (orientation: landscape) {
  /* line 4, ../../sass/desktop/grid.scss */
  .containerDiv {
    width: 100%;
    margin-left: 0px;
  }

  /* line 8, ../../sass/desktop/grid.scss */
  .rowDivHeader {
    font-size: 1em;
  }

  /* line 14, ../../sass/desktop/grid.scss */
  .cellDivHeader {
    width: 12%;
    padding: 1px;
    font-size: .8em;
  }

  /* line 21, ../../sass/desktop/grid.scss */
  .cellDiv {
    width: 10%;
    padding-right: 4px;
  }

  /* line 25, ../../sass/desktop/grid.scss */
  .cellDiv button {
    margin-top: 20px;
    border-radius: 15px;
  }

  /* line 29, ../../sass/desktop/grid.scss */
  .lastCell {
    border-right: none;
  }
}
@media all and (orientation: portrait) {
  /* line 33, ../../sass/desktop/grid.scss */
  .containerDiv {
    width: 100%;
    margin-left: 0px;
  }

  /* line 37, ../../sass/desktop/grid.scss */
  .rowDivHeader {
    font-size: 1em;
  }

  /* line 43, ../../sass/desktop/grid.scss */
  .cellDivHeader {
    width: 12%;
    padding: 1px;
    font-size: .8em;
  }

  /* line 50, ../../sass/desktop/grid.scss */
  .cellDiv {
    width: 10%;
    padding-right: 4px;
  }

  /* line 54, ../../sass/desktop/grid.scss */
  .cellDiv button {
    margin-top: 20px;
    border-radius: 15px;
  }

  /* line 58, ../../sass/desktop/grid.scss */
  .lastCell {
    border-right: none;
  }
}
@media all and (orientation: landscape) {
  /* line 4, ../../sass/desktop/thumbnail.scss */
  .thumbnails {
    margin-left: -40px;
  }
  /* line 6, ../../sass/desktop/thumbnail.scss */
  .thumbnails h4 {
    font-size: 1em;
  }
}
@media all and (orientation: portrait) {
  /* line 16, ../../sass/desktop/thumbnail.scss */
  .thumbnails {
    margin-left: -40px;
  }
  /* line 18, ../../sass/desktop/thumbnail.scss */
  .thumbnails h4 {
    font-size: 1em;
  }
}
@media all and (orientation: landscape) {
  /* line 4, ../../sass/desktop/sliderframe.scss */
  .slider-frame {
    margin: 0;
    padding: 0;
    margin: 0 auto;
    width: 85px;
    height: 29px;
    margin-left: 210px;
    margin-top: -30px;
  }

  /* line 13, ../../sass/desktop/sliderframe.scss */
  .slider-button {
    margin: 0;
    padding: 0;
    width: 43px;
    height: 27px;
    line-height: 27px;
    font-size: 11px;
  }

  /* line 23, ../../sass/desktop/sliderframe.scss */
  .slider-button.on {
    margin-left: 40px;
  }

  /* line 24, ../../sass/desktop/sliderframe.scss */
  .slider-button:before {
    margin: 0;
    padding: 0;
    width: 40px;
    height: 12px;
  }
}
@media all and (orientation: portrait) {
  /* line 33, ../../sass/desktop/sliderframe.scss */
  .slider-frame {
    margin: 0;
    padding: 0;
    margin: 0 auto;
    width: 85px;
    height: 29px;
    margin-left: 210px;
    margin-top: -30px;
  }

  /* line 42, ../../sass/desktop/sliderframe.scss */
  .slider-button {
    margin: 0;
    padding: 0;
    width: 43px;
    height: 27px;
    line-height: 27px;
    font-size: 11px;
  }

  /* line 52, ../../sass/desktop/sliderframe.scss */
  .slider-button.on {
    margin-left: 40px;
  }

  /* line 53, ../../sass/desktop/sliderframe.scss */
  .slider-button:before {
    margin: 0;
    padding: 0;
    width: 40px;
    height: 12px;
  }
}
@media all and (orientation: landscape) {
  /* line 4, ../../sass/desktop/designform.scss */
  .designform {
    padding: 30px;
    width: 500px;
  }
  /* line 7, ../../sass/desktop/designform.scss */
  .designform .designform_title {
    font-size: .8em;
    margin-top: 3px;
    width: 100%;
  }
  /* line 14, ../../sass/desktop/designform.scss */
  .designform label {
    font-size: .6em;
    margin-top: 20px;
  }
  /* line 19, ../../sass/desktop/designform.scss */
  .designform label a {
    margin-left: 10px;
    font-size: 1.2em;
  }
  /* line 26, ../../sass/desktop/designform.scss */
  .designform input {
    font-size: .6em;
  }
  /* line 31, ../../sass/desktop/designform.scss */
  .designform select {
    font-size: .6em;
  }
}
@media all and (orientation: portrait) {
  /* line 40, ../../sass/desktop/designform.scss */
  .designform {
    padding: 30px;
    width: 500px;
  }
  /* line 43, ../../sass/desktop/designform.scss */
  .designform .designform_title {
    font-size: .8em;
    margin-top: -10px;
    width: 100%;
  }
  /* line 50, ../../sass/desktop/designform.scss */
  .designform label {
    font-size: .6em;
    margin-top: 20px;
  }
  /* line 55, ../../sass/desktop/designform.scss */
  .designform label a {
    margin-left: 10px;
    font-size: 1.2em;
  }
  /* line 62, ../../sass/desktop/designform.scss */
  .designform input {
    font-size: .6em;
  }
  /* line 67, ../../sass/desktop/designform.scss */
  .designform select {
    font-size: .6em;
  }
}
@media all and (orientation: landscape) {
  /* line 4, ../../sass/desktop/navmenu.scss */
  #wrapper #navmenu {
    width: 300px;
    left: 0px;
    top: 0px;
    margin-top: 0px;
  }

  /* line 10, ../../sass/desktop/navmenu.scss */
  #pagebody #navmenu {
    width: 300px;
    left: 0px;
    top: 0px;
    margin-top: 70px;
  }

  /* line 17, ../../sass/desktop/navmenu.scss */
  #navmenu ul {
    margin-top: 0px;
  }
  /* line 20, ../../sass/desktop/navmenu.scss */
  #navmenu ul li .navlink {
    padding: 14px 11px;
    font-size: 1em;
  }
  /* line 27, ../../sass/desktop/navmenu.scss */
  #navmenu ul li .navlink::after {
    width: 6px;
    height: 6px;
    right: 30px;
    top: 45%;
  }
  /* line 34, ../../sass/desktop/navmenu.scss */
  #navmenu ul li .arrow {
    padding: 14px 11px;
    font-size: 1em;
  }
  /* line 41, ../../sass/desktop/navmenu.scss */
  #navmenu ul li .arrow::after {
    width: 6px;
    height: 6px;
    right: 30px;
    top: 45%;
  }
}
@media all and (orientation: portrait) {
  /* line 54, ../../sass/desktop/navmenu.scss */
  #wrapper #navmenu {
    width: 300px;
    left: 0px;
    top: 0px;
  }

  /* line 59, ../../sass/desktop/navmenu.scss */
  #pagebody #navmenu {
    width: 300px;
    left: 0px;
    top: 70px;
  }

  /* line 65, ../../sass/desktop/navmenu.scss */
  #navmenu ul {
    margin-top: 0px;
  }
  /* line 68, ../../sass/desktop/navmenu.scss */
  #navmenu ul li .navlink {
    padding: 14px 11px;
    font-size: 1em;
  }
  /* line 75, ../../sass/desktop/navmenu.scss */
  #navmenu ul li .navlink::after {
    width: 6px;
    height: 6px;
    right: 30px;
    top: 45%;
  }
  /* line 82, ../../sass/desktop/navmenu.scss */
  #navmenu ul li .arrow {
    padding: 14px 11px;
    font-size: 1em;
  }
  /* line 89, ../../sass/desktop/navmenu.scss */
  #navmenu ul li .arrow::after {
    width: 6px;
    height: 6px;
    right: 30px;
    top: 45%;
  }
}
@media all and (orientation: landscape) {
  /* line 4, ../../sass/desktop/buttons.scss */
  .button_login {
    width: 100%;
    font-size: 1.5em;
    border-top: 0px solid #ad64e0;
    margin-top: 1em;
    height: 35px;
  }

  /* line 13, ../../sass/desktop/buttons.scss */
  .button_register {
    width: 100%;
    font-size: 1.2em;
    border: 0px solid #ad64e0;
    margin-top: 1em;
    height: 35px;
    margin-left: 0px;
  }

  /* line 24, ../../sass/desktop/buttons.scss */
  #toolbarnav #menu-btn_bg {
    width: 40px;
    height: 33px;
    margin-top: -6px;
    margin-left: 0px;
    position: absolute;
  }
  /* line 30, ../../sass/desktop/buttons.scss */
  #toolbarnav #menu-btn_bg #menu-button {
    border-bottom: 10px double white;
    border-top: 3px solid white;
    content: "";
    height: 16px;
    width: 25px;
    margin-top: -2px;
    margin-left: -3px;
    margin-bottom: 0px;
  }
  /* line 41, ../../sass/desktop/buttons.scss */
  #toolbarnav #home {
    font-size: .8em;
    padding: 5px 5px 5px 30px;
    margin-left: 20px;
    margin-top: -70px;
    height: 40px;
    width: 40px;
    position: absolute;
  }
  /* line 52, ../../sass/desktop/buttons.scss */
  #toolbarnav #home::before {
    width: 20px;
    height: 20px;
    left: 15px;
    top: 50%;
    margin-top: -11px;
    margin-left: -7px;
  }
  /* line 61, ../../sass/desktop/buttons.scss */
  #toolbarnav #menuoptions #home {
    font-size: .8em;
    padding: 5px 5px 5px 30px;
    margin-left: 1610px;
    margin-top: -32px;
    height: 40px;
    width: 40px;
    position: absolute;
  }
  /* line 72, ../../sass/desktop/buttons.scss */
  #toolbarnav #menuoptions #home::before {
    width: 20px;
    height: 20px;
    left: 15px;
    top: 50%;
    margin-top: -11px;
    margin-left: -7px;
  }

  /* line 82, ../../sass/desktop/buttons.scss */
  #nav_back {
    font-size: .8em;
    padding: 5px 5px 5px 30px;
    margin-left: 7px;
    margin-top: -60px;
    height: 30px;
    position: absolute;
  }

  /* line 92, ../../sass/desktop/buttons.scss */
  #nav_back::before {
    width: 20px;
    height: 20px;
    left: 15px;
    top: 50%;
    margin-top: -11px;
    margin-left: -10px;
  }

  /* line 100, ../../sass/desktop/buttons.scss */
  #nav_next {
    font-size: .8em;
    padding: 5px 30px 10px 10px;
    margin-left: 1590px;
    margin-top: -62px;
    height: 29px;
    position: absolute;
  }

  /* line 110, ../../sass/desktop/buttons.scss */
  #nav_next::before {
    right: 15px;
    top: 50%;
    margin-top: -11px;
    margin-right: -10px;
  }

  /* line 116, ../../sass/desktop/buttons.scss */
  #timercount {
    font-size: 1.2em;
    margin-left: 1560px;
    margin-top: -30px;
    height: 38px;
    width: 40px;
    position: absolute;
  }
  /* line 125, ../../sass/desktop/buttons.scss */
  #timercount #timercountspan {
    margin-top: -5px;
    margin-left: -7px;
  }

  /* line 130, ../../sass/desktop/buttons.scss */
  #viewresult {
    height: 40px;
    width: 150px;
    padding-bottom: 10px;
  }

  /* line 135, ../../sass/desktop/buttons.scss */
  #exitLab {
    width: 150px;
    height: 35px;
    margin-left: 45%;
    margin-right: 50%;
  }
}
@media all and (orientation: portrait) {
  /* line 144, ../../sass/desktop/buttons.scss */
  .button_login {
    width: 100%;
    font-size: 1.5em;
    border-top: 0px solid #ad64e0;
    margin-top: 1em;
    height: 35px;
  }

  /* line 153, ../../sass/desktop/buttons.scss */
  .button_register {
    width: 100%;
    font-size: 1.2em;
    border: 0px solid #ad64e0;
    margin-top: 1em;
    height: 35px;
    margin-left: 0px;
  }

  /* line 164, ../../sass/desktop/buttons.scss */
  #toolbarnav #menu-btn_bg {
    width: 40px;
    height: 33px;
    margin-top: -6px;
    margin-left: 0px;
    position: absolute;
  }
  /* line 170, ../../sass/desktop/buttons.scss */
  #toolbarnav #menu-btn_bg #menu-button {
    border-bottom: 12px double white;
    border-top: 4px solid white;
    content: "";
    height: 20px;
    width: 30px;
    margin-top: -2px;
    margin-left: -5px;
    margin-bottom: 0px;
  }
  /* line 181, ../../sass/desktop/buttons.scss */
  #toolbarnav #home {
    font-size: .8em;
    padding: 5px 5px 5px 30px;
    margin-left: 20px;
    margin-top: -70px;
    height: 40px;
    width: 40px;
    position: absolute;
  }
  /* line 192, ../../sass/desktop/buttons.scss */
  #toolbarnav #home::before {
    width: 20px;
    height: 20px;
    left: 15px;
    top: 50%;
    margin-top: -11px;
    margin-left: -7px;
  }
  /* line 201, ../../sass/desktop/buttons.scss */
  #toolbarnav #menuoptions #home {
    font-size: .8em;
    padding: 5px 5px 5px 30px;
    margin-left: 1610px;
    margin-top: -32px;
    height: 40px;
    width: 40px;
    position: absolute;
  }
  /* line 212, ../../sass/desktop/buttons.scss */
  #toolbarnav #menuoptions #home::before {
    width: 20px;
    height: 20px;
    left: 15px;
    top: 50%;
    margin-top: -11px;
    margin-left: -7px;
  }

  /* line 222, ../../sass/desktop/buttons.scss */
  #nav_back {
    font-size: .8em;
    padding: 5px 5px 5px 30px;
    margin-left: 7px;
    margin-top: -60px;
    height: 30px;
    position: absolute;
  }

  /* line 232, ../../sass/desktop/buttons.scss */
  #nav_back::before {
    width: 20px;
    height: 20px;
    left: 15px;
    top: 50%;
    margin-top: -11px;
    margin-left: -10px;
  }

  /* line 240, ../../sass/desktop/buttons.scss */
  #nav_next {
    font-size: .8em;
    padding: 5px 30px 10px 10px;
    margin-left: 1590px;
    margin-top: -62px;
    height: 29px;
    position: absolute;
  }

  /* line 250, ../../sass/desktop/buttons.scss */
  #nav_next::before {
    right: 15px;
    top: 50%;
    margin-top: -11px;
    margin-right: -10px;
  }

  /* line 256, ../../sass/desktop/buttons.scss */
  #timercount {
    font-size: 1.2em;
    margin-left: 1560px;
    margin-top: -30px;
    height: 38px;
    width: 40px;
    position: absolute;
  }
  /* line 265, ../../sass/desktop/buttons.scss */
  #timercount #timercountspan {
    margin-top: -5px;
    margin-left: -7px;
  }

  /* line 270, ../../sass/desktop/buttons.scss */
  #viewresult {
    height: 40px;
    width: 150px;
    padding-bottom: 10px;
  }

  /* line 275, ../../sass/desktop/buttons.scss */
  #exitLab {
    width: 150px;
    height: 35px;
    margin-left: 45%;
    margin-right: 50%;
  }
}
