@media all and (orientation: landscape) {
  /* line 4, ../../sass/desktop/loginform.scss */
  .login_template {
    margin: 1em auto;
    padding: 2em;
    margin: 60px auto;
    margin-bottom: auto;
    width: 390px;
    height: 500px;
  }

  /* line 12, ../../sass/desktop/loginform.scss */
  form {
    padding: 20px;
    margin-bottom: 50px;
  }
  /* line 16, ../../sass/desktop/loginform.scss */
  form label {
    font-size: 1em;
    font-weight: bold;
  }
  /* line 22, ../../sass/desktop/loginform.scss */
  form .input {
    padding: 7px;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px solid white;
    width: 100%;
    margin-bottom: 10px;
  }
}
@media all and (orientation: portrait) {
  /* line 40, ../../sass/desktop/loginform.scss */
  .login_template {
    margin: 1em auto;
    padding: 2em;
    margin: 60px auto;
    margin-bottom: auto;
    width: 390px;
    height: 500px;
  }

  /* line 48, ../../sass/desktop/loginform.scss */
  form {
    padding: 20px;
    margin-bottom: 50px;
  }
  /* line 52, ../../sass/desktop/loginform.scss */
  form label {
    font-size: 1em;
    font-weight: bold;
  }
  /* line 58, ../../sass/desktop/loginform.scss */
  form .input {
    padding: 7px;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px solid white;
    width: 100%;
    margin-bottom: 10px;
  }
}
