/* line 3, ../../sass/layout/main.scss */
#app_envelope {
  height: 100%;
}

/* line 4, ../../sass/layout/main.scss */
#wrapper {
  height: 100%;
}

/* iPhone media query */
@media only screen and (max-device-width: 480px) {
  /* line 7, ../../sass/layout/main.scss */
  #wrapper {
    height: auto;
  }
}
/* line 9, ../../sass/layout/main.scss */
#pagebody {
  left: 0;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 99999;
}

/* line 16, ../../sass/layout/main.scss */
#homecontent {
  margin-top: 18px;
  height: 100%;
}
/* line 19, ../../sass/layout/main.scss */
#homecontent h2 {
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1.5em;
  margin-top: 60px;
  margin-bottom: 25px;
  padding: 12px 0;
}
/* line 29, ../../sass/layout/main.scss */
#homecontent h4 {
  font-size: 1.2em;
  line-height: 1em;
  margin-bottom: 5px;
}
/* line 36, ../../sass/layout/main.scss */
#homecontent .group_subtitle {
  font-size: 1em;
  line-height: 1em;
  margin-bottom: 10px;
}

/* line 44, ../../sass/layout/main.scss */
#content {
  margin-top: 100px;
  color: black;
  height: 100%;
  /* iPhone media query */
  /* iPad media query */
}
/* line 48, ../../sass/layout/main.scss */
#content h2 {
  font-size: 1.8em;
  font-weight: 500;
  line-height: 1.8em;
  margin-top: 15px;
  margin-bottom: 25px;
  padding: 12px 0;
}
/* line 58, ../../sass/layout/main.scss */
#content h3 {
  font-size: 1.5em;
  font-weight: 700;
  line-height: 1.75em;
  margin-bottom: 25px;
}
@media only screen and (max-device-width: 480px) {
  /* line 44, ../../sass/layout/main.scss */
  #content {
    margin-top: 80px;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* line 44, ../../sass/layout/main.scss */
  #content {
    margin-top: 90px;
  }
}

/* line 3, ../../sass/layout/loginform.scss */
.login_template {
  margin: 1em auto;
  padding: 2em;
  margin: 60px auto;
  margin-bottom: auto;
  width: auto;
  width: 390px;
  height: 500px;
}

/* iPhone media query */
@media only screen and (max-device-width: 480px) {
  /* line 14, ../../sass/layout/loginform.scss */
  .login_template {
    width: auto;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }
}
/* iPad media query */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* line 23, ../../sass/layout/loginform.scss */
  .login_template {
    width: auto;
    margin-left: 200px;
    margin-right: 200px;
  }
}
/* line 29, ../../sass/layout/loginform.scss */
form {
  padding: 20px;
  margin-bottom: 50px;
  /* iPhone media query */
}
/* line 33, ../../sass/layout/loginform.scss */
form label {
  font-size: 1em;
  font-weight: bold;
}
@media only screen and (max-device-width: 480px) {
  /* line 29, ../../sass/layout/loginform.scss */
  form {
    margin-bottom: 20px;
  }
  /* line 42, ../../sass/layout/loginform.scss */
  form label {
    font-size: .8em;
  }
}
/* line 48, ../../sass/layout/loginform.scss */
form .input {
  padding: 7px;
  border-bottom: 0px;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px solid white;
  width: 100%;
  margin-bottom: 10px;
}

/* line 3, ../../sass/layout/headers.scss */
.login_template {
  /* iPhone media query */
}
/* line 4, ../../sass/layout/headers.scss */
.login_template .header_sm {
  text-align: center;
  font-size: 1em;
  margin: 0.5em 0;
}
/* line 11, ../../sass/layout/headers.scss */
.login_template .header_lg {
  font-size: 2em;
  text-align: center;
}
@media only screen and (max-device-width: 480px) {
  /* line 19, ../../sass/layout/headers.scss */
  .login_template .header_lg {
    font-size: 1.8em;
  }
}

/* line 26, ../../sass/layout/headers.scss */
#toolbarnav {
  left: 0px;
  top: 0px;
  padding-top: 2em;
  height: 58px;
  width: 100%;
  /* iPhone media query */
  /* iPad media query */
}
/* line 32, ../../sass/layout/headers.scss */
#toolbarnav h1 {
  padding-top: 2px;
  padding-right: 8px;
  font-size: 1.8em;
  margin-top: -20px;
}
@media only screen and (max-device-width: 480px) {
  /* line 26, ../../sass/layout/headers.scss */
  #toolbarnav {
    height: 48px;
  }
  /* line 43, ../../sass/layout/headers.scss */
  #toolbarnav h1 {
    font-size: 1.3em;
    margin-top: -30px;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* line 52, ../../sass/layout/headers.scss */
  #toolbarnav h1 {
    font-size: 1.5em;
  }
}

/* line 59, ../../sass/layout/headers.scss */
#menuoptions {
  width: 100%;
  height: 45px;
  margin-top: -18px;
  position: fixed;
  /* iPhone media query */
  /* iPad media query */
}
/* line 64, ../../sass/layout/headers.scss */
#menuoptions #step_desc {
  margin-top: -2px;
  margin-left: 47%;
  margin-right: 30%;
  font-size: .8em;
}
@media only screen and (max-device-width: 480px) {
  /* line 59, ../../sass/layout/headers.scss */
  #menuoptions {
    height: 40px;
    margin-top: -13px;
  }
  /* line 76, ../../sass/layout/headers.scss */
  #menuoptions #step_desc {
    margin-left: 38%;
    margin-right: 35%;
    font-size: .8em;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* line 86, ../../sass/layout/headers.scss */
  #menuoptions #step_desc {
    margin-left: 45%;
    margin-right: 45%;
    font-size: .8em;
  }
}

/* line 95, ../../sass/layout/headers.scss */
.designform_header {
  margin-top: -30px;
  margin-left: -30px;
  width: 499px;
  /* iPhone media query */
}
@media only screen and (max-device-width: 480px) {
  /* line 95, ../../sass/layout/headers.scss */
  .designform_header {
    width: auto;
    margin-right: -30px;
  }
}

/* line 106, ../../sass/layout/headers.scss */
#navmenu header {
  display: block;
  background: #303a44;
  height: 52px;
  margin-top: -10px;
}
/* line 111, ../../sass/layout/headers.scss */
#navmenu header h1 {
  padding-top: 10px;
  font-size: 1.5em;
  /* iPhone media query */
  /* iPad media query */
}
@media only screen and (max-device-width: 480px) {
  /* line 111, ../../sass/layout/headers.scss */
  #navmenu header h1 {
    font-size: 1.2em;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* line 111, ../../sass/layout/headers.scss */
  #navmenu header h1 {
    font-size: 1.2em;
  }
}

/* line 3, ../../sass/layout/grid.scss */
.containerDiv {
  width: 100%;
  margin-left: 0px;
}

/* line 7, ../../sass/layout/grid.scss */
.rowDivHeader {
  font-size: 1em;
}

/* line 13, ../../sass/layout/grid.scss */
.cellDivHeader {
  width: 12%;
  padding: 1px;
  font-size: 1em;
  /* iPhone media query */
  /* iPad media query */
}
@media only screen and (max-device-width: 480px) {
  /* line 13, ../../sass/layout/grid.scss */
  .cellDivHeader {
    font-size: .8em;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* line 13, ../../sass/layout/grid.scss */
  .cellDivHeader {
    font-size: 1em;
  }
}

/* line 32, ../../sass/layout/grid.scss */
.cellDiv {
  font-size: 1em;
  width: 10%;
  padding-right: 4px;
  /* iPhone media query */
  /* iPad media query */
}
@media only screen and (max-device-width: 480px) {
  /* line 32, ../../sass/layout/grid.scss */
  .cellDiv {
    font-size: .8em;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* line 32, ../../sass/layout/grid.scss */
  .cellDiv {
    font-size: 1em;
  }
}

/* line 51, ../../sass/layout/grid.scss */
.cellDiv button {
  font-weight: bold;
  width: 80px;
  height: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 15px;
}

/* line 61, ../../sass/layout/grid.scss */
.lastCell {
  border-right: none;
}

/* line 3, ../../sass/layout/thumbnail.scss */
.thumbnails {
  margin-left: -40px;
}
/* line 5, ../../sass/layout/thumbnail.scss */
.thumbnails h4 {
  font-size: 1em;
}

/* line 3, ../../sass/layout/sliderframe.scss */
.slider-frame {
  margin: 0;
  padding: 0;
  margin: 0 auto;
  width: 85px;
  height: 29px;
  margin-left: 210px;
  margin-top: -30px;
}

/* line 12, ../../sass/layout/sliderframe.scss */
.slider-button {
  margin: 0;
  padding: 0;
  width: 43px;
  height: 27px;
  line-height: 27px;
  font-size: 11px;
}

/* line 22, ../../sass/layout/sliderframe.scss */
.slider-button.on {
  margin-left: 40px;
}

/* line 23, ../../sass/layout/sliderframe.scss */
.slider-button:before {
  margin: 0;
  padding: 0;
  width: 40px;
  height: 12px;
}

/* line 3, ../../sass/layout/designform.scss */
.designform {
  padding: 30px;
  width: 500px;
  /* iPhone media query */
}
@media only screen and (max-device-width: 480px) {
  /* line 3, ../../sass/layout/designform.scss */
  .designform {
    width: auto;
  }
}
/* line 10, ../../sass/layout/designform.scss */
.designform .designform_title {
  font-size: .8em;
  margin-top: 3px;
  width: 100%;
  /* iPhone media query */
  /* iPad media query */
}
@media only screen and (max-device-width: 480px) {
  /* line 10, ../../sass/layout/designform.scss */
  .designform .designform_title {
    margin-top: -1px;
    font-size: .7em;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* line 10, ../../sass/layout/designform.scss */
  .designform .designform_title {
    margin-top: -3px;
  }
}
/* line 28, ../../sass/layout/designform.scss */
.designform label {
  font-size: .6em;
  margin-top: 20px;
}
/* line 33, ../../sass/layout/designform.scss */
.designform label a {
  margin-left: 10px;
  font-size: 1.2em;
}
/* line 40, ../../sass/layout/designform.scss */
.designform input {
  font-size: .6em;
}
/* line 45, ../../sass/layout/designform.scss */
.designform select {
  font-size: .6em;
}

/* line 3, ../../sass/layout/navmenu.scss */
#wrapper #navmenu {
  width: 300px;
  left: 0px;
  top: 0px;
  margin-top: 0px;
}

/* line 9, ../../sass/layout/navmenu.scss */
#pagebody #navmenu {
  width: 100%;
  left: 0px;
  top: 0px;
  margin-top: 55px;
  overflow: auto;
}
@media only screen and (max-device-width: 480px) {
  /* line 9, ../../sass/layout/navmenu.scss */
  #pagebody #navmenu {
    margin-top: 40px;
  }
}

/* line 21, ../../sass/layout/navmenu.scss */
#navmenu ul {
  margin-top: 0px;
}
/* line 24, ../../sass/layout/navmenu.scss */
#navmenu ul li .navlink {
  padding: 14px 11px;
  font-size: 1em;
}
/* line 31, ../../sass/layout/navmenu.scss */
#navmenu ul li .navlink::after {
  width: 6px;
  height: 6px;
  right: 30px;
  top: 45%;
}
/* line 38, ../../sass/layout/navmenu.scss */
#navmenu ul li .arrow {
  padding: 14px 11px;
  font-size: 1em;
}
/* line 45, ../../sass/layout/navmenu.scss */
#navmenu ul li .arrow::after {
  width: 6px;
  height: 6px;
  right: 30px;
  top: 45%;
}

/* line 3, ../../sass/layout/buttons.scss */
.button_login {
  width: 100%;
  font-size: 1.5em;
  border-top: 0px solid #ad64e0;
  margin-top: 1em;
  height: 35px;
}

/* iPhone media query */
@media only screen and (max-device-width: 480px) {
  /* line 14, ../../sass/layout/buttons.scss */
  .button_login {
    font-size: 1.2em;
  }
}
/* line 20, ../../sass/layout/buttons.scss */
.button_register {
  width: 100%;
  font-size: 1.2em;
  border: 0px solid #ad64e0;
  margin-top: 1em;
  height: 35px;
  margin-left: 0px;
}

/* line 31, ../../sass/layout/buttons.scss */
#toolbarnav #menu-btn_bg {
  width: 40px;
  height: 33px;
  margin-top: -6px;
  margin-left: 0px;
  position: absolute;
  /* iPhone media query */
}
@media only screen and (max-device-width: 480px) {
  /* line 31, ../../sass/layout/buttons.scss */
  #toolbarnav #menu-btn_bg {
    width: 38px;
    height: 31px;
  }
}
/* line 42, ../../sass/layout/buttons.scss */
#toolbarnav #menu-btn_bg #menu-button {
  border-bottom: 10px double white;
  border-top: 3px solid white;
  content: "";
  height: 16px;
  width: 25px;
  margin-top: -2px;
  margin-left: -3px;
  margin-bottom: 0px;
  /* iPhone media query */
}
@media only screen and (max-device-width: 480px) {
  /* line 42, ../../sass/layout/buttons.scss */
  #toolbarnav #menu-btn_bg #menu-button {
    border-bottom: 10px double white;
    border-top: 3px solid white;
    height: 17px;
    width: 24px;
    margin-top: -3px;
  }
}
/* line 61, ../../sass/layout/buttons.scss */
#toolbarnav #home_back {
  font-size: .8em;
  padding: 5px 5px 5px 30px;
  margin-left: 7px;
  margin-top: -50px;
  height: 25px;
  width: 72px;
  position: absolute;
  /* iPhone media query */
  /* iPad media query */
}
@media only screen and (max-device-width: 480px) {
  /* line 61, ../../sass/layout/buttons.scss */
  #toolbarnav #home_back {
    margin-top: -45px;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* line 61, ../../sass/layout/buttons.scss */
  #toolbarnav #home_back {
    margin-top: -55px;
  }
}
/* line 80, ../../sass/layout/buttons.scss */
#toolbarnav #home_back::before {
  width: 20px;
  height: 20px;
  left: 14px;
  top: 50%;
  margin-top: -10px;
  margin-left: -10px;
}
/* line 89, ../../sass/layout/buttons.scss */
#toolbarnav #menuoptions #home {
  font-size: .8em;
  padding: 5px 5px 5px 30px;
  margin-top: -32px;
  height: 40px;
  width: 40px;
  position: absolute;
  right: 20px;
  /* iPhone media query */
  /* iPad media query */
}
@media only screen and (max-device-width: 480px) {
  /* line 89, ../../sass/layout/buttons.scss */
  #toolbarnav #menuoptions #home {
    right: 10px;
    height: 35px;
    width: 35px;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* line 89, ../../sass/layout/buttons.scss */
  #toolbarnav #menuoptions #home {
    right: 10px;
  }
}
/* line 110, ../../sass/layout/buttons.scss */
#toolbarnav #menuoptions #home::before {
  width: 20px;
  height: 20px;
  left: 15px;
  top: 50%;
  margin-top: -11px;
  margin-left: -7px;
  /* iPhone media query */
}
@media only screen and (max-device-width: 480px) {
  /* line 110, ../../sass/layout/buttons.scss */
  #toolbarnav #menuoptions #home::before {
    left: 14px;
  }
}

/* line 124, ../../sass/layout/buttons.scss */
#nav_back {
  font-size: .8em;
  padding: 5px 5px 5px 30px;
  margin-left: 7px;
  margin-top: -60px;
  height: 30px;
  position: absolute;
  /* iPhone media query */
}
@media only screen and (max-device-width: 480px) {
  /* line 124, ../../sass/layout/buttons.scss */
  #nav_back {
    margin-top: -50px;
  }
}

/* line 138, ../../sass/layout/buttons.scss */
#nav_back::before {
  width: 20px;
  height: 20px;
  left: 15px;
  top: 50%;
  margin-top: -11px;
  margin-left: -10px;
}

/* line 146, ../../sass/layout/buttons.scss */
#nav_next {
  font-size: .8em;
  padding: 5px 30px 10px 10px;
  margin-top: -62px;
  height: 29px;
  position: absolute;
  right: 20px;
  /* iPhone media query */
  /* iPad media query */
}
@media only screen and (max-device-width: 480px) {
  /* line 146, ../../sass/layout/buttons.scss */
  #nav_next {
    margin-top: -49px;
    right: 10px;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* line 146, ../../sass/layout/buttons.scss */
  #nav_next {
    margin-top: -59px;
    right: 10px;
  }
}

/* line 166, ../../sass/layout/buttons.scss */
#nav_next::before {
  right: 15px;
  top: 50%;
  margin-top: -11px;
  margin-right: -10px;
}

/* line 172, ../../sass/layout/buttons.scss */
#timercount {
  font-size: 1.2em;
  margin-top: -30px;
  height: 38px;
  width: 40px;
  position: absolute;
  right: 70px;
  /* iPhone media query */
  /* iPad media query */
}
/* line 181, ../../sass/layout/buttons.scss */
#timercount #timercountspan {
  margin-top: -5px;
  margin-left: -7px;
}
@media only screen and (max-device-width: 480px) {
  /* line 172, ../../sass/layout/buttons.scss */
  #timercount {
    right: 50px;
    height: 34px;
    width: 38px;
    margin-top: -31px;
  }
  /* line 191, ../../sass/layout/buttons.scss */
  #timercount #timercountspan {
    margin-top: -5px;
    margin-left: 2px;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* line 172, ../../sass/layout/buttons.scss */
  #timercount {
    right: 60px;
    margin-top: -31px;
  }
  /* line 200, ../../sass/layout/buttons.scss */
  #timercount #timercountspan {
    margin-top: -5px;
    margin-left: 4px;
  }
}

/* line 206, ../../sass/layout/buttons.scss */
#viewresult {
  height: 40px;
  width: 150px;
  padding-bottom: 10px;
}

/* line 211, ../../sass/layout/buttons.scss */
#exitLab {
  width: 150px;
  height: 35px;
  margin-left: 45%;
  margin-right: 50%;
  /* iPhone media query */
  /* iPad media query */
}
@media only screen and (max-device-width: 480px) {
  /* line 211, ../../sass/layout/buttons.scss */
  #exitLab {
    margin-left: 25%;
    margin-right: 50%;
    width: 140px;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* line 211, ../../sass/layout/buttons.scss */
  #exitLab {
    margin-left: 40%;
    margin-right: 55%;
  }
}
