/* line 3, ../../sass/layout/navmenu.scss */
#wrapper #navmenu {
  width: 300px;
  left: 0px;
  top: 0px;
  margin-top: 0px;
}

/* line 9, ../../sass/layout/navmenu.scss */
#pagebody #navmenu {
  width: 100%;
  left: 0px;
  top: 0px;
  margin-top: 50px;
  overflow: auto;
}
@media only screen and (max-device-width: 480px) {
  /* line 9, ../../sass/layout/navmenu.scss */
  #pagebody #navmenu {
    margin-top: 40px;
  }
}

/* line 21, ../../sass/layout/navmenu.scss */
#navmenu ul {
  margin-top: 0px;
}
/* line 24, ../../sass/layout/navmenu.scss */
#navmenu ul li .navlink {
  padding: 14px 11px;
  font-size: 1em;
}
/* line 31, ../../sass/layout/navmenu.scss */
#navmenu ul li .navlink::after {
  width: 6px;
  height: 6px;
  right: 30px;
  top: 45%;
}
/* line 38, ../../sass/layout/navmenu.scss */
#navmenu ul li .arrow {
  padding: 14px 11px;
  font-size: 1em;
}
/* line 45, ../../sass/layout/navmenu.scss */
#navmenu ul li .arrow::after {
  width: 6px;
  height: 6px;
  right: 30px;
  top: 45%;
}
