/* line 3, ../../sass/layout/sliderframe.scss */
.slider-frame {
  margin: 0;
  padding: 0;
  margin: 0 auto;
  width: 85px;
  height: 29px;
  margin-left: 210px;
  margin-top: -30px;
}

/* line 12, ../../sass/layout/sliderframe.scss */
.slider-button {
  margin: 0;
  padding: 0;
  width: 43px;
  height: 27px;
  line-height: 27px;
  font-size: 11px;
}

/* line 22, ../../sass/layout/sliderframe.scss */
.slider-button.on {
  margin-left: 40px;
}

/* line 23, ../../sass/layout/sliderframe.scss */
.slider-button:before {
  margin: 0;
  padding: 0;
  width: 40px;
  height: 12px;
}
