@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
  /* line 4, ../../sass/iphone/buttons.scss */
  .button_login {
    width: 100%;
    font-size: 1.5em;
    border-top: 0px solid #ad64e0;
    margin-top: 1em;
    height: 35px;
  }

  /* line 13, ../../sass/iphone/buttons.scss */
  .button_register {
    width: 100%;
    font-size: 1.2em;
    border: 0px solid #ad64e0;
    margin-top: 1em;
    height: 35px;
    margin-left: 0px;
  }

  /* line 24, ../../sass/iphone/buttons.scss */
  header#toolbarnav #menu-btn_bg {
    width: 40px;
    height: 33px;
    margin-top: -6px;
    margin-left: 0px;
    position: absolute;
  }
  /* line 30, ../../sass/iphone/buttons.scss */
  header#toolbarnav #menu-btn_bg a#menu-button {
    border-bottom: 10px double white;
    border-top: 3px solid white;
    content: "";
    height: 17px;
    width: 30px;
    margin-top: -2px;
    margin-left: -5px;
    margin-bottom: 0px;
  }
  /* line 41, ../../sass/iphone/buttons.scss */
  header#toolbarnav button#home {
    font-size: .8em;
    padding: 5px 5px 5px 30px;
    margin-left: 10px;
    margin-top: -50px;
    height: 40px;
    width: 40px;
    position: absolute;
  }
  /* line 52, ../../sass/iphone/buttons.scss */
  header#toolbarnav button#home::before {
    width: 20px;
    height: 20px;
    left: 15px;
    top: 50%;
    margin-top: -11px;
    margin-left: -7px;
  }
  /* line 61, ../../sass/iphone/buttons.scss */
  header#toolbarnav #menuoptions button#home {
    font-size: .8em;
    padding: 5px 5px 5px 30px;
    margin-left: 420px;
    margin-top: -31px;
    height: 40px;
    width: 40px;
    position: absolute;
  }
  /* line 72, ../../sass/iphone/buttons.scss */
  header#toolbarnav #menuoptions button#home::before {
    width: 20px;
    height: 20px;
    left: 15px;
    top: 50%;
    margin-top: -11px;
    margin-left: -7px;
  }

  /* line 82, ../../sass/iphone/buttons.scss */
  button#nav_back {
    font-size: .8em;
    padding: 5px 5px 5px 30px;
    margin-left: 7px;
    margin-top: -46px;
    height: 30px;
    position: fixed;
  }

  /* line 92, ../../sass/iphone/buttons.scss */
  button#nav_back::before {
    width: 20px;
    height: 20px;
    left: 15px;
    top: 50%;
    margin-top: -11px;
    margin-left: -10px;
  }

  /* line 101, ../../sass/iphone/buttons.scss */
  button#nav_next {
    font-size: .8em;
    padding: 5px 30px 10px 10px;
    margin-left: 400px;
    margin-top: -45px;
    height: 29px;
    position: absolute;
  }

  /* line 111, ../../sass/iphone/buttons.scss */
  button#nav_next::before {
    right: 15px;
    top: 50%;
    margin-top: -11px;
    margin-right: -10px;
  }

  /* line 117, ../../sass/iphone/buttons.scss */
  #timercount {
    font-size: 1.2em;
    margin-left: 370px;
    margin-top: -30px;
    height: 38px;
    width: 40px;
    position: absolute;
  }
  /* line 126, ../../sass/iphone/buttons.scss */
  #timercount #timercountspan {
    margin-top: -5px;
    margin-left: 2px;
  }

  /* line 131, ../../sass/iphone/buttons.scss */
  button#viewresult {
    height: 40px;
    width: 150px;
    padding-bottom: 10px;
  }

  /* line 136, ../../sass/iphone/buttons.scss */
  #exitLab {
    width: 150px;
    height: 35px;
    margin-left: 35%;
    margin-right: 50%;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
  /* line 144, ../../sass/iphone/buttons.scss */
  .button_login {
    width: 100%;
    font-size: 1.5em;
    border-top: 0px solid #ad64e0;
    margin-top: 1em;
    height: 35px;
  }

  /* line 153, ../../sass/iphone/buttons.scss */
  .button_register {
    width: 100%;
    font-size: 1.2em;
    border: 0px solid #ad64e0;
    margin-top: 1em;
    height: 35px;
    margin-left: 0px;
  }

  /* line 164, ../../sass/iphone/buttons.scss */
  header#toolbarnav #menu-btn_bg {
    width: 40px;
    height: 33px;
    margin-top: -6px;
    margin-left: -2px;
    position: absolute;
  }
  /* line 170, ../../sass/iphone/buttons.scss */
  header#toolbarnav #menu-btn_bg a#menu-button {
    border-bottom: 10px double white;
    border-top: 3px solid white;
    content: "";
    height: 17px;
    width: 30px;
    margin-top: -3px;
    margin-left: -5px;
    margin-bottom: 0px;
  }
  /* line 181, ../../sass/iphone/buttons.scss */
  header#toolbarnav button#home {
    font-size: .8em;
    padding: 5px 5px 5px 30px;
    margin-left: 10px;
    margin-top: -50px;
    height: 40px;
    width: 40px;
    position: absolute;
  }
  /* line 192, ../../sass/iphone/buttons.scss */
  header#toolbarnav button#home::before {
    width: 20px;
    height: 20px;
    left: 15px;
    top: 50%;
    margin-top: -11px;
    margin-left: -7px;
  }
  /* line 201, ../../sass/iphone/buttons.scss */
  header#toolbarnav #menuoptions button#home {
    font-size: .8em;
    padding: 5px 5px 5px 30px;
    margin-left: 260px;
    margin-top: -31px;
    height: 40px;
    width: 40px;
    position: absolute;
  }
  /* line 212, ../../sass/iphone/buttons.scss */
  header#toolbarnav #menuoptions button#home::before {
    width: 20px;
    height: 20px;
    left: 15px;
    top: 50%;
    margin-top: -11px;
    margin-left: -7px;
  }

  /* line 222, ../../sass/iphone/buttons.scss */
  button#nav_back {
    font-size: .8em;
    padding: 5px 5px 5px 30px;
    margin-left: 7px;
    margin-top: -46px;
    height: 30px;
    position: fixed;
  }

  /* line 232, ../../sass/iphone/buttons.scss */
  button#nav_back::before {
    width: 20px;
    height: 20px;
    left: 15px;
    top: 50%;
    margin-top: -11px;
    margin-left: -10px;
  }

  /* line 241, ../../sass/iphone/buttons.scss */
  button#nav_next {
    font-size: .8em;
    padding: 5px 30px 10px 10px;
    margin-left: 240px;
    margin-top: -45px;
    height: 29px;
    position: absolute;
  }

  /* line 251, ../../sass/iphone/buttons.scss */
  button#nav_next::before {
    right: 15px;
    top: 50%;
    margin-top: -11px;
    margin-right: -10px;
  }

  /* line 257, ../../sass/iphone/buttons.scss */
  #timercount {
    font-size: 1.2em;
    margin-left: 210px;
    margin-top: -30px;
    height: 38px;
    width: 40px;
    position: absolute;
  }
  /* line 266, ../../sass/iphone/buttons.scss */
  #timercount #timercountspan {
    margin-top: -5px;
    margin-left: 2px;
  }

  /* line 272, ../../sass/iphone/buttons.scss */
  button#viewresult {
    height: 40px;
    width: 150px;
    padding-bottom: 10px;
  }

  /* line 277, ../../sass/iphone/buttons.scss */
  #exitLab {
    width: 150px;
    height: 35px;
    margin-left: 25%;
    margin-right: 50%;
  }
}
