@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
  /* line 4, ../../sass/iphone/grid.scss */
  .containerDiv {
    width: 100%;
    margin-left: 0px;
  }

  /* line 8, ../../sass/iphone/grid.scss */
  .rowDivHeader {
    font-size: 1em;
  }

  /* line 14, ../../sass/iphone/grid.scss */
  .cellDivHeader {
    width: 12%;
    padding: 1px;
    font-size: .8em;
  }

  /* line 21, ../../sass/iphone/grid.scss */
  .cellDiv {
    width: 10%;
    padding-right: 4px;
  }

  /* line 25, ../../sass/iphone/grid.scss */
  .cellDiv button {
    margin-top: 20px;
    border-radius: 15px;
  }

  /* line 29, ../../sass/iphone/grid.scss */
  .lastCell {
    border-right: none;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
  /* line 32, ../../sass/iphone/grid.scss */
  .containerDiv {
    width: 90%;
    margin-left: -10px;
  }

  /* line 36, ../../sass/iphone/grid.scss */
  .rowDivHeader {
    font-size: 1em;
  }

  /* line 42, ../../sass/iphone/grid.scss */
  .cellDivHeader {
    width: 12%;
    padding: 1px;
    font-size: .8em;
  }

  /* line 49, ../../sass/iphone/grid.scss */
  .cellDiv {
    width: 10%;
    padding-right: 4px;
  }

  /* line 53, ../../sass/iphone/grid.scss */
  .cellDiv button {
    margin-top: 20px;
    border-radius: 15px;
  }

  /* line 57, ../../sass/iphone/grid.scss */
  .lastCell {
    border-right: none;
  }
}
