@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
  /* line 4, ../../sass/iphone/loginform.scss */
  .login_template {
    margin: 1em auto;
    padding: 1em;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: auto;
    width: 460px;
  }

  /* line 12, ../../sass/iphone/loginform.scss */
  form {
    padding: 20px;
    margin-bottom: 50px;
  }
  /* line 16, ../../sass/iphone/loginform.scss */
  form label {
    font-size: 1em;
    font-weight: bold;
  }
  /* line 22, ../../sass/iphone/loginform.scss */
  form .input {
    padding: 7px;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px solid white;
    width: 100%;
    margin-bottom: 10px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
  /* line 39, ../../sass/iphone/loginform.scss */
  .login_template {
    margin: 1em auto;
    padding: 1em;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: auto;
    width: 300px;
  }

  /* line 47, ../../sass/iphone/loginform.scss */
  form {
    padding: 20px;
    margin-bottom: 50px;
  }
  /* line 51, ../../sass/iphone/loginform.scss */
  form label {
    font-size: 1em;
    font-weight: bold;
  }
  /* line 57, ../../sass/iphone/loginform.scss */
  form .input {
    padding: 7px;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px solid white;
    width: 100%;
    margin-bottom: 10px;
  }
}
