body{ background: #ffffff; padding: 0px; margin: 0px; }

#app_envelope { position: absolute; width: 100%; }

#overlay{ display: none; position: absolute; z-index: 100; background: #000000; opacity: 0.7;  filter:alpha(opacity=70); width: 100%; height: 100%; top: 0px; left: 0px; text-align: center; }

#overlay #overlaycontent{ display: block; color: #ffffff; top: 0px; left: 0px; margin-top: 20%; text-align: center; }

#wrapper { position: relative; overflow-x: hidden; overflow-y: hidden; }

#wrapper .login_template { border: 0px solid #270644; border-radius: 20px; -moz-border-radius: 20px; -webkit-border-radius: 20px; background:  -moz-linear-gradient(19% 75% 90deg,#000000, #000000); background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#000000), to(#000000)); }

#wrapper .login_template .form_header{ }

#wrapper .login_template .header_lg { color: #1589ff; font-size: 30px; font-weight: bold; }

#wrapper .login_template .header_sm { color: #ffffff; font-size: 10px; font-weight: bold; font-style: italic; }

#wrapper form { border: 0px solid #270644; border-radius: 20px; -moz-border-radius: 20px; -webkit-border-radius: 20px; background:  -moz-linear-gradient(19% 75% 90deg,#808080, #000000); background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#000000), to(#808080)); box-shadow: 0px -5px 300px #808080; -moz-box-shadow:0px -5px 300px #808080; -webkit-box-shadow:0px -5px 300px #808080; }

#wrapper form .form_element { font-size: 1em; }

#wrapper form label { font-size: 18px; font-family: arial, sans-serif; list-style-type: none; color: #fff; font-weight: normal; letter-spacing: 1px; display: block; }

#wrapper form .input { -webkit-transition-property: -webkit-box-shadow, background; -webkit-transition-duration: 0.25s; -moz-box-shadow: 0px 0px 2px #000; -webkit-box-shadow: 0px 0px 2px #000; background: #fff; }

#wrapper form .button_login{ -webkit-transition-property: -webkit-box-shadow, background; -webkit-transition-duration: 0.25s; background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#66FFFF), to(#0000cd)); background:  -moz-linear-gradient(19% 75% 90deg,#0000cd, #66FFFF); font-size: 25px; text-transform: uppercase; color: #fff; font-weight: bold; border-top: 1px solid #ad64e0; border-radius: 50px; }

#wrapper form a.forgotpassword{ color:#ffffff; font-size:.8em; cursor: pointer; }

#wrapper form span{ color:#ffffff; font-size:.8em; }

#wrapper form .button_register { -webkit-transition-property: -webkit-box-shadow, background; -webkit-transition-duration: 0.25s; width: 200px; height: 40px; background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#43bfc7), to(#3b9c9c)); background:  -moz-linear-gradient(19% 75% 90deg,#3b9c9c, #43bfc7); font-size: 25px; color: #fff; font-weight: bold; border-top: 1px solid #ad64e0; -moz-box-shadow: inset 0 0 10px #008080; -webkit-box-shadow: inset 0 0 10px #008080; margin-top: 40px; margin-left: 40px; }

#wrapper form #waiting{ background-color: #000000;  opacity: 0.5;  filter:alpha(opacity=50); }

#wrapper form #loading_img{ margin-top: 100px; }

#wrapper form #wait-box{ background-color: #000000; opacity: 0.5; filter:alpha(opacity=50); }

#wrapper #pagebody { position: absolute; z-index: 2; overflow: auto;}

#wrapper #navmenu { background: #475566; height: 100%; display: block; position: fixed; z-index: 1; }

#wrapper #pagebody header#toolbarnav { display: block; z-index: 9999;  position: fixed; background-color: #1589ff; margin-top: 0px; -moz-box-shadow: inset 0 0 15px #0000ff; -webkit-box-shadow: inset 0 0 15px #0000ff; box-shadow: inset 0 0 15px #0000ff; }

#wrapper #pagebody header#toolbarnav  #menu-btn_bg{ border:1px solid #616261; -webkit-border-bottom-right-radius: 3px; border-bottom-right-radius: 3px; -webkit-border-bottom-left-radius: 3px; -moz-border-bottom-left-radius: 3px;border-top-left-radius: 3px; -webkit-border-top-right-radius: 3px; border-top-right-radius: 3px; -webkit-border-top-left-radius: 3px; -moz-border-bottom-left-radius: 3px;border-bottom-left-radius: 3px;font-family:arial, helvetica, sans-serif; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #b2b2b2; background-color: #7d7e7d; background-image: -webkit-gradient(linear, left top, left bottom, from(#7d7e7d), to(#0e0e0e)); background-image: -webkit-linear-gradient(top, #0e0e0e, #7d7e7d); background-image: -moz-linear-gradient(top, #0e0e0e, #7d7e7d); background-image: -ms-linear-gradient(top, #0e0e0e, #7d7e7d);
 background-image: -o-linear-gradient(top, #7d7e7d, #0e0e0e); background-image: linear-gradient(to bottom, #0e0e0e, #7d7e7d);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#0e0e0e, endColorstr=#7d7e7d); background-color: #303a44; }

 #wrapper #pagebody header#toolbarnav  #menu-btn_bg a#home_nav_bg::before {  background-image:url(../img/home_gray_24x24.png); background-repeat:no-repeat; background-position:center center; content:""; width:22px; height:25px; position:absolute; }

#wrapper #pagebody header#toolbarnav  #menu-btn_bg a#menu-button{ display: block; background-color: #303a44; }

#wrapper #pagebody header#toolbarnav button#nav_back { border:1px solid #616261; border-radius: 20px; -webkit-border-radius: 20px; -moz-border-radius: 20px; font-family:arial, helvetica, sans-serif; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF; background-color: #7d7e7d; background-image: -webkit-gradient(linear, left top, left bottom, from(#7d7e7d), to(#0e0e0e)); background-image: -webkit-linear-gradient(top, #7d7e7d, #0e0e0e); background-image: -moz-linear-gradient(top, #7d7e7d, #0e0e0e); background-image: -ms-linear-gradient(top, #7d7e7d, #0e0e0e);
 background-image: -o-linear-gradient(top, #7d7e7d, #0e0e0e); background-image: linear-gradient(to bottom, #7d7e7d, #0e0e0e);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#7d7e7d, endColorstr=#0e0e0e); background-color: #303a44; position:absolute; }
 
#wrapper #pagebody header#toolbarnav button#nav_back::before { background-color:#202020; background-image:url(../img/back_16x16.png); background-repeat:no-repeat; background-position:center center; content:""; box-shadow: inset 0px 1px 0px #19120f, 0px 1px 0px #827066;  position:absolute;   border-radius: 50%; }

#wrapper #pagebody header#toolbarnav h1 { text-align: center; color: #e6e8f2; font-weight: bold; text-shadow: 1px 1px 0px #313131; }

#wrapper #pagebody header#toolbarnav button#nav_next { border:1px solid #616261; border-radius: 20px; -webkit-border-radius: 20px; -moz-border-radius: 20px; font-family:arial, helvetica, sans-serif; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF; background-color: #7d7e7d; background-image: -webkit-gradient(linear, left top, left bottom, from(#7d7e7d), to(#0e0e0e)); background-image: -webkit-linear-gradient(top, #7d7e7d, #0e0e0e); background-image: -moz-linear-gradient(top, #7d7e7d, #0e0e0e); background-image: -ms-linear-gradient(top, #7d7e7d, #0e0e0e);
 background-image: -o-linear-gradient(top, #7d7e7d, #0e0e0e); background-image: linear-gradient(to bottom, #7d7e7d, #0e0e0e);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#7d7e7d, endColorstr=#0e0e0e); background-color: #303a44; position:relative; }
 
#wrapper #pagebody header#toolbarnav button#nav_next::before { background-color:#202020; background-image:url(../img/next_16x16.png); background-repeat:no-repeat; background-position:center center; content:""; width:20px; height:20px; position:absolute; border-radius: 50%;  -moz-border-radius: 50%; -webkit-border-radius: 50%; box-shadow: inset 0px 1px 0px #19120f, 0px 1px 0px #827066; }

 #wrapper #pagebody #menuoptions{ display: block; z-index: 9999;  position: fixed; border:1px solid #616261; -webkit-border-bottom-right-radius: 3px; -moz-border-bottom-right-radius: 3px;border-bottom-right-radius: 3px; -webkit-border-bottom-left-radius: 3px; -moz-border-bottom-left-radius: 3px;border-bottom-left-radius: 3px; font-family:arial, helvetica, sans-serif; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF; background-color: #7d7e7d; background-image: -webkit-gradient(linear, left top, left bottom, from(#7d7e7d), to(#0e0e0e)); background-image: -webkit-linear-gradient(top, #7d7e7d, #0e0e0e); background-image: -moz-linear-gradient(top, #7d7e7d, #0e0e0e); background-image: -ms-linear-gradient(top, #7d7e7d, #0e0e0e);
 background-image: -o-linear-gradient(top, #7d7e7d, #0e0e0e); background-image: linear-gradient(to bottom, #7d7e7d, #0e0e0e);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#7d7e7d, endColorstr=#0e0e0e); background-color: #303a44; }

 #wrapper #pagebody #menuoptions #menu-btn_bg{ border:1px solid #616261; -webkit-border-bottom-right-radius: 3px; border-bottom-right-radius: 3px; -webkit-border-bottom-left-radius: 3px; -moz-border-bottom-left-radius: 3px;border-top-left-radius: 3px; -webkit-border-top-right-radius: 3px; border-top-right-radius: 3px; -webkit-border-top-left-radius: 3px; -moz-border-bottom-left-radius: 3px;border-bottom-left-radius: 3px;font-family:arial, helvetica, sans-serif; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #b2b2b2; background-color: #7d7e7d; background-image: -webkit-gradient(linear, left top, left bottom, from(#7d7e7d), to(#0e0e0e)); background-image: -webkit-linear-gradient(top, #0e0e0e, #7d7e7d); background-image: -moz-linear-gradient(top, #0e0e0e, #7d7e7d); background-image: -ms-linear-gradient(top, #0e0e0e, #7d7e7d);
 background-image: -o-linear-gradient(top, #7d7e7d, #0e0e0e); background-image: linear-gradient(to bottom, #0e0e0e, #7d7e7d);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#0e0e0e, endColorstr=#7d7e7d); background-color: #303a44; }

#wrapper #pagebody #menuoptions a#menu-button{ display: block; background-color: #303a44; }

#wrapper #pagebody #menuoptions #step_desc{ }

#wrapper #pagebody #menuoptions button#home_nav_bg { border:1px solid #616261; -webkit-border-bottom-right-radius: 3px; border-bottom-right-radius: 3px; -webkit-border-bottom-left-radius: 3px; -moz-border-bottom-left-radius: 3px;border-top-left-radius: 3px; -webkit-border-top-right-radius: 3px; border-top-right-radius: 3px; -webkit-border-top-left-radius: 3px; -moz-border-bottom-left-radius: 3px;border-bottom-left-radius: 3px;font-family:arial, helvetica, sans-serif; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF; background-color: #7d7e7d; background-image: -webkit-gradient(linear, left top, left bottom, from(#7d7e7d), to(#0e0e0e)); background-image: -webkit-linear-gradient(top, #0e0e0e, #7d7e7d); background-image: -moz-linear-gradient(top, #0e0e0e, #7d7e7d); background-image: -ms-linear-gradient(top, #0e0e0e, #7d7e7d);
 background-image: -o-linear-gradient(top, #7d7e7d, #0e0e0e); background-image: linear-gradient(to bottom, #0e0e0e, #7d7e7d);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#0e0e0e, endColorstr=#7d7e7d);  background-color: #303a44; }

 #wrapper #pagebody #menuoptions button#home_nav_bg::before {  background-image:url(../img/home_gray_24x24.png); background-repeat:no-repeat; background-position:center center; content:""; width:22px; height:25px; position:absolute; }

 #wrapper #pagebody #menuoptions a#home_nav { position: absolute; }

 #wrapper #pagebody #menuoptions #timercount{ border:1px solid #616261; background-color: #28a828; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px; font-family:arial, helvetica, sans-serif; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;position: absolute; }

  #wrapper #pagebody #menuoptions #viewresult{ border:1px solid #616261; background-color: #28a828; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px; font-family:arial, helvetica, sans-serif; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;position: absolute;}

#wrapper #pagebody #homecontent { display: block; background: #fff; padding: 5px 12px; margin-top: 0px;  min-height: 550px; z-index: 9999; color: #000000; }

#wrapper #pagebody #homecontent h2 { border-bottom: 1px solid #ddd; border-top: 1px solid #ddd; color: #181818; text-align: center; z-index: 9999;}

#wrapper #pagebody #homecontent h4 { font-weight: bold; color: #1589ff; }

#wrapper #pagebody #homecontent span.group_subtitle{ color: #d37a16; font-weight: bold; }

#wrapper #pagebody #homecontent .thumbnails{ }

#wrapper #pagebody #homecontent .thumbnails h4{ color: #000; }

#wrapper #pagebody #homecontent .thumbnails .btn { font-weight: bold; }

#wrapper #pagebody #content { display: block; background: #fff; padding: 5px 12px; margin-top: 0px; min-height: 550px;  z-index: 9999; }

#wrapper #pagebody #content h2 { border-bottom: 1px solid #ddd; border-top: 1px solid #ddd; color: #181818; text-align: center; z-index: 9999; }

#wrapper #pagebody #content a#home_btn1{ color: rgba(255,255,255,1); text-decoration: none; background-color: rgba(219,87,5,1);  font-family: 'Yanone Kaffeesatz'; -webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px; -webkit-box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7); -moz-box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7); box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
  text-align: center; -webkit-transition: all .1s ease; -moz-transition: all .1s ease; -ms-transition: all .1s ease; -o-transition: all .1s ease; transition: all .1s ease; font: 20px arial,sans-serif; font-weight: bold; display: block; }

#wrapper #pagebody #content a#home_btn2{ color: rgba(255,255,255,1); text-decoration: none; background-color: rgba(48, 110, 255,1); font-family: 'Yanone Kaffeesatz';
  -webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px; -webkit-box-shadow: 0px 9px 0px rgba(0,32,194,1), 0px 9px 25px rgba(0,0,0,.7); -moz-box-shadow: 0px 9px 0px rgba(0,32,194,1), 0px 9px 25px rgba(0,0,0,.7); box-shadow: 0px 9px 0px rgba(0,32,194,1), 0px 9px 25px rgba(0,0,0,.7); text-align: center;
  -webkit-transition: all .1s ease; -moz-transition: all .1s ease; -ms-transition: all .1s ease; -o-transition: all .1s ease; transition: all .1s ease; font: 20px arial,sans-serif; font-weight: bold; display: block; }

#wrapper #pagebody #content h3 { border-bottom: 1px solid #ddd; border-top: 1px solid #ddd; color: #181818; font-family: "Calibri", Verdana, Arial, sans-serif; text-transform: capitalize; color: #222; }

#wrapper #pagebody #content .containerDiv {
  /*border: 1px solid #3697f6;*/
  display:table; 
}
#wrapper #pagebody #content .rowDivHeader {
  border: 1px solid #668db6;
  background-color: #336799;
  color: white;
  font-weight: bold; display:table-row
}
#wrapper #pagebody #content .rowDiv {
  border: 1px solid #668db6;
  background-color: #cee6fe;
  display:table-row
}
#wrapper #pagebody #content .cellDivHeader {
  border-right: 1px solid white;
  display: table-cell;
  text-align: center; 
}
#wrapper #pagebody #content .cellDiv {
  border-right: 2px solid white;
  display: table-cell;
  text-align: center;
  border-bottom: 2px solid white;
}
#wrapper #pagebody #content .cellDiv button{ background-color: #1589ff; color:#ffffff; 
	border: 1px solid #1589ff; }
#wrapper #pagebody #content .lastCell {
  border-right: none;
}

#wrapper #pagebody #content .thumbnails{ }

#wrapper #pagebody #content .thumbnails h4{ color: #000; }

#wrapper #pagebody #content .thumbnails .caption span.checktext{ color: #1589ff;}

#wrapper #pagebody #content .thumbnails .caption span.textlg{  }

#wrapper #pagebody #content .thumbnails .caption span.textsm{ }

#wrapper #pagebody #content .thumbnails .caption span.bold{ font-weight: bold; }

#wrapper #pagebody #content .thumbnails .caption span.normal{ font-weight: normal; }

#wrapper #pagebody #content .thumbnails .btn { font-weight: bold; }


#wrapper #pagebody #content .content_group{ }

#wrapper #pagebody #content .content_group .textblk { color: #000; }

#wrapper #pagebody #content .content_group .lg { font-weight: bolder; font-style: normal; }

#wrapper #pagebody #content .content_group .sm { font-weight: normal; }

#wrapper #pagebody #content .content_group >ul>li>span.labshort_header { color:#d37a16; font-weight: bold; }

#wrapper #pagebody #content .content_group >ul>li>span.labshort_desc { font-weight: normal; }

#wrapper #pagebody #content .content_group span.togglediv{ font-weight:bold; color:#1589ff; }

#wrapper #pagebody #content .content_group .slider-frame { position: relative; display: block; background-color: #404040; background-repeat: no-repeat; background-image: -webkit-gradient(linear, left top, left bottom, from(#2b2b2b), to(#404040)); background-image: -webkit-linear-gradient(#2b2b2b, #404040); background-image: -moz-linear-gradient(#2b2b2b, #404040); background-image: -o-linear-gradient(top, #2b2b2b, #404040); background-image: -khtml-gradient(linear, left top, left bottom, from(#2b2b2b), to(#404040)); filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#2b2b2b', EndColorStr='#404040', GradientType=0); -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#2b2b2b', EndColorStr='#404040', GradientType=0))"; border-top: 1px solid #000; border-right: 1px solid #000; border-bottom: 1px solid #000; border-left: 1px solid #000; -moz-border-radius: 10px; border-radius: 10px; -webkit-box-shadow: inset 0px 1px 8px 0 rgba(0, 0, 0, 0.25); -moz-box-shadow: inset 0px 1px 8px 0 rgba(0, 0, 0, 0.25); box-shadow: inset 0px 1px 8px 0 rgba(0, 0, 0, 0.25); }

#wrapper #pagebody #content .content_group .slider-frame .slider-button { display: block; background:#d37a16; -moz-border-radius: 10px; border-radius: 10px; border: 1px solid #70430e; -webkit-transition: all 0.25s ease-in-out; -moz-transition: all 0.25s ease-in-out; transition: all 0.25s ease-in-out; color: #fff; font-family:Helvetica; font-weight: bold; text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); text-align: center; cursor: pointer; }

#wrapper #pagebody #content .content_group .slider-frame .slider-button.on { background: #2372c6; border: 1px solid #0f3f74; }

#wrapper #pagebody #content .content_group .slider-frame .slider-button:before { position: absolute; display: block; background: rgba(255, 255, 255, 0.25); content: ''; -moz-border-radius: 15px; border-radius: 15px; }

#wrapper #pagebody #content .content_group #description{ }

#wrapper #pagebody #content .content_group button.startlab{ -moz-box-shadow: inset 0 0 10px #254117; -webkit-box-shadow: inset 0 0 10px #254117; box-shadow: inset 0 0 10px #254117; background: #0a8a0a; color: #ffffff; font-weight: bold; }

#wrapper #pagebody #content .designform {-webkit-transition-property: -webkit-box-shadow, background; -webkit-transition-duration: 0.25s;  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#43bfc7), to(#3b9c9c)); background:  -moz-linear-gradient(19% 75% 90deg,#3b9c9c, #43bfc7); font-size: 25px; color: #fff; font-weight: bold; border-top: 1px solid #ad64e0; -moz-box-shadow: inset 0 0 10px #008080; -webkit-box-shadow: inset 0 0 10px #008080; border-radius: 15px; -moz-border-radius: 15px; -webkit-border-radius: 15px; -khtml-border-radius:15px; border: 1px solid #008080;}

#wrapper #pagebody #content .designform_header {-webkit-transition-property: -webkit-box-shadow, background; -webkit-transition-duration: 0.25s;  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#43bfc7), to(#3b9c9c)); background:  -moz-linear-gradient(19% 75% 90deg,#3b9c9c, #43bfc7); font-size: 25px; color: #fff; font-weight: bold;  -moz-box-shadow: inset 0 0 10px #008080; -webkit-box-shadow: inset 0 0 10px #008080; border-top-left-radius: 15px; -moz-border-top-left-radius: 15px; -webkit-border-top-left-radius: 15px; -khtml-border-top-left-radius:15px; border-top-right-radius: 15px; -moz-border-top-right-radius: 15px; -webkit-border-top-right-radius: 15px; -khtml-border-top-right-radius:15px;height:38px; border-bottom: 1px solid #008080;}

#wrapper #pagebody #content .designform h1.designform_title{ color:#ffffff; text-align: center; }

#wrapper #pagebody #content .designform label{ font-weight: bold;}

#wrapper #pagebody #content .designform label a{ }

#wrapper #pagebody #content .designform input{ }

#wrapper #pagebody #content .designform select{ }

#wrapper #pagebody #content #submit_design{ color: #ffffff; background-color: #ffa500; -moz-box-shadow: inset 0 0 10px #fa5000; -webkit-box-shadow: inset 0 0 10px #fa5000; box-shadow: inset 0 0 10px #fa5000; border: 1px solid #fa5000; font-weight: bolder; }

#wrapper #pagebody #content #exitLab{ color: #ffffff; background-color: #1f45fc; -moz-box-shadow: inset 0 0 10px #0000a0; -webkit-box-shadow: inset 0 0 10px #0000a0; box-shadow: inset 0 0 10px #0000a0; border: 1px solid #0000a0; font-weight: bolder; }

#wrapper #pagebody #content .a_next { background-color:#404040; font-family: 'Open Sans', sans-serif; font-size:14px; text-decoration:none; color:#fff; position:relative; padding:5px 40px 5px 15px; cursor: pointer; font-weight: bold; background-image: linear-gradient(bottom, rgb(62,51,46) 0%, rgb(101,86,78) 100%); border-radius: 5px; box-shadow: inset 0px 1px 0px #9e8d84, 0px 5px 0px 0px #202020, 0px 10px 5px #fff; }
 
#wrapper #pagebody #content .a_next::before { background-color:#202020; background-image:url(../img/next_16x16.png); background-repeat:no-repeat; background-position:center center; content:""; width:20px; height:20px; position:absolute; right:15px; top:50%; margin-top:-9px; margin-right: -10px; border-radius: 50%;  box-shadow: inset 0px 1px 0px #19120f, 0px 1px 0px #827066; }
 
#wrapper #pagebody #content .a_back { background-color:#404040; font-family: 'Open Sans', sans-serif; font-size:14px; text-decoration:none; color:#fff; cursor: pointer; font-weight: bold; background-image: linear-gradient(bottom, rgb(62,51,46) 0%, rgb(101,86,78) 100%); box-shadow: inset 0px 1px 0px #9e8d84, 0px 5px 0px 0px #202020, 0px 10px 5px #fff; border-radius: 5px; position:relative; padding:5px 15px 5px 40px; }
 
#wrapper #pagebody #content .a_back::before { background-color:#202020; background-image:url(../img/back_16x16.png); background-repeat:no-repeat; background-position:center center; content:""; box-shadow: inset 0px 1px 0px #19120f, 0px 1px 0px #827066; width:20px;  height:20px;  position:absolute;  left:15px;  top:50%;  margin-top:-9px;  margin-left: -10px; border-radius: 50%; }

#wrapper #navmenu header { display: block; background: #303a44; }

#wrapper #navmenu header h1 { text-align: center; color: #e6e8f2; font-weight: bold; text-shadow: 1px 1px 0px #313131; }

#wrapper #navmenu ul { list-style: none; background: #475566; height: 100%; }

#wrapper #navmenu ul li { display: block; }

#wrapper #navmenu ul li a { position: relative; display: block; border-bottom: 1px solid #303c4a; font-weight: bold; color: #f0f0f0; text-shadow: -1px -1px 1px #222; text-decoration: none; }

#wrapper #navmenu ul li a:hover { color: #cad0e6; text-decoration: none; }

#wrapper #navmenu ul li a::after { content: ''; display: block; border-right: 3px solid #d0d0d8; border-top: 3px solid #d0d0d8; position: absolute; -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -o-transform: rotate(45deg); transform: rotate(45deg); }

#wrapper #navmenu ul li a:hover::after { border-color: #cad0e6; }
#wrapper .space{ margin-bottom: 10px; }

.clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
.clearfix { display: inline-block; }
 
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }

