@media only screen and (min-width : 1224px) {
 * {
              margin: 0px;
              padding: 0px;
              outline: none;
       }
       body {
              /*background: #00FF99;*/
              background: #000;
       }
       .rain{
              border: 1px solid #270644;
              width: 350px;
              height: 500px;
              border-radius: 20px;
              -moz-border-radius: 20px;
              -webkit-border-radius: 20px;
              background:  -moz-linear-gradient(19% 75% 90deg,#32b232, #3232ff);
              background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#3232ff), to(#32b232));
              /*background:  -moz-linear-gradient(19% 75% 90deg,#CC66FF, #66FFFF);
              background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#66FFFF), to(#CC66FF));*/
              margin:60px auto;
              padding: 20px;
              -moz-box-shadow:0px -5px 300px #270644;
              -webkit-box-shadow:0px -5px 300px #270644;
       }
       .header_lg{
              color: Yellow; 
              font-size: 30px;
              font-weight: bold;
              position:absolute;
              margin-top: 10px;
              margin-left: 90px;
              /*padding: 30px 10px 12px 120px;*/
       }
       .heading_lng{
            margin-top: 35px;
            font-size: 35px;
            font-weight: bolder;
            color:#fff;
            margin-left: 500px;
            /*border: 1px solid #000;
            width: 30px;*/
       }
       .header_sm{
              color: White;
              font-size: 10px;
              font-weight: bold;
              font-style: italic;
              position: absolute;
              margin-left: 192px;
              margin-top: 34px;
             /* padding: 90px 10px 12px 200px;*/
       }
       form {
              border: 0px solid #270644;
              width: 300px;
              height: 400px;
              border-radius: 20px;
              -moz-border-radius: 20px;
              -webkit-border-radius: 20px;
              background:  -moz-linear-gradient(19% 75% 90deg,#32b232, #3232ff);
              background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#3232ff), to(#32b232));
              margin: 60px auto;
              padding: 20px;
              box-shadow: 0px -5px 300px #270644;
              -moz-box-shadow:0px -5px 300px #270644;
              -webkit-box-shadow:0px -5px 300px #270644;
       }
       .form_element{
        margin-top: 30px;
       }
       label {
              font-size: 18px;
              font-family: arial, sans-serif;
              list-style-type: none;
              color: #fff;
              /*text-shadow: #fff 1px 1px;*/
              font-weight: normal;
              letter-spacing: 1px;
              margin-bottom: 10px;
              /*text-transform: uppercase;*/
              display: block;
       }
       .input {
         -webkit-transition-property: -webkit-box-shadow, background;
         -webkit-transition-duration: 0.25s;
              padding: 6px;
              border-bottom: 0px;
              border-left: 0px;
              border-right: 0px;
              border-top: 2px solid #fff;
              -moz-box-shadow: 0px 0px 2px #000;
              -webkit-box-shadow: 0px 0px 2px #000;
              margin-bottom: 25px;
              background: #fff;
              width: 280px;
              height: 10px;
       }
       .submit {
         -webkit-transition-property: -webkit-box-shadow, background;
         -webkit-transition-duration: 0.25s;
              width: 220px;
              height: 40px;
              background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#66FFFF), to(#0000cd));
              background:  -moz-linear-gradient(19% 75% 90deg,#0000cd, #66FFFF);
              font-size: 25px;
              text-transform: uppercase;
              color: #fff;
              /*text-shadow: #000 1px 1px;*/
              font-weight: bold;
              border-top: 1px solid #ad64e0;
              border-radius: 50px;
              margin-top: 10px;
              margin-left: 40px;
       }
      /* input.submit:hover {
              -webkit-box-shadow: 0px 0px 2px #000;
              background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#66FFFF), to(#781bb9));
              background:  -moz-linear-gradient(19% 75% 90deg,#781bb9, #66FFFF);
       }
       input.submit:active {
              background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#781bb9), to(#66FFFF));
              background:  -moz-linear-gradient(19% 75% 90deg,#66FFFF, #781bb9);
       }
       input:hover {
              -webkit-box-shadow: 0px 0px 4px #000;
              background: #9d39e1;
       }*/
       .header {
            background: #1589ff;
            font-size: 15px;
            font-weight: bolder;
            width: 100%;
            height: 70px;
            position: absolute;

       }
       .heading{
            margin-top: 20px;
            font-size: 35px;
            font-weight: bolder;
            color:#fff;
            margin-left: 20px;
            text-align: center;
            
       }
       .left_img{
            float: left;
            margin-top: -5px;
            margin-left: 50px;
       }
       .left_img > img{
           width: 80px;
            height: 80px;
            display: block;
       }
       #left_img{
        width:80px;
        height: 80px;
       }
       .right_img{
            float: right;
            margin-top: -59px;
            margin-right: 50px;
            position: relative;
       }
       .right_img > img{
            width: 80px;
            height: 80px;
       }
       #right_img{
        width:80px;
        height: 80px;
       }
       div.history_div{
        margin-top:100px;
       }
       div.exp_div{
        margin-top: 40px;
       }
       div.history_div button{
        color: #fff;
        background: Orange;
        width: 250px;
        height:50px;
        font-size: 20px;
        font-weight: bold;
        border-radius: 20px;
       }
       div.exp_div button{
        color: #fff;
        background: Green;
        width: 250px;
        height:50px;
        font-size: 20px;
        font-weight: bold;
        border-radius: 20px;
       }
       .circleBase {
       -webkit-border-radius: 999px;
       -moz-border-radius: 999px;
        border-radius: 999px;       
    /*behavior: url(PIE.htc);*/
      }
      .squareBase{
        width: 150px;
        height: 150px;
        
      }
      .txt{
        color: #fff;
        font-size: 20px;
        font-weight: bold;
        margin-top: 30px;
        line-height: .6em;
      }
      .t1{
        background: #fbb917;
        margin-top: 180px;
        margin-left: 50px;
        /*box-shadow: inset 0 0 10px #e8a317;*/
      }

      }
      .t2{
         background: #4cc417;
         margin-top: 50px;
         margin-left: 150px;
         
      }
      }
      
      .type1 {
        width: 200px;
        height: 200px;
        background: #e8a317;
        border: 30px solid #fbb917;
        margin-top: 300px;
        margin-left: 500px;
        color: #fff;
      }
      .type2 {
        width: 200px;
        height: 200px;
        background: #41a317;
        border: 30px solid #4cc417;
        margin-top: 100px;
        margin-left: 500px;
      }
      .type1_txt{
        color: #fff;
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 60px;
      }
      .content{
        margin-top: 100px;
        margin-left: 120px;
      }
      .textwht{

        color: #fff;
        font-size: 35px;
        line-height: 1.2em;
      }

      .textblk{
        color: #000;
        font-size: 30px;
        line-height: 1.2em;
      }

      .textblue{

        color: Blue;
        font-size: 30px;
        line-height: 1.2em;
      }
      .lg{
        font-weight: bold;
        font-style: italic;
      }
      .sm{
        font-weight: normal;
        line-height: ;
      }
      .smr{
        color: White;
        font-size: 30px;
        font-weight: normal;
        line-height: 1.2em;
      }
      .txt_bh{
        color: Blue;
        font-size: 45px;
        line-height: 1.2em;
        font-weight: bold;
      }
      a{cursor: pointer; color: #fff; font-size: 1.3em;}
      a:hover { color: #0000ff;  text-decoration: none;}
      a:visited { color: #10486b; text-decoration: none;}
      #blanket {
          background-color:#111;
          opacity: 0.65;
          filter:alpha(opacity=65);
          position:absolute;
          z-index: 9001;
          top:0px;
          left:0px;
          width:100%;
          }
      #popUpDiv {
          position:absolute;
          background-color:#eeeeee;
          width:300px;
          height:300px;
          z-index: 9002;
          border-radius: 30px;
          }
      .designform{
          background-color: #52854C;
          font-family: Georgia;
          color: white;
          padding: 25px;
          width: 650px;
          border: 2px black solid;
          border-radius: 15px;
          -moz-border-radius: 15px;
          -webkit-border-radius: 15px;
          -khtml-border-radius:15px;

          box-shadow:inset 1px 1px 2px #999;
          -webkit-box-shadow:inset 1px 1px 2px #999;
          -moz-box-shadow:inset 1px 1px 2px #999;
          -khtml-box-shadow:inset 1px 1px 2px #999;
          }
          input.design{
            height: 50px;
            width:200px;
            margin-bottom: 20px;
          }
          
          .result{
            color: #fff;
            font-weight: bold;
            font-size: 20px;
            line-height: 1.3em;
          }
          .exit{
            width:180px;
            height:45px;
            background:#008000;
            position:absolute;
            left:78%;
            top:89%;
            color: #fff;
            font-weight: bold;
            font-size: 2em;
            border-radius: 100px
          }
       
}