@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation:portrait){

	#app_envelope { }

	#wrapper {   overflow: auto; margin-left: 0px;}

	#wrapper .login_template{ margin: 1em auto; padding: 1em; margin-right: 10px; margin-left: 10px; margin-bottom: auto; width: 300px; }

	#wrapper .login_template .header_lg, .header_sm { text-align: center; }

	#wrapper .login_template .header_lg { font-size: 2em; }

	#wrapper .login_template .header_sm{ font-size: 1em; margin: 0.5em 0; }

	#wrapper form { padding: 20px; margin-bottom: 50px; }

	#wrapper form .form_element{ }

	#wrapper form label { font-size: 1em; font-weight: bold; }

	#wrapper form .input { padding: 7px; border-bottom: 0px; border-left: 0px; border-right: 0px; border-top: 0px solid #fff; width: 100%; margin-bottom: 10px; }

	#wrapper form .button_login { width: 100%; font-size: 1.5em; border-top: 0px solid #ad64e0; margin-top: 1em; height: 35px; }

	#wrapper form a.forgotpassword{ }

	#wrapper form span{ }

	#wrapper form .button_register { width: 100%; font-size: 1.2em; border: 0px solid #ad64e0; margin-top: 1em; height: 35px; margin-left: 0px; }

	#wrapper form #waiting{ }

	#wrapper form #loading_img{ }

	#wrapper form #wait-box{ }

	#wrapper #pagebody { left: 0; max-width: 568px; min-width: 320px; position: relative; z-index: 99999;}

	#wrapper #navmenu { width: 300px; left: 0px; top: 0px; }

	#wrapper #pagebody header#toolbarnav { left: 0px; top: 0px; padding-top:2em; height: 48px; width: 100%; max-width: 640px; }

	#wrapper #pagebody header#toolbarnav #menu-btn_bg{ width: 40px; height: 33px; margin-top: -45px; margin-left: 20px; position: absolute;}

	 #wrapper #pagebody header#toolbarnav  #menu-btn_bg a#home_nav_bg::before { margin-left: -2px; margin-top: -8px; }

	#wrapper #pagebody header#toolbarnav #menu-btn_bg a#menu-button{ border-bottom: 10px double #d0d0d0; border-top: 3px solid #d0d0d0; content: ""; height: 17px; width: 30px; margin-top: -2px; margin-left: -5px; margin-bottom: 0px; }

	#wrapper #pagebody header#toolbarnav button#nav_back{ font-size: .8em; padding:5px 5px 5px 30px; margin-left: 7px;margin-top: -46px; height: 30px; position: fixed;}

	#wrapper #pagebody header#toolbarnav button#nav_back::before{ width:20px;  height:20px; left:15px;  top:50%;  margin-top:-11px;  margin-left: -10px; }

	#wrapper #pagebody header#toolbarnav h1 { padding-top: 2px; padding-right: 8px; font-size: 1.3em; margin-top: -34px; position: relative;}

	#wrapper #pagebody header#toolbarnav button#nav_next{ font-size:.8em; padding:5px 30px 10px 10px; margin-left: 240px;margin-top: -45px; height: 29px; position: absolute;}

	#wrapper #pagebody header#toolbarnav button#nav_next::before{ right:15px; top:50%; margin-top:-11px; margin-right: -10px; }

	#wrapper #pagebody #menuoptions{ width: 100%; height: 45px; margin-top: 45px; }

	#wrapper #pagebody #menuoptions #menu-btn_bg{ width: 40px; height: 33px; margin-top: -6px; margin-left: 0px; }

	#wrapper #pagebody #menuoptions a#menu-button{ border-bottom: 10px double #d0d0d0; border-top: 3px solid #d0d0d0; content: ""; height: 17px; width: 30px; margin-top: -2px; margin-left: -5px; margin-bottom: 0px; }

	#wrapper #pagebody #menuoptions #step_desc{ margin-top: -40px; margin-left: 35%; margin-right: 35%; font-size: .8em; }

	#wrapper #pagebody #menuoptions button#home_nav_bg{ font-size:1em; margin-right: 0px; margin-top: -26px;  float: right;  height: 33px; width: 40px; position: relative; }

	#wrapper #pagebody #menuoptions button#home_nav_bg::before{ right:15px; top:50%; margin-top:-12px; margin-right: -5px; }

	#wrapper #pagebody #menuoptions a#home_nav { font-size:1em; margin-right: 0px; margin-top: -40px; position: static; }

	#wrapper #pagebody #homecontent { margin-top: 0px; }

	#wrapper #pagebody #homecontent h2 { font-size: 1.5em; line-height: 1.5em; font-weight: bold; margin-top: 60px; margin-bottom: 25px; padding: 12px 0; }

	#wrapper #pagebody #homecontent h4 { font-size: 1.2em; line-height: 1em; margin-bottom: 5px; }

	#wrapper #pagebody #homecontent span.group_subtitle{ font-size: 1em; line-height: 1em; margin-bottom: 10px; }

	#wrapper #pagebody #homecontent #navmenu { width: 100%; left: 0px; top: -5px; }

	#wrapper #pagebody #homecontent #navmenu header { display: block; background: #303a44; height: 52px; margin-top: -18px; }

	#wrapper #pagebody #homecontent #navmenu header h1 { padding-top: 10px; font-size: 1.2em; }

	#wrapper #pagebody #homecontent #navmenu ul { margin-top: 0px; }

	#wrapper #pagebody #homecontent #navmenu ul li { }

	#wrapper #pagebody #homecontent #navmenu ul li a { padding: 14px 11px; font-size: 1em; }

	#wrapper #pagebody #homecontent #navmenu ul li a:hover { }

	#wrapper #pagebody #homecontent #navmenu ul li a::after { width: 6px; height: 6px;	right: 30px; top: 45%; }

	#wrapper #pagebody #homecontent #navmenu ul li a:hover::after { }

	#wrapper #pagebody #homecontent .thumbnails{ margin-left: 10px;}

	#wrapper #pagebody #homecontent .thumbnails h4{ font-size: 1em;}

	#wrapper #pagebody #homecontent .thumbnails .btn { }

	#wrapper #pagebody #content { margin-top: 90px; color: #000000;}

	#wrapper #content #menu-btn_bg{ width: 60px; height: 38px; margin-top: -5px; margin-left: 110px; }

	#wrapper #content a#menu-btn{ width: 53px; height: 30px; height: 5px; width: 40px; margin-top: -3px; margin-left: 0px; }

	#wrapper #pagebody #content h2 { font-size: 1.5em; line-height: 1.5em; font-weight: bold; margin-top: 60px; margin-bottom: 25px; padding: 12px 0; }

	#wrapper #pagebody #content a#home_btn1{ font-weight: 700; font-size: 1.3em; padding: 4px; height: 50px; width: 240px; margin-left: 25px; margin-bottom: 50px; }

	#wrapper #pagebody #content a#home_btn2{ padding: 4px; height: 50px; width: 240px; margin-left: 25px; margin-bottom: 50px; }

	#wrapper #pagebody #content h3 { font-weight: 700; font-size: 1.8em; line-height: 1.75em; margin-bottom: 25px; }

	#wrapper #pagebody #content .containerDiv {
  /*border: 1px solid #3697f6;*/
  width: 90%;  margin-left:-10px;
}
#wrapper #pagebody #content .rowDivHeader {
  
  font-size: 1em;
  
}
#wrapper #pagebody #content .rowDiv {
  
}
#wrapper #pagebody #content .cellDivHeader {
  width:12%;
  padding: 1px;
  font-size: .8em;
  
}
#wrapper #pagebody #content .cellDiv {
  
  width:10%;
  padding-right: 4px;
  
}
#wrapper #pagebody #content .cellDiv button{
	margin-top: 20px;border-radius: 15px;  }
#wrapper #pagebody #content .lastCell {
  border-right: none;
}

#wrapper #pagebody #content .thumbnails{ margin-left: -40px;}

#wrapper #pagebody #content .thumbnails h4{  }

#wrapper #pagebody #content .thumbnails .caption span.checktext{ font-size: .8em; }

#wrapper #pagebody #content .thumbnails .caption span.textlg{ font-size: .1em; }

#wrapper #pagebody #content .thumbnails .caption span.textsm{ font-size: .8em; }

#wrapper #pagebody #content .thumbnails .caption span.bold{  }

#wrapper #pagebody #content .thumbnails .caption span.normal{  }

#wrapper #pagebody #content .thumbnails .btn {  }

	#wrapper #pagebody #content .content_group{ margin-top: -10px; }

	#wrapper #pagebody #content .content_group .textblk { font-size: 20px; line-height: 1.2em; }

	#wrapper #pagebody #content .content_group .lg { }

	#wrapper #pagebody #content .content_group .sm { line-height: 1em; font-size:1em; }

	#wrapper #pagebody #content .content_group >ul>li>span.labshort_header, .labshort_desc{ font-size: 1.2em; line-height: 1em; } 

	#wrapper #pagebody #content .content_group >ul>li>span.labshort_desc{ font-size: 1em; line-height: 1.2em; }

	#wrapper #pagebody #content .content_group span.togglediv{ margin-left:35px; font-size: 1em; } 

	#wrapper #pagebody #content .content_group .slider-frame { margin: 0; padding: 0; margin: 0 auto; width: 85px; height: 29px; margin-left: 210px; margin-top: -30px; }

	#wrapper #pagebody #content .content_group .slider-frame .slider-button { margin: 0; padding: 0; width: 43px; height: 27px; line-height: 27px; font-size:11px; }

	#wrapper #pagebody #content .content_group .slider-frame .slider-button.on { margin-left: 40px;	}

	#wrapper #pagebody #content .content_group .slider-frame .slider-button:before { margin: 0;  padding: 0;  width: 40px;  height: 12px; }

	#wrapper #pagebody #content .content_group #description{ margin-left: 35px; }

	#wrapper #pagebody #content .content_group button.startlab{ margin-left: 90px; width: 120px; height: 30px; }

	#wrapper #pagebody #content .designform{ padding: 30px;	width: 293px; }

	#wrapper #pagebody #content .designform .designform_header{ margin-top: -30px; margin-left: -30px; width: 292px;}

	#wrapper #pagebody #content .designform h1.designform_title{ font-size:.8em; margin-top: -10px; width:100%;}

	#wrapper #pagebody #content .designform label{ font-size:.6em; margin-top: 10px; }

 	#wrapper #pagebody #content .designform label a{margin-left: 10px;}

	#wrapper #pagebody #content .designform input{ font-size:.6em;}

	#wrapper #pagebody #content .designform select{ font-size:.6em;}

	#wrapper #pagebody #content #submit_design{ width:150px; height:35px; margin-left: 70px; }

	#wrapper #pagebody #content #exitLab{ width:150px; height:35px; margin-left: 25%; margin-right: 50%; }

	#wrapper #navmenu{ margin-top: 0px;  margin-bottom: 20px; margin-right: 0px;}

	#wrapper #navmenu header { display: block; background: #303a44; height: 52px; margin-top: -18px; }

	#wrapper #navmenu header h1 { padding-top: 10px; font-size: 1.5em; }

	#wrapper #navmenu ul { margin-top: 0px; }

	#wrapper #navmenu ul li { }

	#wrapper #navmenu ul li a { padding: 14px 11px; font-size: 1em; }

	#wrapper #navmenu ul li a:hover { }

	#wrapper #navmenu ul li a::after { width: 6px; height: 6px;	right: 30px; top: 45%; }

	#wrapper #navmenu ul li a:hover::after { }


  	.clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
	.clearfix { display: inline-block; }
	html[xmlns] .clearfix { display: block; }
	* html .clearfix { height: 1%; }

}

@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation:landscape){

	#app_envelope { }

	#wrapper { overflow: auto;}

	#wrapper .login_template{ margin: 1em auto; padding: 1em; margin-right: 10px; margin-left: 10px; margin-bottom: auto; width: 300px; }

	#wrapper .login_template .header_lg, .header_sm { text-align: center; }

	#wrapper .login_template .header_lg { font-size: 2em; }

	#wrapper .login_template .header_sm{ font-size: 1em; margin: 0.5em 0; }

	#wrapper form { padding: 20px; margin-bottom: 50px; }

	#wrapper form .form_element{ }

	#wrapper form label { font-size: 1em; font-weight: bold; }

	#wrapper form .input { padding: 7px; border-bottom: 0px; border-left: 0px; border-right: 0px; border-top: 0px solid #fff; width: 100%; margin-bottom: 10px; }

	#wrapper form .button_login { width: 100%; font-size: 1.5em; border-top: 0px solid #ad64e0; margin-top: 1em; height: 35px; }

	#wrapper form a.forgotpassword{ }

	#wrapper form span{ }

	#wrapper form .button_register { width: 100%; font-size: 1.2em; border: 0px solid #ad64e0; margin-top: 1em; height: 35px; margin-left: 0px; }

	#wrapper form #waiting{ }

	#wrapper form #loading_img{ }

	#wrapper form #wait-box{ }

	#wrapper #pagebody { left: 0; max-width: 568px; min-width: 320px; position: relative; z-index: 99999;}

	#wrapper #navmenu { width: 300px; left: 0px; top: 0px; }

	#wrapper #pagebody header#toolbarnav { left: 0px; top: 0px; padding-top:2em; height: 48px; width: 100%; max-width: 640px; }

	#wrapper #pagebody header#toolbarnav #menu-btn_bg{ width: 40px; height: 33px; margin-top: -45px; margin-left: 20px; position: absolute;}

	#wrapper #pagebody header#toolbarnav #menu-btn_bg a#menu-button{ border-bottom: 10px double #d0d0d0; border-top: 3px solid #d0d0d0; content: ""; height: 17px; width: 30px; margin-top: -2px; margin-left: -5px; margin-bottom: 0px; }

	#wrapper #pagebody header#toolbarnav button#nav_back{ font-size: .8em; padding:5px 5px 5px 30px; margin-left: 7px;margin-top: -46px; height: 30px; position: fixed;}

	#wrapper #pagebody header#toolbarnav button#nav_back::before{ width:20px;  height:20px; left:15px;  top:50%;  margin-top:-11px;  margin-left: -10px; }

	#wrapper #pagebody header#toolbarnav h1 { padding-top: 2px; padding-right: 8px; font-size: 1.3em; margin-top: -34px; position: relative;}

	#wrapper #pagebody header#toolbarnav button#nav_next{ font-size:.8em; padding:5px 30px 10px 10px; margin-left: 400px; margin-top: -45px; height: 29px; position: absolute;}

	#wrapper #pagebody header#toolbarnav button#nav_next::before{ right:15px; top:50%; margin-top:-11px; margin-right: -10px; }

	#wrapper #pagebody #menuoptions{ width: 100%; height: 45px; margin-top: 55px; }

	#wrapper #pagebody #menuoptions #menu-btn_bg{ width: 40px; height: 33px; margin-top: -6px; margin-left: 0px; }

	#wrapper #pagebody #menuoptions a#menu-button{ border-bottom: 10px double #d0d0d0; border-top: 3px solid #d0d0d0; content: ""; height: 17px; width: 30px; margin-top: -2px; margin-left: -5px; margin-bottom: 0px; }

	#wrapper #pagebody #menuoptions #step_desc{ margin-top: -40px; margin-left: 40%; margin-right: 35%; font-size: .8em; }

	#wrapper #pagebody #menuoptions button#home_nav_bg{ font-size:1em; margin-right: 0px; margin-top: -26px;  float: right;  height: 33px; width: 40px; position: relative; }

	#wrapper #pagebody #menuoptions button#home_nav_bg::before{ right:15px; top:50%; margin-top:-12px; margin-right: -5px; }

	#wrapper #pagebody #menuoptions a#home_nav { font-size:1em; margin-right: 0px; margin-top: -40px; position: static; }

	#wrapper #pagebody #homecontent { margin-top: 18px; overflow: auto;}

	#wrapper #pagebody #homecontent h2 { font-size: 1.5em; line-height: 1.5em; font-weight: bold; margin-top: 60px; margin-bottom: 25px; padding: 12px 0; }

	#wrapper #pagebody #homecontent h4 { font-size: 1.2em; line-height: 1em; margin-bottom: 5px; }

	#wrapper #pagebody #homecontent span.group_subtitle{ font-size: 1em; line-height: 1em; margin-bottom: 10px; }

	#wrapper #pagebody #homecontent #navmenu { width: 80%; left: 0px; top: -20px; }

	#wrapper #pagebody #homecontent #navmenu header { display: block; background: #303a44; height: 52px; margin-top: -18px; }

	#wrapper #pagebody #homecontent #navmenu header h1 { padding-top: 10px; font-size: 1.5em; }

	#wrapper #pagebody #homecontent #navmenu ul { margin-top: 0px; }

	#wrapper #pagebody #homecontent #navmenu ul li { }

	#wrapper #pagebody #homecontent #navmenu ul li a { padding: 14px 11px; font-size: 1em; }

	#wrapper #pagebody #homecontent #navmenu ul li a:hover { }

	#wrapper #pagebody #homecontent #navmenu ul li a::after { width: 6px; height: 6px;	right: 30px; top: 45%; }

	#wrapper #pagebody #homecontent #navmenu ul li a:hover::after { }

	#wrapper #pagebody #homecontent .thumbnails{ margin-left: -40px;}

	#wrapper #pagebody #homecontent .thumbnails h4{ font-size: 1em;}

	#wrapper #pagebody #homecontent .thumbnails .btn { }

	#wrapper #pagebody #content { margin-top: 90px; color: #000000;}

	#wrapper #content #menu-btn_bg{ width: 60px; height: 38px; margin-top: -5px; margin-left: 110px; }

	#wrapper #content a#menu-btn{ width: 53px; height: 30px; height: 5px; width: 40px; margin-top: -3px; margin-left: 0px; }

	#wrapper #pagebody #content h2 { font-size: 1.5em; line-height: 1.5em; font-weight: bold; margin-top: 60px; margin-bottom: 25px; padding: 12px 0; }

	#wrapper #pagebody #content a#home_btn1{ font-weight: 700; font-size: 1.3em; padding: 4px; height: 50px; width: 240px; margin-left: 25px; margin-bottom: 50px; }

	#wrapper #pagebody #content a#home_btn2{ padding: 4px; height: 50px; width: 240px; margin-left: 25px; margin-bottom: 50px; }

	#wrapper #pagebody #content h3 { font-weight: 700; font-size: 1.8em; line-height: 1.75em; margin-bottom: 25px; }

	#wrapper #pagebody #content .containerDiv {
  /*border: 1px solid #3697f6;*/
  width: 90%;  margin-left:-12px;
}
#wrapper #pagebody #content .rowDivHeader {
  
  font-size: 1em;
  
}
#wrapper #pagebody #content .rowDiv {
  
}
#wrapper #pagebody #content .cellDivHeader {
  width:12%;
  padding: 1px;
  font-size: .8em;
  
}
#wrapper #pagebody #content .cellDiv {
  
  width:10%;
  padding-right: 4px;
  
}
#wrapper #pagebody #content .cellDiv button{
	margin-top: 20px;border-radius: 15px;  }
#wrapper #pagebody #content .lastCell {
  border-right: none;
}

#wrapper #pagebody #content .thumbnails{ }

#wrapper #pagebody #content .thumbnails h4{  }

#wrapper #pagebody #content .thumbnails .caption span.checktext{ font-size: .8em; }

#wrapper #pagebody #content .thumbnails .caption span.textlg{ font-size: .1em; }

#wrapper #pagebody #content .thumbnails .caption span.textsm{ font-size: .8em; }

#wrapper #pagebody #content .thumbnails .caption span.bold{  }

#wrapper #pagebody #content .thumbnails .caption span.normal{  }

#wrapper #pagebody #content .thumbnails .btn {  }

	#wrapper #pagebody #content .content_group{ margin-top: -10px; }

	#wrapper #pagebody #content .content_group .textblk { font-size: 20px; line-height: 1.2em; }

	#wrapper #pagebody #content .content_group .lg { }

	#wrapper #pagebody #content .content_group .sm { line-height: 1em; font-size:1em; }

	#wrapper #pagebody #content .content_group >ul>li>span.labshort_header, .labshort_desc{ font-size: 1.2em; line-height: 1em; } 

	#wrapper #pagebody #content .content_group >ul>li>span.labshort_desc{ font-size: 1em; line-height: 1.2em; }

	#wrapper #pagebody #content .content_group span.togglediv{ margin-left:35px; font-size: 1em; } 

	#wrapper #pagebody #content .content_group .slider-frame { margin: 0; padding: 0; margin: 0 auto; width: 85px; height: 29px; margin-left: 210px; margin-top: -30px; }

	#wrapper #pagebody #content .content_group .slider-frame .slider-button { margin: 0; padding: 0; width: 43px; height: 27px; line-height: 27px; font-size:11px; }

	#wrapper #pagebody #content .content_group .slider-frame .slider-button.on { margin-left: 40px;	}

	#wrapper #pagebody #content .content_group .slider-frame .slider-button:before { margin: 0;  padding: 0;  width: 40px;  height: 12px; }

	#wrapper #pagebody #content .content_group #description{ margin-left: 35px; }

	#wrapper #pagebody #content .content_group button.startlab{ margin-left: 90px; width: 120px; height: 30px; }

	#wrapper #pagebody #content .designform{ padding: 30px;	width: 393px; }

	#wrapper #pagebody #content .designform .designform_header{ margin-top: -30px; margin-left: -30px; width: 392px;}

	#wrapper #pagebody #content .designform h1.designform_title{ font-size:.8em; margin-top: -10px; width:100%;}

	#wrapper #pagebody #content .designform label{ font-size:.6em; margin-top: 10px; }

 	#wrapper #pagebody #content .designform label a{margin-left: 10px;}

	#wrapper #pagebody #content .designform input{ font-size:.6em;}

	#wrapper #pagebody #content .designform select{ font-size:.6em;}

	#wrapper #pagebody #content #submit_design{ width:150px; height:35px; margin-left: 70px; }

	#wrapper #pagebody #content #exitLab{ width:150px; height:35px; margin-left: 35%; margin-right: 50%; }

	#wrapper #navmenu header { display: block; background: #303a44; height: 52px; margin-top: -18px; }

	#wrapper #navmenu header h1 { padding-top: 10px; font-size: 1.5em; }

	#wrapper #navmenu ul { margin-top: 0px; }

	#wrapper #navmenu ul li { }

	#wrapper #navmenu ul li a { padding: 14px 11px; font-size: 1em; }

	#wrapper #navmenu ul li a:hover { }

	#wrapper #navmenu ul li a::after { width: 6px; height: 6px;	right: 30px; top: 45%; }

	#wrapper #navmenu ul li a:hover::after { }


  	.clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
	.clearfix { display: inline-block; }
	html[xmlns] .clearfix { display: block; }
	* html .clearfix { height: 1%; }
}