<div ng-controller="homeCtrl">
  <div id="home_url" style="color: White;display:none">{{location.absUrl()}}</div> 
    <div>
      <div class="header">
        <div class="heading">HOME</div>
      </div>
      <h2 id="home_welcome">Welcome to iLab !!!</h2>
      <p id="home_intro">iLab is dedicated to the proposition that online laboratories - real laboratories accessed through the Internet - can enrich science and engineering education by greatly expanding the range of experiments that the students are exposed to in the course of their education. Unlike conventional laboratories, iLabs can be shared across a university or across the world. The iLab vision is to share lab experiments as broadly as possible within higher education and beyond. The ultimate goal of the iLab project is to create a rich set of experiment resources that make it easier for faculty members around the world to share their labs over the Internet.</p>
      </div>
      <a id="btn1" ng-click="">Experiment History</a>
      <a id="btn2" ng-click="experiments()">New Experiment</a>
  </div>
</div>

