<div id="wrapper" ng-controller="homeCtrl" data-ng-init="loadDynamicContents();">
    <div id="pagebody">
        <header id="toolbarnav">
            <h1>Home</h1>
            <div id="menu-btn_bg">
                    <a href="#navmenu"  id="menu-button" ng-click="showMenu()"></a>
            </div>
        </header>
        <section id="homecontent" class="clearfix">
            <h2>Welcome to iLabs!!!</h2>
            <div id="groups">
                <h4>My Groups</h4>
                <div id="groups_content">
                    <ul id="listgroups" >
                        <li ng-repeat="group in groups">
                            <span class="group_subtitle">{{group.title}}</span> (<span >Owner: {{group.owner}}</span>)
                        </li>
                    </ul>
                </div>
                <hr/>
            </div>

            <div id="assignments">
                <h4>My Assignments</h4>
                <!--Search: <input ng-model="searchText"></br></br>-->
                    <div id="assignments_content">
                        <ul class="thumbnails">
                            
                            <li class="span4" ng-repeat="assignment in assignments | filter:searchText | orderBy:orderProp">
                                <div class="thumbnail">
                                    <!--<img src="http://placehold.it/320x200">-->
                                    <div class="caption">
                                        <h4>{{assignment.lab_journal_title}}</h4>
                                        <b>Assigned Date:</b> <em>{{assignment.assigned_date}}</em></br>
                                        <!--<p>{{nail.description}}</p>-->
                                        <p align="center"><a href="" class="btn btn-primary btn-block" ng-click="startLab(assignment.lab_journal)">Start Lab</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <hr/>
            </div>

            <div id="subscriptions">
                <h4>My Subscriptions</h4>
                <!--Search: <input ng-model="searchText"></br></br>-->
                <div id="subscriptions_content">
                    <ul class="thumbnails"  >
                        
                        <li class="span4" ng-repeat="subscription in subscriptions | filter:searchText | orderBy:orderProp">
                            <div class="thumbnail">
                                <!--<img src="http://placehold.it/320x200">-->
                                <div class="caption">
                                    <h4>{{subscription.header}}</h4>
                                    <b>Subscribed Date:</b> <em>{{subscription.subject}}</em></br>
                                    <!--<p>{{nail.description}}</p>-->
                                    <p align="center"><a href="" class="btn btn-primary btn-block" ng-click="startLab(subscription.lab_journal)">Start Lab</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <hr/>
            </div>

            <div id="labjournals">
                <h4>Labjournals</h4>
                <!--Search: <input ng-model="searchText"></br></br>-->
                <div id="labjournals_content">
                    <ul class="thumbnails"  >
                        
                        <li class="span4" ng-repeat="labjournal in labjournals | filter:searchText | orderBy:orderProp">
                            <div class="thumbnail">
                                <!--<img src="http://placehold.it/320x200">-->
                                <div class="caption">
                                    <h4>{{labjournal.title}}</h4>
                                    <b>Subject:</b> <em>{{labjournal.subject}}</em></br>
                                    <p>{{labjournal.description}}</p>
                                    <p align="center"><a href="" class="btn btn-primary btn-block" ng-click="startLab(labjournal.resource_uri)">Start Lab</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <hr/>
            </div>
        </section>
    </div>
    <div id="navmenu">
            <header>
                
            </header>
            <ul>
                <li><a href="#account.html" class="navlink">My Account</a></li>
                <li><a href="#message.html" class="navlink">Messages</a></li>
                <li><a href="#exphistory.html" class="navlink">Experiment History</a></li>
                <li><a href="#logout.html" class="navlink">Logout</a></li>
            </ul>   
    </div>
</div>




