<div id="wrapper" ng-controller="homeCtrl" data-ng-init="showMainmenu();loadDynamicContents();">
  <div id="pagebody">
    <header id="toolbarnav">
      <h1>Home</h1>
    </header>
    <section id="homecontent" class="clearfix">
      <div id="navmenu">
        <header>
          <h1>Welcome to iLabs!!!</h1>
        </header>
        <ul>
          <li><a href="" ng-click="navigatePage('mygroups')" class="navlink">My Groups</a></li>
          <li><a href="" ng-click="navigatePage('assignments')"class="navlink">My Assignments</a></li>
          <li><a href="" ng-click="navigatePage('subscriptions')" class="navlink">My Subscriptions</a></li>
          <li><a href="" ng-click="navigatePage('labjournals')" class="navlink">Labjournals</a></li>
          <!--<li ><a href="" ng-click="" class="arrow">Labjournals</a></li>-->
        </ul>   
      </div>
    </section>
  </div>
</div>