<div id="wrapper" ng-controller="loginCtrl">
  <div class="login_template">
    <div class="form_header">
    <div class="header_lg"><span>iLabCentral</span></div>
    <div class="header_sm"><span>Lab Manager</span></div>
  </div>
    <div>
      <form name="loginform" >
        <div class="form_element">
          <label for="username" id="username">Username</label>
          <input class="input" type="text" style="height:30px" ng-model="loginform.username"/>
          <label id="password">Password</label>
          <input class="input" type="password"  style="height:30px" ng-model="loginform.password"/></br>
          <button value="Login" class="button_login" ng-click="submit()">LOGIN</button><br/>
          <a class="forgotpassword" href="">Forgot your password?</a></br>
          <hr/>
          <span>If you don't have an account,</span>
          <button class="button_register">Register here</button>
        </div>
        <div id="waiting" style="display:none">
          <img id="loading_img" src="./img/ajax-loading.gif" />
        </div>
      </form> 
    </div>
  </div>
  <div class="space"></div>
</div>
