<a href="partial1">Back</a>

<h1>Radioactivity iLab</h1>
<hr/>
<strong>What is this lab about?</strong>

<p>In this lab, you can investigate the intensity of radiation over distance using a radioactive strontium-90 sample and a Geiger counter, which is an instrument used to measure radioactive radiation.</p>


<strong>How does the lab equipment work?</strong>

<p>As the strontium-90 sample decays, it emits radioactive beta particles. The Geiger counter detects the number of radioactive particles that are present at a given distance from the strontium-90 source. This equipment is located at the University of Queensland in Australia. Click on the webcam to see this equipment live in Australia.</p>


<strong>What can I do in this lab?</strong>

<p>Following the cycle of steps below, you can investigate how radiation changes over distance by collecting measurements of radiation at different distances from the source of radiation (strontium-90). Mouse over the steps below to find out more about each step of the lab. When you're ready to begin the lab, click Start below.</p>
