<!doctype html>
<html>
<head>
<link rel="stylesheet" href="../css/iphone.css">
<link rel="stylesheet" href="../css/desktop.css">
</head>
<body>
<div class="rain">
              <div class="header_lg"><span>iLabCentral</span></div>
              <div class="header_sm"><span>Lab Manager</span></div>
              <div>
                  <form action="">
                            
                            <div class="form_element">
                            <label>Username</label>
                            <input type="text" name="username" />
                            <label>Password</label>
                            <input type="password" name="password"  /></br>
                            <input type="submit" value="Login" name="submit" class="submit" />
                          </div>
                  </form> 
              </div>
</div>
</body>
</html>