
<div class="bs-example-home" style="padding-top:0px">
	<div class="row" style="margin-top:2px;">
		<small class="pull-left"> {{step_info.title}}  </small>
		<small class="pull-right"> {{step.order}}/{{step_info.number_of_steps}}  </small>
	</div>

	<div class="row">
		<h3 class="text-center" style="text-decoration:underline">{{step.journal_step_title}}</h3>
	</div>

	<markdown ng-model="step.journal_step_content"> </markdown>

	<form name="mainForm">
		<parameters guid="{{GUID}}" parameters="step.journal_parameter_group.parameters" title="parametertitle" data='data_param' stepdata='{{step.resource_uri}}'> </parameters>

		<questions guid="{{GUID}}" questions='step.questions' data='data_questions'>
		</questions>
	</form>

	<br>

	<div ng-if="timerclock">
		<timer countdown="timerclock" interval="1000">
			<div ng-show="countdown > 0" class="well well-sm">
				<h4 style="text-align:center"> Running Experiment </h4>
			  <div class="progress progress-striped active"> 
			    <div class="progress-bar" role="progressbar" style="width: {{ 100-(countdown*100/inittime) | number:0 }}%;"> {{100-(countdown*100/inittime) | number:0}} </div> 
			  </div>
			</div>		
		</timer>
	</div>

	<div ng-if="waitclock">
		<div class="row" style="text-align:center">
			<h5 ng-show="waitclock > 0">
				Time left in queue:
				<timer interval="1000" countdown="waitclock">
					<strong>
						<span ng-show="hours > 0"> {{hours}} hour, </span> <span ng-show="minutes>0"> {{minutes}} minute<span ng-show="minutes!=1">s</span> and </span> <span ng-show="seconds>0"> {{seconds}} second<span ng-show="seconds!=1">s</span> </span>
					</strong>
				</timer> 
			</h5>
		</div>
	</div>

	<div class="row" ng-show="!timerclock && !waitclock && !hasPendingRequests()">
		<div class="col-xs-6">
			<button type="button" ng-disabled="stepnumber==0" ng-click="prevQuestion()" class="btn btn-lg btn-primary btn-block">
			<i class="fa fa-chevron-left fa-lg fa-fw"></i>Back
			</button>
		</div>
		<div class="col-xs-6">
			<button type="button" ng-disabled="mainForm.$invalid" ng-click="nextQuestion()" class="btn btn-lg btn-primary btn-block">
			Next <i class="fa fa-chevron-right fa-lg fa-fw"></i>
			</button>
		</div>
	</div>
	<div class="row" style="text-align:center" ng-show="hasPendingRequests()">
		<img src="/assets/images/spinner.gif">
	</div>

<!-- 
	<br>
	<br>
	<br>

	{{step}}
 -->

<!-- 
	<br>
	<br>
	<br>

	{{step.journal_parameter_group.parameters}}
	<br>
	<br>
	<br>


	QUESTIONS:
	{{data_questions}}

	<br>
	<br>
	<br>

	PARAMS:
	{{data_param}} -->
</div>
