@import 'commons/variables';

.designform {
    padding: 30px;
    width: 500px;
    /* iPhone media query */
    @media only screen and (max-device-width: 480px){
        width: auto;
    }
    .designform_title {
        font: {
            size: .8em;
        }
        margin-top: 3px;
        width: 100%;
        /* iPhone media query */
        @media only screen and (max-device-width: 480px){
            margin-top: -1px;
            font: {
                size: .7em;
            }
        }
        /* iPad media query */
        @media only screen and (min-device-width: 768px) and (max-device-width: 1024px){
            margin-top: -3px;
        }
    }
    label {
        font:{
            size: .6em;
        }
        margin-top: 20px;
        a {
            margin-left: 10px;
            font:{
            size: 1.2em;
        }
        }
    }
    input { 
        font:{
            size: .6em;
        } 
    }
    select { 
    	font:{
            size: .6em;
        }
    }
}
