@import 'commons/variables';

#app_envelope { height: 100%; }
#wrapper { height: 100%; }
/* iPhone media query */
@media screen and (device-aspect-ratio: 2/3){
    #wrapper { height: auto;}
}
#pagebody {
    left: 0;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 99999;
}
#homecontent {
    margin-top: 18px;
    height: 100%;
    h2 {
        font:{
            size: 1.5em;
            weight: bold;
        }
        line-height: 1.5em;
        margin-top: 60px;
        margin-bottom: 25px;
        padding: 12px 0;
    }
    h4 {
        font:{
            size: 1.2em;
        }
        line-height: 1em;
        margin-bottom: 5px;
    }
    .group_subtitle {
        font:{
            size: 1em;
        }
        line-height: 1em;
        margin-bottom: 10px;
    }
}
#content {
    margin-top: 100px;
    color: $black;
    height: 100%;
    h2 {
        font:{
            size: 1.8em;
            weight: 500;
        }
        line-height: 1.8em;
        margin-top: 15px;
        margin-bottom: 25px;
        padding: 12px 0;
    }
    h3 {
        font:{
            size: 1.5em;
            weight: 700;
        }
        line-height: 1.75em;
        margin-bottom: 25px;
    }
    /* iPhone media query */
    @media screen and (device-aspect-ratio: 2/3){
        margin-top: 80px;
    }
    /* iPad media query */
    @media screen and (device-aspect-ratio: 3/4){
        margin-top: 90px;
    }
}


