<div class="bs-example-home" style="margin-left:0px;margin-right:0px;" >

  <div class="form-group" style="margin-bottom:15px;">

    <input ng-show="search && searchFlag()" type="text" class="form-control" ng-model="searchText" placeholder='Search Labjournal'>
  <!--     <span class="input-group-addon">
      <i class="fa fa-search"></i>
    </span>
 -->  </div>

<div ng-switch on="assignments.length>0" class="panel panel-default">

    <div class="panel-heading">
      <h3 class="panel-title">
        <strong>Inbox</strong>
      </h3>
    </div>

        <div ng-switch-when="true">
            <div ng-repeat="journal in assignments | filter:searchText"  ng-switch on="isSelectedInbox(journal)" class="list-group-item">
              <div class="container" ng-click="selectJournalInbox(journal)">
                <h4 class="pull-left">
                  <strong>{{journal.lab_journal_title}}</strong>
                </h4>
                <span style="margin-top:10px;" ng-switch-when="false" class="pull-right">
                  <i class="fa fa-chevron-right"></i>
                </span>
                <span class="pull-right" style="margin-top:10px;" ng-switch-when="true">
                  <i class="fa fa-chevron-down"></i>
                </span>
              </div>
              <div class="row" ng-switch-when="true">
                <dl class="container">
                  <dt>Status</dt>
                  <dd ng-show="journal.status">{{journal.status}}</dd>
                  <dd ng-show="!journal.status"> Not started </dd>
                  <dt ng-show="journal.assigned_date">Assigned Date</dt>
                  <dd ng-show="journal.assigned_date">{{journal.assigned_date | date:'shortDate'}}</dd>
                  <dt ng-show="journal.due_date">Due Date</dt>
                  <dd ng-show="journal.due_date">{{journal.due_date | date:'shortDate'}}</dd>
                  <dt>Description</dt>
                  <dd>{{journal.description}}</dd>
                </dl>
                <div class="row">
                  <button type="submit" ng-click="goToAssignments(journal)" class="btn btn-primary btn-block">
                    <span ng-show="!journal.status">Start</span> <span ng-show="journal.status"> Resume </span> Lab
                  </button>
                </div>
              </div>

            </div>
        </div>

        <div ng-switch-when="false" class="list-group-item">
          <p style="margin-left:16px;margin-top:1px;">You currently have nothing assigned</p>
        </div>

  </div>

  <div ng-switch on="suscriptions.length>0" class="panel panel-default">

        <div class="panel-heading">
          <h3 class="panel-title">
            <strong>Favorites</strong>
          </h3>
        </div>

        <div ng-switch-when="true">
            <div ng-repeat="journal in suscriptions | filter:searchText"  ng-switch on="isSelectedInbox(journal)" class="list-group-item">
              <div class="container" ng-click="selectJournalInbox(journal)">
                <h4 class="pull-left">
                  <strong>{{journal.lab_journal_title}}</strong>
                </h4>
                <span style="margin-top:10px;" ng-switch-when="false" class="pull-right">
                  <i class="fa fa-chevron-right"></i>
                </span>
                <span class="pull-right" style="margin-top:10px;" ng-switch-when="true">
                  <i class="fa fa-chevron-down"></i>
                </span>
              </div>
              <div class="row" ng-switch-when="true">
                <dl class="container">
                  <dt>Status</dt>
                  <dd ng-show="journal.status">{{journal.status}}</dd>
                  <dd ng-show="!journal.status"> Not started </dd>
                  <dt>Added Date</dt>
                  <dd>{{journal.added_date | date:'shortDate'}}</dd>
                  <dt>Description</dt>
                  <dd>{{journal.description}}</dd>
                </dl>
                <div class="row">
                  <button type="submit" ng-click="removeJournal(journal)" class="btn btn-danger btn-block">Remove Lab
                  </button>
                </div>
                <br>
                <div class="row">
                  <button type="submit" ng-click="goToSuscriptions(journal)" class="btn btn-primary btn-block">
                  <span ng-show="!journal.status"> Start </span ng-show="journal.status"> <span> Resume </span> Lab
                  </button>
                </div>
                <br>
              </div>
          </div>
        </div>

        <div ng-switch-when="false" class="panel-body">
          <p style="margin-left:16px;margin-top:8px;">You currently have no favorites</p>
        </div>

  </div>

<!-- 

{{suscriptions | json }}

<br>
<br>
<br>

{{assignments | json}}
 -->
<!-- <br>
<br>
<br>

{{ launched_instances | json }} -->

</div>

