<div class="bs-example-home" style="margin-left:0px;margin-right:0px;" >

  <div class="form-group" style="margin-bottom:15px;">

    <div ng-show="searchFlag">
    <input type="text" class="form-control" ng-model="searchText" placeholder='Search Labjournal'>
    </div>
  <!--     <span class="input-group-addon">
      <i class="fa fa-search"></i>
    </span>
 -->  </div>

  <h4> Inbox </h4>
  <div class="list-group">
    <a ng-repeat="journal in assignments | filter:searchText"class="list-group-item" ng-click="goToAssignments(journal)">
      <span style="text-align:left">{{journal.lab_journal_title}}</span>
      <span style="float:right"><i class="fa fa-chevron-right"></i></span>
    </a>
  </div>

  <h4> Favorites </h4>
  <div class="list-group">
    <a ng-repeat="journal in suscriptions | filter:searchText"class="list-group-item" ng-click="goToSuscriptions(journal)">
      <span style="text-align:left">{{journal.lab_journal_title}}</span>
      <span style="float:right"><i class="fa fa-chevron-right"></i></span>
    </a>
  </div>

  <button type="button" ng-click="explore()" class="btn btn-primary btn-lg btn-block">Explore Journals</button>

</div>


{{suscriptions | json }}

<br>
<br>
<br>

{{assignments | json}}


