<div>

<div class="bs-example-home" style="margin-left:0px;margin-right:0px;" >

   <div class="form-group" style="margin-bottom:15px;">
    <div ng-show="searchFlag">
       <input type="text" class="form-control" ng-model="searchText" placeholder='Search Labjournal'>
<!--     <span class="input-group-addon">
      <i class="fa fa-search"></i>
    </span>
 -->  
	  </div>
  </div>

  <h4> Suscribe: </h4>

  <div class="list-group">
    <div ng-repeat="journal in explore_journals" ng-click="selectJournal(journal)" ng-switch on="isSelected(journal)" class="list-group-item">
      <div class="container">
	      <h5  class="pull-left">
	      	 {{journal.title}}
	      </h5>
	      <span class="pull-right" style="margin-top:10px;" ng-switch-when="false">
		      <i class="fa fa-chevron-left"></i>
	      </span>
	      <span class="pull-right" style="margin-top:10px;" ng-switch-when="true">
		      <i class="fa fa-chevron-down"></i>
	      </span>
	   </div>
      <div class="container" ng-switch-when="true">
      		<div class="container">
				<dl class="dl-horizontal pull-left" >
					<dt> Author: </dt>
					<dd> {{journal.author}} </dd>
					<dt> Subject: </dt>
					<dd> {{journal.subject}} </dd>
				</dl>
			</div>

			<dl>
				<dt> Description: </dt>
				<dd> {{journal.description}} </dd>
			</dl>
	      <div class="row">
	      	<button type="submit" ng-click='suscribe()' class="btn btn-primary btn-block">Suscribe
	        </button>
	      </div>
      </div>
    </div>
  </div>


</div>


{{explore_journals}}

</div>