
<div class="bs-example-home" style="margin-left:0px;margin-right:0px;" >

   <div class="form-group" style="margin-bottom:15px;">
       <input ng-show="searchFlag() && search" type="text" class="form-control" ng-model="searchText" placeholder='Search Labjournal'>
<!--     <span class="input-group-addon">
      <i class="fa fa-search"></i>
    </span>
 -->  
  </div>


	<div ng-switch on="explore_journals.length>0" class="panel panel-default"> 

		<div class="panel-heading">
		  <h2 class="panel-title">
			  <strong>Available Lab Journals</strong>
		   </h2>
		</div>


	    <div ng-switch-when="true">
	    	<div ng-repeat="journal in explore_journals" ng-switch on="isSelected(journal)" class="list-group-item">
		      <div class="container" ng-click="selectJournal(journal)">
			      <h4  class="pull-left">
			      	 <strong>{{journal.title}}</strong>
			      </h4>
			      <span class="pull-right" style="margin-top:10px;" ng-switch-when="false">
				      <i class="fa fa-chevron-right"></i>
			      </span>
			      <span class="pull-right" style="margin-top:10px;" ng-switch-when="true">
				      <i class="fa fa-chevron-down"></i>
			      </span>
			   </div>
		      <div class="row" ng-switch-when="true">
						<dl class="container" >
							<dt> Author: </dt>
							<dd> {{journal.author}} </dd>
							<dt> Subject: </dt>
							<dd> {{journal.subject}} </dd>
							<dt> Description: </dt>
							<dd> {{journal.description}} </dd>
						</dl>
			      <div class="row">
			      	<button type="submit" ng-click='suscribe(journal)' class="btn btn-primary btn-block">Add to Favorites
			        </button>
			      </div>
		      </div>
	      </div>
	    </div>
	    
	    <div ng-switch-when="false" class="panel-body">
	    	<p style="margin-left:16px;margin-top:8px;">No Suscriptions Available !</p>
	    </div>

	</div>
	
</div>
