<!doctype html>
<html lang="en" ng-app="mobileApp">
<head>
  
  <title>iLab Mobile App</title>
   <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular.js"></script>
  <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.3.0.js"></script>
  <script src="http://documentcloud.github.com/underscore/underscore-min.js"></script>
  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">

  <script src="js/app.js"></script>
  <script src="js/controllers.js"></script>
  
</head>
<body ng-controller="appController">
</br>
<div align="center" ng-hide="foobar">
  <div style="border: solid 1px #000000;width: 400px;" >  
    <h1>Login</h1>  </br>
    <form name="mobform" ng-submit="submit()" >
       <!--Username:  <input ng-model="form.username" type="text" /></br></br>
       Password:  <input ng-model="form.password" type="text" /></br></br>-->
     Username:  <input ng-model="username" type="text" tooltip="Enter your username" tooltip-trigger="focus" tooltip-placement="right"/></br></br>
      Password:  <input ng-model="password" type="password" tooltip="Enter your password" tooltip-trigger="focus" tooltip-placement="right" /></br></br>
      <button style="background: Blue;color: #FFF;width: 150px">Submit</button>
     
    </form>
    
  </div>
</div>

<div ng-view></div>




<!--<ul >
    <li ng-repeat="lab in labs"><a href="">{{lab.header}}</a> - {{lab.desc}}</li>
  </ul>-->
</body>
</html>
