@media screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* line 4, ../sass/ipad_landscape.scss */
  #wrapper {
    margin: auto;
    width: 100%;
    height: 100%;
  }

  /* line 9, ../sass/ipad_landscape.scss */
  .login_template {
    margin-left: auto;
    margin-right: auto;
    height: auto;
  }
  /* line 13, ../sass/ipad_landscape.scss */
  .login_template div.form_header {
    margin-left: auto;
    margin-right: auto;
  }
  /* line 17, ../sass/ipad_landscape.scss */
  .login_template .header_sm {
    text-align: center;
    margin-top: 20px;
    font-size: 1em;
    margin: 0.5em 0;
  }
  /* line 25, ../sass/ipad_landscape.scss */
  .login_template .header_lg {
    text-align: center;
    font-size: 2em;
  }

  /* line 32, ../sass/ipad_landscape.scss */
  form {
    padding: 20px;
  }
  /* line 35, ../sass/ipad_landscape.scss */
  form label {
    font-size: 1em;
    font-weight: bold;
  }
  /* line 41, ../sass/ipad_landscape.scss */
  form .input {
    padding: 7px;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px solid white;
    width: 100%;
    margin-bottom: 10px;
  }
  /* line 50, ../sass/ipad_landscape.scss */
  form .button_login {
    width: 100%;
    font-size: 1.5em;
    border-top: 0px solid #ad64e0;
    margin-top: 1em;
    height: 35px;
  }
  /* line 61, ../sass/ipad_landscape.scss */
  form .button_register {
    width: 100%;
    font-size: 1.2em;
    border: 0px solid #ad64e0;
    margin-top: 1em;
    height: 35px;
    margin-left: 0px;
  }

  /* line 75, ../sass/ipad_landscape.scss */
  #pagebody {
    left: 0;
    max-width: 1024px;
    min-width: 768px;
  }

  /* line 80, ../sass/ipad_landscape.scss */
  header#toolbarnav {
    left: 0px;
    top: 0px;
    padding-top: 2em;
    height: 68px;
    width: 100%;
    max-width: 1024px;
  }
  /* line 87, ../sass/ipad_landscape.scss */
  header#toolbarnav button#home {
    font-size: .8em;
    padding: 5px 5px 5px 30px;
    margin-left: 10px;
    margin-top: -50px;
    height: 40px;
    width: 40px;
    position: absolute;
  }
  /* line 98, ../sass/ipad_landscape.scss */
  header#toolbarnav button#home::before {
    width: 20px;
    height: 20px;
    left: 15px;
    top: 50%;
    margin-top: -11px;
    margin-left: -7px;
  }
  /* line 106, ../sass/ipad_landscape.scss */
  header#toolbarnav h1 {
    padding-top: 2px;
    padding-right: 8px;
    font-size: 1.5em;
    margin-top: -20px;
    margin-right: 45%;
    margin-left: 38%;
    position: static;
    width: 250px;
  }
  /* line 119, ../sass/ipad_landscape.scss */
  header#toolbarnav #menuoptions button#home {
    font-size: .8em;
    padding: 5px 5px 5px 30px;
    margin-left: 950px;
    margin-top: -32px;
    height: 40px;
    width: 40px;
    position: absolute;
  }
  /* line 130, ../sass/ipad_landscape.scss */
  header#toolbarnav #menuoptions button#home::before {
    width: 20px;
    height: 20px;
    left: 15px;
    top: 50%;
    margin-top: -11px;
    margin-left: -7px;
  }

  /* line 140, ../sass/ipad_landscape.scss */
  button#nav_back {
    font-size: .8em;
    padding: 5px 5px 5px 30px;
    margin-left: 15px;
    margin-top: -56px;
    height: 30px;
    position: fixed;
  }

  /* line 150, ../sass/ipad_landscape.scss */
  button#nav_back::before {
    width: 20px;
    height: 20px;
    left: 15px;
    top: 50%;
    margin-top: -11px;
    margin-left: -10px;
  }

  /* line 158, ../sass/ipad_landscape.scss */
  button#nav_next {
    font-size: .8em;
    padding: 5px 30px 10px 10px;
    margin-left: 930px;
    margin-top: -55px;
    height: 29px;
    position: absolute;
  }

  /* line 168, ../sass/ipad_landscape.scss */
  button#nav_next::before {
    right: 15px;
    top: 50%;
    margin-top: -11px;
    margin-right: -10px;
  }

  /* line 174, ../sass/ipad_landscape.scss */
  #menuoptions {
    width: 100%;
    height: 48px;
  }
  /* line 177, ../sass/ipad_landscape.scss */
  #menuoptions #menu-btn_bg {
    width: 45px;
    height: 35px;
    margin-top: -6px;
    margin-left: 10px;
  }
  /* line 182, ../sass/ipad_landscape.scss */
  #menuoptions #menu-btn_bg a#menu-button {
    border-bottom: 12px double white;
    border-top: 4px solid white;
    content: "";
    height: 20px;
    width: 34px;
    margin-top: -2px;
    margin-left: -5px;
  }
  /* line 192, ../sass/ipad_landscape.scss */
  #menuoptions #step_desc {
    margin-top: 0px;
    margin-left: 45%;
    margin-right: 40%;
  }

  /* line 198, ../sass/ipad_landscape.scss */
  #timercount {
    font-size: 1.2em;
    margin-left: 890px;
    margin-top: -30px;
    height: 38px;
    width: 40px;
    position: absolute;
  }
  /* line 207, ../sass/ipad_landscape.scss */
  #timercount #timercountspan {
    margin-top: -5px;
    margin-left: 2px;
  }

  /* line 212, ../sass/ipad_landscape.scss */
  #homecontent {
    margin-top: 18px;
    overflow: auto;
  }
  /* line 215, ../sass/ipad_landscape.scss */
  #homecontent h2 {
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.5em;
    margin-top: 60px;
    margin-bottom: 25px;
    padding: 12px 0;
  }
  /* line 225, ../sass/ipad_landscape.scss */
  #homecontent h4 {
    font-size: 1.2em;
    line-height: 1em;
    margin-bottom: 5px;
  }
  /* line 232, ../sass/ipad_landscape.scss */
  #homecontent span.group_subtitle {
    font-size: 1em;
    line-height: 1em;
    margin-bottom: 10px;
  }
  /* line 239, ../sass/ipad_landscape.scss */
  #homecontent .thumbnails {
    margin-left: -40px;
  }
  /* line 241, ../sass/ipad_landscape.scss */
  #homecontent .thumbnails h4 {
    font-size: 1em;
  }

  /* line 249, ../sass/ipad_landscape.scss */
  #content {
    margin-top: 100px;
    color: black;
    height: auto;
    padding-bottom: 30px;
    min-height: 700px;
  }
  /* line 255, ../sass/ipad_landscape.scss */
  #content #menu-btn_bg {
    width: 60px;
    height: 38px;
    margin-top: -5px;
    margin-left: 110px;
  }
  /* line 261, ../sass/ipad_landscape.scss */
  #content a#menu-btn {
    width: 53px;
    height: 30px;
    height: 5px;
    width: 40px;
    margin-top: -3px;
    margin-left: 0px;
  }
  /* line 269, ../sass/ipad_landscape.scss */
  #content h2 {
    font-size: 1.8em;
    font-font-weight: 500;
    line-height: 1.8em;
    margin-top: 10px;
    margin-bottom: 25px;
    padding: 12px 0;
  }
  /* line 279, ../sass/ipad_landscape.scss */
  #content h3 {
    font-size: 1.8em;
    font-font-weight: 700;
    line-height: 1.75em;
    margin-bottom: 25px;
  }

  /* line 288, ../sass/ipad_landscape.scss */
  button#viewresult {
    height: 40px;
    width: 150px;
    padding-bottom: -50px;
  }

  /* line 293, ../sass/ipad_landscape.scss */
  .containerDiv {
    width: 100%;
    margin-left: 0px;
    margin-top: 100px;
  }

  /* line 298, ../sass/ipad_landscape.scss */
  .rowDivHeader {
    font-size: 1em;
  }

  /* line 304, ../sass/ipad_landscape.scss */
  .cellDivHeader {
    width: 12%;
    padding: 1px;
    font-size: .8em;
  }

  /* line 311, ../sass/ipad_landscape.scss */
  .cellDiv {
    width: 10%;
    padding-right: 4px;
    color: black;
  }

  /* line 316, ../sass/ipad_landscape.scss */
  .cellDiv button {
    margin-top: 20px;
    border-radius: 15px;
  }

  /* line 320, ../sass/ipad_landscape.scss */
  .lastCell {
    border-right: none;
  }

  /* line 321, ../sass/ipad_landscape.scss */
  .slider-frame {
    margin: 0;
    padding: 0;
    margin: 0 auto;
    width: 85px;
    height: 29px;
    margin-left: 210px;
    margin-top: -30px;
  }

  /* line 330, ../sass/ipad_landscape.scss */
  .slider-button {
    margin: 0;
    padding: 0;
    width: 43px;
    height: 27px;
    line-height: 27px;
    font-size: 11px;
  }

  /* line 340, ../sass/ipad_landscape.scss */
  .slider-button.on {
    margin-left: 40px;
  }

  /* line 341, ../sass/ipad_landscape.scss */
  .slider-button:before {
    margin: 0;
    padding: 0;
    width: 40px;
    height: 12px;
  }

  /* line 347, ../sass/ipad_landscape.scss */
  .designform {
    padding: 30px;
    width: 500px;
  }
  /* line 350, ../sass/ipad_landscape.scss */
  .designform .designform_header {
    margin-top: -30px;
    margin-left: -30px;
    width: 498px;
  }
  /* line 355, ../sass/ipad_landscape.scss */
  .designform h1.designform_title {
    font-size: .8em;
    margin-top: -5px;
    width: 100%;
  }
  /* line 362, ../sass/ipad_landscape.scss */
  .designform label {
    font-size: .6em;
    margin-top: 10px;
  }
  /* line 367, ../sass/ipad_landscape.scss */
  .designform label a {
    margin-left: 10px;
  }
  /* line 369, ../sass/ipad_landscape.scss */
  .designform input, .designform select {
    font-size: .6em;
  }

  /* line 376, ../sass/ipad_landscape.scss */
  #exitLab {
    width: 150px;
    height: 35px;
    margin-left: 45%;
    margin-right: 50%;
  }

  /* line 382, ../sass/ipad_landscape.scss */
  #wrapper #navmenu {
    width: 300px;
    left: 0px;
    top: 0px;
  }

  /* line 387, ../sass/ipad_landscape.scss */
  #pagebody #navmenu {
    width: 400px;
    left: -15px;
    top: -30px;
    position: relative;
    overflow: auto;
  }

  /* line 395, ../sass/ipad_landscape.scss */
  #navmenu header {
    display: block;
    background: #303a44;
    height: 52px;
    margin-top: -18px;
  }
  /* line 400, ../sass/ipad_landscape.scss */
  #navmenu header h1 {
    padding-top: 10px;
    font-size: 1.5em;
  }
  /* line 407, ../sass/ipad_landscape.scss */
  #navmenu ul {
    margin-top: 0px;
  }
  /* line 410, ../sass/ipad_landscape.scss */
  #navmenu ul li a.navlink {
    padding: 14px 11px;
    font-size: 1em;
  }
  /* line 415, ../sass/ipad_landscape.scss */
  #navmenu ul li a.navlink::after {
    width: 6px;
    height: 6px;
    right: 30px;
    top: 45%;
  }
  /* line 423, ../sass/ipad_landscape.scss */
  #navmenu ul li a.arrow {
    padding: 14px 11px;
    font-size: 1em;
  }
  /* line 430, ../sass/ipad_landscape.scss */
  #navmenu ul li a.arrow::after {
    width: 6px;
    height: 6px;
    right: 30px;
    top: 45%;
  }

  /* line 440, ../sass/ipad_landscape.scss */
  .clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }

  /* line 448, ../sass/ipad_landscape.scss */
  .clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }

  /* line 456, ../sass/ipad_landscape.scss */
  .clearfix {
    display: inline-block;
  }

  /* line 457, ../sass/ipad_landscape.scss */
  html[xmlns] .clearfix {
    display: block;
  }

  /* line 458, ../sass/ipad_landscape.scss */
  * html .clearfix {
    height: 1%;
  }
}
