@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
  /* line 4, ../sass/iphone_portrait.scss */
  #wrapper {
    overflow: auto;
    margin-left: 0px;
  }

  /* line 8, ../sass/iphone_portrait.scss */
  .login_template {
    margin: 1em auto;
    padding: 1em;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: auto;
    width: 300px;
  }
  /* line 15, ../sass/iphone_portrait.scss */
  .login_template .header_sm {
    text-align: center;
    font-size: 1em;
    margin: 0.5em 0;
  }
  /* line 22, ../sass/iphone_portrait.scss */
  .login_template .header_lg {
    font-size: 2em;
    text-align: center;
  }

  /* line 30, ../sass/iphone_portrait.scss */
  form {
    padding: 20px;
    margin-bottom: 50px;
  }
  /* line 34, ../sass/iphone_portrait.scss */
  form label {
    font-size: 1em;
    font-weight: bold;
  }
  /* line 40, ../sass/iphone_portrait.scss */
  form .input {
    padding: 7px;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px solid white;
    width: 100%;
    margin-bottom: 10px;
  }
  /* line 49, ../sass/iphone_portrait.scss */
  form .button_login {
    width: 100%;
    font-size: 1.5em;
    border-top: 0px solid #ad64e0;
    margin-top: 1em;
    height: 35px;
  }
  /* line 60, ../sass/iphone_portrait.scss */
  form .button_register {
    width: 100%;
    font-size: 1.2em;
    border: 0px solid #ad64e0;
    margin-top: 1em;
    height: 35px;
    margin-left: 0px;
  }

  /* line 74, ../sass/iphone_portrait.scss */
  #pagebody {
    left: 0;
    max-width: 568px;
    min-width: 320px;
    position: relative;
    z-index: 99999;
  }

  /* line 81, ../sass/iphone_portrait.scss */
  header#toolbarnav {
    left: 0px;
    top: 0px;
    padding-top: 2em;
    height: 48px;
    width: 100%;
    max-width: 640px;
  }
  /* line 88, ../sass/iphone_portrait.scss */
  header#toolbarnav button#home {
    font-size: .8em;
    padding: 5px 5px 5px 30px;
    margin-left: 10px;
    margin-top: -50px;
    height: 40px;
    width: 40px;
    position: absolute;
  }
  /* line 99, ../sass/iphone_portrait.scss */
  header#toolbarnav button#home::before {
    width: 20px;
    height: 20px;
    left: 15px;
    top: 50%;
    margin-top: -11px;
    margin-left: -7px;
  }
  /* line 107, ../sass/iphone_portrait.scss */
  header#toolbarnav h1 {
    padding-top: 2px;
    padding-right: 8px;
    font-size: 1.3em;
    margin-top: -34px;
    position: relative;
  }
  /* line 115, ../sass/iphone_portrait.scss */
  header#toolbarnav #menuoptions button#home {
    font-size: .8em;
    padding: 5px 5px 5px 30px;
    margin-left: 260px;
    margin-top: -31px;
    height: 40px;
    width: 40px;
    position: absolute;
  }
  /* line 126, ../sass/iphone_portrait.scss */
  header#toolbarnav #menuoptions button#home::before {
    width: 20px;
    height: 20px;
    left: 15px;
    top: 50%;
    margin-top: -11px;
    margin-left: -7px;
  }

  /* line 136, ../sass/iphone_portrait.scss */
  button#nav_back {
    font-size: .8em;
    padding: 5px 5px 5px 30px;
    margin-left: 7px;
    margin-top: -46px;
    height: 30px;
    position: fixed;
  }

  /* line 146, ../sass/iphone_portrait.scss */
  button#nav_back::before {
    width: 20px;
    height: 20px;
    left: 15px;
    top: 50%;
    margin-top: -11px;
    margin-left: -10px;
  }

  /* line 155, ../sass/iphone_portrait.scss */
  button#nav_next {
    font-size: .8em;
    padding: 5px 30px 10px 10px;
    margin-left: 240px;
    margin-top: -45px;
    height: 29px;
    position: absolute;
  }

  /* line 165, ../sass/iphone_portrait.scss */
  button#nav_next::before {
    right: 15px;
    top: 50%;
    margin-top: -11px;
    margin-right: -10px;
  }

  /* line 171, ../sass/iphone_portrait.scss */
  #menuoptions {
    width: 100%;
    height: 45px;
    margin-top: -5px;
    position: fixed;
  }
  /* line 176, ../sass/iphone_portrait.scss */
  #menuoptions #menu-btn_bg {
    width: 40px;
    height: 33px;
    margin-top: -6px;
    margin-left: -2px;
    position: absolute;
  }
  /* line 182, ../sass/iphone_portrait.scss */
  #menuoptions #menu-btn_bg a#menu-button {
    border-bottom: 10px double white;
    border-top: 3px solid white;
    content: "";
    height: 17px;
    width: 30px;
    margin-top: -3px;
    margin-left: -5px;
    margin-bottom: 0px;
  }
  /* line 193, ../sass/iphone_portrait.scss */
  #menuoptions #step_desc {
    margin-top: -3px;
    margin-left: 36%;
    margin-right: 35%;
    font-size: .8em;
  }

  /* line 202, ../sass/iphone_portrait.scss */
  #timercount {
    font-size: 1.2em;
    margin-left: 210px;
    margin-top: -30px;
    height: 38px;
    width: 40px;
    position: absolute;
  }
  /* line 211, ../sass/iphone_portrait.scss */
  #timercount #timercountspan {
    margin-top: -5px;
    margin-left: 2px;
  }

  /* line 217, ../sass/iphone_portrait.scss */
  #homecontent {
    margin-top: 0px;
  }
  /* line 219, ../sass/iphone_portrait.scss */
  #homecontent h2 {
    font-size: 1.2em;
    font-weight: bold;
    line-height: 1.5em;
    margin-top: 60px;
    margin-bottom: 25px;
    padding: 12px 0;
  }
  /* line 229, ../sass/iphone_portrait.scss */
  #homecontent h4 {
    font-size: 1.2em;
    line-height: 1em;
    margin-bottom: 5px;
  }
  /* line 236, ../sass/iphone_portrait.scss */
  #homecontent span.group_subtitle {
    font-size: 1em;
    line-height: 1em;
    margin-bottom: 10px;
  }
  /* line 243, ../sass/iphone_portrait.scss */
  #homecontent .thumbnails {
    margin-left: -40px;
  }
  /* line 245, ../sass/iphone_portrait.scss */
  #homecontent .thumbnails h4 {
    font-size: 1em;
  }

  /* line 253, ../sass/iphone_portrait.scss */
  #content {
    margin-top: 90px;
    color: #000000;
    height: auto;
    padding-bottom: 10px;
  }
  /* line 258, ../sass/iphone_portrait.scss */
  #content #menu-btn_bg {
    width: 60px;
    height: 38px;
    margin-top: -5px;
    margin-left: 110px;
  }
  /* line 264, ../sass/iphone_portrait.scss */
  #content a#menu-btn {
    width: 53px;
    height: 30px;
    height: 5px;
    width: 40px;
    margin-top: -3px;
    margin-left: 0px;
  }
  /* line 272, ../sass/iphone_portrait.scss */
  #content h2 {
    font-size: 1.8em;
    font-weight: 500;
    line-height: 1.5em;
    margin-top: 60px;
    margin-bottom: 25px;
    padding: 12px 0;
  }
  /* line 282, ../sass/iphone_portrait.scss */
  #content h3 {
    font-size: 1.8em;
    font-weight: 700;
    line-height: 1.75em;
    margin-bottom: 25px;
  }

  /* line 291, ../sass/iphone_portrait.scss */
  button#viewresult {
    height: 40px;
    width: 150px;
    padding-bottom: 10px;
  }

  /* line 296, ../sass/iphone_portrait.scss */
  .containerDiv {
    width: 90%;
    margin-left: -10px;
  }

  /* line 300, ../sass/iphone_portrait.scss */
  .rowDivHeader {
    font-size: 1em;
  }

  /* line 306, ../sass/iphone_portrait.scss */
  .cellDivHeader {
    width: 12%;
    padding: 1px;
    font-size: .8em;
  }

  /* line 313, ../sass/iphone_portrait.scss */
  .cellDiv {
    width: 10%;
    padding-right: 4px;
  }

  /* line 317, ../sass/iphone_portrait.scss */
  .cellDiv button {
    margin-top: 20px;
    border-radius: 15px;
  }

  /* line 321, ../sass/iphone_portrait.scss */
  .lastCell {
    border-right: none;
  }

  /* line 322, ../sass/iphone_portrait.scss */
  .slider-frame {
    margin: 0;
    padding: 0;
    margin: 0 auto;
    width: 85px;
    height: 29px;
    margin-left: 210px;
    margin-top: -30px;
  }

  /* line 331, ../sass/iphone_portrait.scss */
  .slider-button {
    margin: 0;
    padding: 0;
    width: 43px;
    height: 27px;
    line-height: 27px;
    font-size: 11px;
  }

  /* line 341, ../sass/iphone_portrait.scss */
  .slider-button.on {
    margin-left: 40px;
  }

  /* line 342, ../sass/iphone_portrait.scss */
  .slider-button:before {
    margin: 0;
    padding: 0;
    width: 40px;
    height: 12px;
  }

  /* line 348, ../sass/iphone_portrait.scss */
  .designform {
    padding: 30px;
    width: 293px;
  }
  /* line 351, ../sass/iphone_portrait.scss */
  .designform .designform_header {
    margin-top: -30px;
    margin-left: -30px;
    width: 292px;
  }
  /* line 356, ../sass/iphone_portrait.scss */
  .designform h1.designform_title {
    font-size: .8em;
    margin-top: -5px;
    width: 100%;
  }
  /* line 363, ../sass/iphone_portrait.scss */
  .designform label {
    font-size: .6em;
    margin-top: 10px;
  }
  /* line 368, ../sass/iphone_portrait.scss */
  .designform label a {
    margin-left: 10px;
  }
  /* line 370, ../sass/iphone_portrait.scss */
  .designform input, .designform select {
    font-size: .6em;
  }

  /* line 377, ../sass/iphone_portrait.scss */
  #exitLab {
    width: 150px;
    height: 35px;
    margin-left: 25%;
    margin-right: 50%;
  }

  /* line 383, ../sass/iphone_portrait.scss */
  #wrapper #navmenu {
    width: 300px;
    left: 0px;
    top: 0px;
  }

  /* line 388, ../sass/iphone_portrait.scss */
  #pagebody #navmenu {
    width: 340px;
    left: -15px;
    top: 45px;
    position: relative;
  }

  /* line 395, ../sass/iphone_portrait.scss */
  #navmenu header {
    display: block;
    background: #303a44;
    height: 52px;
    margin-top: -18px;
  }
  /* line 400, ../sass/iphone_portrait.scss */
  #navmenu header h1 {
    padding-top: 10px;
    font-size: 1.5em;
  }
  /* line 407, ../sass/iphone_portrait.scss */
  #navmenu ul {
    margin-top: 0px;
  }
  /* line 410, ../sass/iphone_portrait.scss */
  #navmenu ul li a.navlink {
    padding: 14px 11px;
    font-size: 1em;
  }
  /* line 417, ../sass/iphone_portrait.scss */
  #navmenu ul li a.navlink::after {
    width: 6px;
    height: 6px;
    right: 30px;
    top: 45%;
  }
  /* line 424, ../sass/iphone_portrait.scss */
  #navmenu ul li a.arrow {
    padding: 14px 11px;
    font-size: 1em;
  }
  /* line 431, ../sass/iphone_portrait.scss */
  #navmenu ul li a.arrow::after {
    width: 6px;
    height: 6px;
    right: 30px;
    top: 45%;
  }

  /* line 441, ../sass/iphone_portrait.scss */
  .clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }

  /* line 449, ../sass/iphone_portrait.scss */
  .clearfix {
    display: inline-block;
  }

  /* line 450, ../sass/iphone_portrait.scss */
  html[xmlns] .clearfix {
    display: block;
  }

  /* line 451, ../sass/iphone_portrait.scss */
  * html .clearfix {
    height: 1%;
  }
}
