@media screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* line 4, ../../sass/ipad/buttons.scss */
  .button_login {
    width: 100%;
    font-size: 1.5em;
    border-top: 0px solid #ad64e0;
    margin-top: 1em;
    height: 35px;
  }

  /* line 13, ../../sass/ipad/buttons.scss */
  .button_register {
    width: 100%;
    font-size: 1.2em;
    border: 0px solid #ad64e0;
    margin-top: 1em;
    height: 35px;
    margin-left: 0px;
  }

  /* line 24, ../../sass/ipad/buttons.scss */
  header#toolbarnav #menu-btn_bg {
    width: 45px;
    height: 35px;
    margin-top: -6px;
    margin-left: 10px;
  }
  /* line 29, ../../sass/ipad/buttons.scss */
  header#toolbarnav #menu-btn_bg a#menu-button {
    border-bottom: 12px double white;
    border-top: 4px solid white;
    content: "";
    height: 20px;
    width: 34px;
    margin-top: -2px;
    margin-left: -5px;
  }
  /* line 39, ../../sass/ipad/buttons.scss */
  header#toolbarnav button#home {
    font-size: .8em;
    padding: 5px 5px 5px 30px;
    margin-left: 10px;
    margin-top: -50px;
    height: 40px;
    width: 40px;
    position: absolute;
  }
  /* line 50, ../../sass/ipad/buttons.scss */
  header#toolbarnav button#home::before {
    width: 20px;
    height: 20px;
    left: 15px;
    top: 50%;
    margin-top: -11px;
    margin-left: -7px;
  }
  /* line 59, ../../sass/ipad/buttons.scss */
  header#toolbarnav #menuoptions button#home {
    font-size: .8em;
    padding: 5px 5px 5px 30px;
    margin-left: 950px;
    margin-top: -32px;
    height: 40px;
    width: 40px;
    position: absolute;
  }
  /* line 70, ../../sass/ipad/buttons.scss */
  header#toolbarnav #menuoptions button#home::before {
    width: 20px;
    height: 20px;
    left: 15px;
    top: 50%;
    margin-top: -11px;
    margin-left: -7px;
  }

  /* line 80, ../../sass/ipad/buttons.scss */
  button#nav_back {
    font-size: .8em;
    padding: 5px 5px 5px 30px;
    margin-left: 15px;
    margin-top: -56px;
    height: 30px;
    position: fixed;
  }

  /* line 90, ../../sass/ipad/buttons.scss */
  button#nav_back::before {
    width: 20px;
    height: 20px;
    left: 15px;
    top: 50%;
    margin-top: -11px;
    margin-left: -10px;
  }

  /* line 98, ../../sass/ipad/buttons.scss */
  button#nav_next {
    font-size: .8em;
    padding: 5px 30px 10px 10px;
    margin-left: 930px;
    margin-top: -55px;
    height: 29px;
    position: absolute;
  }

  /* line 108, ../../sass/ipad/buttons.scss */
  button#nav_next::before {
    right: 15px;
    top: 50%;
    margin-top: -11px;
    margin-right: -10px;
  }

  /* line 114, ../../sass/ipad/buttons.scss */
  #timercount {
    font-size: 1.2em;
    margin-left: 890px;
    margin-top: -30px;
    height: 38px;
    width: 40px;
    position: absolute;
  }
  /* line 123, ../../sass/ipad/buttons.scss */
  #timercount #timercountspan {
    margin-top: -5px;
    margin-left: 2px;
  }

  /* line 128, ../../sass/ipad/buttons.scss */
  button#viewresult {
    height: 40px;
    width: 150px;
    padding-bottom: -50px;
  }

  /* line 133, ../../sass/ipad/buttons.scss */
  #exitLab {
    width: 150px;
    height: 35px;
    margin-left: 45%;
    margin-right: 50%;
  }
}
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* line 141, ../../sass/ipad/buttons.scss */
  .button_login {
    width: 100%;
    font-size: 1.5em;
    border-top: 0px solid #ad64e0;
    margin-top: 1em;
    height: 35px;
  }

  /* line 150, ../../sass/ipad/buttons.scss */
  .button_register {
    width: 100%;
    font-size: 1.2em;
    border: 0px solid #ad64e0;
    margin-top: 1em;
    height: 35px;
    margin-left: 0px;
  }

  /* line 161, ../../sass/ipad/buttons.scss */
  header#toolbarnav #menu-btn_bg {
    width: 45px;
    height: 35px;
    margin-top: -6px;
    margin-left: 10px;
  }
  /* line 166, ../../sass/ipad/buttons.scss */
  header#toolbarnav #menu-btn_bg a#menu-button {
    border-bottom: 12px double white;
    border-top: 4px solid white;
    content: "";
    height: 20px;
    width: 34px;
    margin-top: -3px;
    margin-left: -5px;
  }
  /* line 176, ../../sass/ipad/buttons.scss */
  header#toolbarnav button#home {
    font-size: .8em;
    padding: 5px 5px 5px 30px;
    margin-left: 10px;
    margin-top: -50px;
    height: 40px;
    width: 40px;
    position: absolute;
  }
  /* line 187, ../../sass/ipad/buttons.scss */
  header#toolbarnav button#home::before {
    width: 20px;
    height: 20px;
    left: 15px;
    top: 50%;
    margin-top: -11px;
    margin-left: -7px;
  }
  /* line 196, ../../sass/ipad/buttons.scss */
  header#toolbarnav #menuoptions button#home {
    font-size: .8em;
    padding: 5px 5px 5px 30px;
    margin-left: 700px;
    margin-top: -32px;
    height: 40px;
    width: 40px;
    position: absolute;
  }
  /* line 207, ../../sass/ipad/buttons.scss */
  header#toolbarnav #menuoptions button#home::before {
    width: 20px;
    height: 20px;
    left: 15px;
    top: 50%;
    margin-top: -11px;
    margin-left: -7px;
  }

  /* line 217, ../../sass/ipad/buttons.scss */
  button#nav_back {
    font-size: .8em;
    padding: 5px 5px 5px 30px;
    margin-left: 15px;
    margin-top: -56px;
    height: 30px;
    position: fixed;
  }

  /* line 227, ../../sass/ipad/buttons.scss */
  button#nav_back::before {
    width: 20px;
    height: 20px;
    left: 15px;
    top: 50%;
    margin-top: -11px;
    margin-left: -10px;
  }

  /* line 235, ../../sass/ipad/buttons.scss */
  button#nav_next {
    font-size: .8em;
    padding: 5px 30px 10px 10px;
    margin-left: 680px;
    margin-top: -55px;
    height: 29px;
    position: absolute;
  }

  /* line 245, ../../sass/ipad/buttons.scss */
  button#nav_next::before {
    right: 15px;
    top: 50%;
    margin-top: -11px;
    margin-right: -10px;
  }

  /* line 251, ../../sass/ipad/buttons.scss */
  #timercount {
    font-size: 1.2em;
    margin-left: 640px;
    margin-top: -30px;
    height: 38px;
    width: 40px;
    position: absolute;
  }
  /* line 260, ../../sass/ipad/buttons.scss */
  #timercount #timercountspan {
    margin-top: -5px;
    margin-left: 2px;
  }

  /* line 265, ../../sass/ipad/buttons.scss */
  button#viewresult {
    height: 40px;
    width: 150px;
    padding-bottom: -50px;
  }

  /* line 270, ../../sass/ipad/buttons.scss */
  #exitLab {
    width: 150px;
    height: 35px;
    margin-left: 45%;
    margin-right: 50%;
  }
}
