@media screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* line 4, ../../sass/ipad/grid.scss */
  .containerDiv {
    width: 100%;
    margin-left: 0px;
    margin-top: 100px;
  }

  /* line 9, ../../sass/ipad/grid.scss */
  .rowDivHeader {
    font-size: 1em;
  }

  /* line 15, ../../sass/ipad/grid.scss */
  .cellDivHeader {
    width: 12%;
    padding: 1px;
    font-size: .8em;
  }

  /* line 22, ../../sass/ipad/grid.scss */
  .cellDiv {
    width: 10%;
    padding-right: 4px;
    color: black;
  }

  /* line 27, ../../sass/ipad/grid.scss */
  .cellDiv button {
    margin-top: 20px;
    border-radius: 15px;
  }

  /* line 31, ../../sass/ipad/grid.scss */
  .lastCell {
    border-right: none;
  }
}
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* line 34, ../../sass/ipad/grid.scss */
  .containerDiv {
    width: 100%;
    margin-left: 0px;
    margin-top: 100px;
  }

  /* line 39, ../../sass/ipad/grid.scss */
  .rowDivHeader {
    font-size: 1em;
  }

  /* line 45, ../../sass/ipad/grid.scss */
  .cellDivHeader {
    width: 12%;
    padding: 1px;
    font-size: .8em;
  }

  /* line 52, ../../sass/ipad/grid.scss */
  .cellDiv {
    width: 10%;
    padding-right: 4px;
    color: black;
  }

  /* line 57, ../../sass/ipad/grid.scss */
  .cellDiv button {
    margin-top: 20px;
    border-radius: 15px;
  }

  /* line 61, ../../sass/ipad/grid.scss */
  .lastCell {
    border-right: none;
  }
}
