@media screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* line 5, ../../sass/ipad/main.scss */
  #wrapper {
    margin: auto;
    width: 100%;
    height: 100%;
  }

  /* line 10, ../../sass/ipad/main.scss */
  #pagebody {
    left: 0;
    max-width: 1024px;
    min-width: 768px;
  }

  /* line 15, ../../sass/ipad/main.scss */
  #homecontent {
    margin-top: 18px;
    overflow: auto;
  }
  /* line 18, ../../sass/ipad/main.scss */
  #homecontent h2 {
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.5em;
    margin-top: 60px;
    margin-bottom: 25px;
    padding: 12px 0;
  }
  /* line 28, ../../sass/ipad/main.scss */
  #homecontent h4 {
    font-size: 1.2em;
    line-height: 1em;
    margin-bottom: 5px;
  }
  /* line 35, ../../sass/ipad/main.scss */
  #homecontent span.group_subtitle {
    font-size: 1em;
    line-height: 1em;
    margin-bottom: 10px;
  }

  /* line 43, ../../sass/ipad/main.scss */
  #content {
    margin-top: 100px;
    color: black;
    height: auto;
    padding-bottom: 30px;
    min-height: 700px;
  }
  /* line 49, ../../sass/ipad/main.scss */
  #content h2 {
    font-size: 1.8em;
    font-font-weight: 500;
    line-height: 1.8em;
    margin-top: 10px;
    margin-bottom: 25px;
    padding: 12px 0;
  }
  /* line 59, ../../sass/ipad/main.scss */
  #content h3 {
    font-size: 1.8em;
    font-font-weight: 700;
    line-height: 1.75em;
    margin-bottom: 25px;
  }
}
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* line 71, ../../sass/ipad/main.scss */
  #wrapper {
    margin: auto;
    width: 100%;
    height: 100%;
  }

  /* line 76, ../../sass/ipad/main.scss */
  #pagebody {
    left: 0;
    max-width: 1024px;
    min-width: 768px;
  }

  /* line 81, ../../sass/ipad/main.scss */
  #homecontent {
    margin-top: 18px;
    overflow: auto;
  }
  /* line 84, ../../sass/ipad/main.scss */
  #homecontent h2 {
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.5em;
    margin-top: 60px;
    margin-bottom: 25px;
    padding: 12px 0;
  }
  /* line 94, ../../sass/ipad/main.scss */
  #homecontent h4 {
    font-size: 1.2em;
    line-height: 1em;
    margin-bottom: 5px;
  }
  /* line 101, ../../sass/ipad/main.scss */
  #homecontent span.group_subtitle {
    font-size: 1em;
    line-height: 1em;
    margin-bottom: 10px;
  }

  /* line 109, ../../sass/ipad/main.scss */
  #content {
    margin-top: 100px;
    color: black;
    padding-bottom: 10px;
  }
  /* line 113, ../../sass/ipad/main.scss */
  #content h2 {
    font-size: 1.8em;
    font-weight: 500;
    line-height: 1.8em;
    margin-top: 10px;
    margin-bottom: 25px;
    padding: 12px 0;
  }
  /* line 123, ../../sass/ipad/main.scss */
  #content h3 {
    font-size: .8em;
    font-weight: 700;
    line-height: 1.75em;
    margin-bottom: 25px;
  }
}
