@media screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* line 5, ../../sass/ipad/navmenu.scss */
  #navmenu ul {
    margin-top: 0px;
  }
  /* line 8, ../../sass/ipad/navmenu.scss */
  #navmenu ul li a.navlink {
    padding: 14px 11px;
    font-size: 1em;
  }
  /* line 13, ../../sass/ipad/navmenu.scss */
  #navmenu ul li a.navlink::after {
    width: 6px;
    height: 6px;
    right: 30px;
    top: 45%;
  }
  /* line 21, ../../sass/ipad/navmenu.scss */
  #navmenu ul li a.arrow {
    padding: 14px 11px;
    font-size: 1em;
  }
  /* line 28, ../../sass/ipad/navmenu.scss */
  #navmenu ul li a.arrow::after {
    width: 6px;
    height: 6px;
    right: 30px;
    top: 45%;
  }
}
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* line 41, ../../sass/ipad/navmenu.scss */
  #navmenu ul {
    margin-top: 0px;
  }
  /* line 44, ../../sass/ipad/navmenu.scss */
  #navmenu ul li a.navlink {
    padding: 14px 11px;
    font-size: 1em;
  }
  /* line 51, ../../sass/ipad/navmenu.scss */
  #navmenu ul li a.navlink::after {
    width: 6px;
    height: 6px;
    right: 30px;
    top: 45%;
  }
  /* line 59, ../../sass/ipad/navmenu.scss */
  #navmenu ul li a.arrow {
    padding: 14px 11px;
    font-size: 1em;
  }
  /* line 66, ../../sass/ipad/navmenu.scss */
  #navmenu ul li a.arrow::after {
    width: 6px;
    height: 6px;
    right: 30px;
    top: 45%;
  }
}
