@media screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* line 4, ../../sass/ipad/sliderframe.scss */
  .slider-frame {
    margin: 0;
    padding: 0;
    margin: 0 auto;
    width: 85px;
    height: 29px;
    margin-left: 210px;
    margin-top: -30px;
  }

  /* line 13, ../../sass/ipad/sliderframe.scss */
  .slider-button {
    margin: 0;
    padding: 0;
    width: 43px;
    height: 27px;
    line-height: 27px;
    font-size: 11px;
  }

  /* line 23, ../../sass/ipad/sliderframe.scss */
  .slider-button.on {
    margin-left: 40px;
  }

  /* line 24, ../../sass/ipad/sliderframe.scss */
  .slider-button:before {
    margin: 0;
    padding: 0;
    width: 40px;
    height: 12px;
  }
}
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* line 32, ../../sass/ipad/sliderframe.scss */
  .slider-frame {
    margin: 0;
    padding: 0;
    margin: 0 auto;
    width: 85px;
    height: 29px;
    margin-left: 210px;
    margin-top: -30px;
  }

  /* line 41, ../../sass/ipad/sliderframe.scss */
  .slider-button {
    margin: 0;
    padding: 0;
    width: 43px;
    height: 27px;
    line-height: 27px;
    font-size: 11px;
  }

  /* line 51, ../../sass/ipad/sliderframe.scss */
  .slider-button.on {
    margin-left: 40px;
  }

  /* line 52, ../../sass/ipad/sliderframe.scss */
  .slider-button:before {
    margin: 0;
    padding: 0;
    width: 40px;
    height: 12px;
  }
}
