/* line 4, ../../sass/base/grid.scss */
.containerDiv {
  display: table;
}

/* line 5, ../../sass/base/grid.scss */
.rowDivHeader {
  border: 1px solid #668db6;
  background-color: #336799;
  color: white;
  font-weight: bold;
  display: table-row;
}

/* line 14, ../../sass/base/grid.scss */
.rowDiv {
  border: 1px solid #668db6;
  background-color: #cee6fe;
  display: table-row;
}

/* line 19, ../../sass/base/grid.scss */
.cellDivHeader {
  border-right: 1px solid white;
  display: table-cell;
  text-align: center;
}

/* line 24, ../../sass/base/grid.scss */
.cellDiv {
  border-right: 2px solid white;
  display: table-cell;
  text-align: center;
  border-bottom: 2px solid white;
}

/* line 30, ../../sass/base/grid.scss */
.cellDiv button {
  background-color: #1589ff;
  color: white;
  border: 1px solid #1589ff;
}

/* line 35, ../../sass/base/grid.scss */
.lastCell {
  border-right: none;
}
