/* line 4, ../../sass/base/loginform.scss */
.login_template {
  border: 0px solid #270644;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(black), to(black));
  background: -moz-linear-gradient(19% 75% 90deg, black, black);
}

/* line 9, ../../sass/base/loginform.scss */
form {
  border: 0px solid #270644;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(black), to(gray));
  background: -moz-linear-gradient(19% 75% 90deg, gray, black);
  box-shadow: 0px -5px 300px gray;
  -moz-box-shadow: 0px -5px 300px gray;
  -webkit-box-shadow: 0px -5px 300px gray;
}
/* line 14, ../../sass/base/loginform.scss */
form .form_element {
  font-size: 1em;
}
/* line 19, ../../sass/base/loginform.scss */
form label {
  color: white;
  font-size: 18px;
  font-family: arial, sans-serif;
  font-weight: normal;
  list-style-type: none;
  letter-spacing: 1px;
  display: block;
}
/* line 30, ../../sass/base/loginform.scss */
form .input {
  -webkit-transition-property: -webkit-box-shadow, background;
  -webkit-transition-duration: 0.25s;
  box-shadow: 0px 0px 2px black;
  -moz-box-shadow: 0px 0px 2px black;
  -webkit-box-shadow: 0px 0px 2px black;
  background: white;
}
/* line 35, ../../sass/base/loginform.scss */
form a.forgotpassword {
  color: white;
  font-size: .8em;
  cursor: pointer;
}
/* line 42, ../../sass/base/loginform.scss */
form span {
  color: white;
  font-size: .8em;
}
/* line 48, ../../sass/base/loginform.scss */
form #waiting {
  background-color: black;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
/* line 52, ../../sass/base/loginform.scss */
form #loading_img {
  margin-top: 100px;
}
/* line 53, ../../sass/base/loginform.scss */
form #wait-box {
  background-color: black;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
