/* line 4, ../../sass/base/navmenu.scss */
#navmenu {
  background: #cee6fe;
  height: 100%;
  display: block;
  position: fixed;
  z-index: 1;
}
/* line 10, ../../sass/base/navmenu.scss */
#navmenu header {
  display: block;
  background: #303a44;
}
/* line 13, ../../sass/base/navmenu.scss */
#navmenu header h1 {
  text-align: center;
  color: #e6e8f2;
  font-weight: bold;
  text-shadow: 1px 1px 0px #7d7e7d;
}
/* line 22, ../../sass/base/navmenu.scss */
#navmenu ul {
  list-style: none;
  background: #475566;
  height: 100%;
}
/* line 26, ../../sass/base/navmenu.scss */
#navmenu ul li {
  display: block;
}
/* line 27, ../../sass/base/navmenu.scss */
#navmenu ul li a {
  position: relative;
  display: block;
  border-bottom: 1px solid #303c4a;
  font-weight: bold;
  color: #dddddd;
  text-shadow: -1px -1px 1px #0e0e0e;
  text-decoration: none;
}
/* line 38, ../../sass/base/navmenu.scss */
#navmenu ul li a.navlink:hover {
  color: #cad0e6;
  text-decoration: none;
}
/* line 42, ../../sass/base/navmenu.scss */
#navmenu ul li a.navlink::after {
  content: '';
  display: block;
  border-right: 3px solid #cee6fe;
  border-top: 3px solid #cee6fe;
  position: absolute;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* line 50, ../../sass/base/navmenu.scss */
#navmenu ul li a.arrow::after {
  content: '';
}
/* line 51, ../../sass/base/navmenu.scss */
#navmenu ul li a.navlink:hover::after {
  border-color: #e6e8f2;
}
