/* line 5, ../../sass/base/thumbnail.scss */
.thumbnails h4 {
  color: black;
}
/* line 6, ../../sass/base/thumbnail.scss */
.thumbnails span.checktext {
  color: #1589ff;
}
/* line 9, ../../sass/base/thumbnail.scss */
.thumbnails span.bold, .thumbnails .btn {
  font-weight: bold;
}
/* line 14, ../../sass/base/thumbnail.scss */
.thumbnails span.normal {
  font-weight: normal;
}
