/* line 5, ../../sass/base/thumbnail.scss */
.thumbnails h4 {
  color: black;
}
/* line 6, ../../sass/base/thumbnail.scss */
.thumbnails .checktext {
  color: #1589ff;
}
/* line 9, ../../sass/base/thumbnail.scss */
.thumbnails .bold, .thumbnails .btn {
  font-weight: bold;
}
/* line 14, ../../sass/base/thumbnail.scss */
.thumbnails .normal {
  font-weight: normal;
}
