@import 'variables';
@import 'mixins';

body {
    background: $white;
    padding: 0px;
    margin: 0px;
}
#app_envelope {
    position: absolute;
    width: 100%;
}
#overlay {
    display: none;
    position: absolute;
    z-index: 100;
    background: $black;
    @include opacity(70);
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    text-align: center;
	#overlaycontent {
	    display: block;
	    color: $white;
	    top: 0px;
	    left: 0px;
	    margin-top: 20%;
	    text-align: center;
	}
}
#wrapper {
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
}
.login_template {
    border: 0px solid $violet;
    @include border-radius(20px);
    @include background-gradient($black, $black);
	.header_lg {
		color: $dodger_blue;
    	font: {
    		size: 30px;
    		weight: bold;
    		
    	}
    	margin-bottom: 10px;
	}
    .header_lgsm {
    	color: $white;
    	font: {
    		size: .5em;
    		style: italic;
    	}
	}
	.subheader_sm {
		color: $white;
    	font: {
    		size: 10px;
    		weight: bold;
    		style: italic;
    	}
	}
}
form {
    border: 0px solid $violet;
    @include border-radius(20px);
    @include background-gradient($black, $grey);
    @include box-shadow(0px, -5px, 300px, $grey);
	.form_element { 
		font: {
			size: 1em;
			}
	}
	label {
		color: $white;
		font: {
			size: 18px;
			family: arial, sans-serif;
			weight: normal;
		}
    	list-style-type: none;
    	letter-spacing: 1px;
    	display: block;
	}
	.input {
	    @include transition-property(0.25s);
	    @include box-shadow(0px, 0px, 2px, $black);
	    background: $white;
	}
	.button_login {
	    @include transition-property(0.25s);
	    @include background-gradient($light_cyan, $dark_blue);
	    text-transform: uppercase;
	    color: $white;
	    font: {
	    	size: 25px;
	    	weight: bold;
	    }
	    border-top: 1px solid $soft_violet;
	    @include border-radius(50px);
	}
	a.forgotpassword {
		color: $white;
		font: {
	    	 size: .8em;
		}
	    cursor: pointer;
	}
	span {
		color: $white;
	    font: {
		    size: .8em;
		}
	}
	.button_register {
	    @include transition-property(0.25s);
	    width: 200px;
	    height: 40px;
	    @include background-gradient($moderate_cyan, $dark_moderate_cyan);
	    color: $white;
	    font: {
		    size: 25px;
		    weight: bold;
		}
	    border-top: 1px solid $soft_violet;
	    @include box-shadow-inset(0px, 0px, 10px, $dark_cyan);
	    margin-top: 40px;
	    margin-left: 40px;
	}
	#waiting {
	    background-color: $black;
	    @include opacity(50);
	}
	#loading_img { margin-top: 100px }
	#wait-box {
	    background-color: $black;
	    @include opacity(50);
	}
}
#pagebody {
    position: absolute;
    z-index: 2;
    overflow: auto;
}
header#toolbarnav {
    display: block;
    z-index: 9999;
    position: fixed;
    background-color: $dodger_blue;
    margin-top: 0px;
    @include box-shadow-inset(0px, 0px, 15px, $pure_blue);
    #menu-btn_bg {
        @include menuoptions();
        #home_nav_bg::before {
            @include background-image('../img/home_gray_24x24.png');
            width: 22px;
            height: 25px;
            position: fixed;
        }
        a#menu-button {
            display: block;
            background-color: $gray_blue;
        }
    }
    h1 {
        text-align: center;
        color: $light_gray_blue;
        font:{
            weight: bold;
        }
        text-shadow: 1px 1px 0px $darker_gray;
    }
}
button#nav_back {
    @include navigation-button();
    position: absolute;
}
button#nav_back::before {
    background-color: $dark_brown;
    @include background-image('../img/back_16x16.png');
    box-shadow: inset 0px 1px 0px $dark_brown, 0px 1px 0px $gray_orange;
    position: absolute;
    @include border-radius(50%);
}
button#nav_next {
    @include navigation-button();
    position: relative;
}
button#nav_next::before {
    background-color: $dark_brown;
    @include background-image('../img/next_16x16.png');
    width: 20px;
    height: 20px;
    position: absolute;
    @include border-radius(50%);
    box-shadow: inset 0px 1px 0px $dark_brown, 0px 1px 0px $gray_orange;
}
#menuoptions {
    display: block;
    z-index: 9999;
    position: fixed;
    @include menuoptions();
    #menu-btn_bg {
        @include menuoptions();
    }
    a#menu-button {
        display: block;
        background-color: $gray_blue;
    }
    #step_desc { }
    #timercount {
        @include create-button($darker_gray, $dark_orange, 100px);
        padding: 10px 10px 10px 10px;
    }
    #timercountspan{
        position: absolute;
    }
    #viewresult {
        @include create-button($darker_gray, $dark_lime_green, 3px);
        padding: 10px 10px 10px 10px;
    }
}
button#home {
   border: 1px solid $dark_gray;
    @include border-radius(100px);
    font:{
        family: arial, helvetica, sans-serif;
        weight: bold;
    }
    text-decoration: none;
    display: inline-block;
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
    color: $light_gray;
    background-color: $black;
    @include background-image-gradient($dark_gray, $darkest_gray);
    background-color: $gray_blue;
    @include box-shadow-inset(0px, 0px, 15px, $black);
    position: relative;
}
button#home::before {
    background-color: $dodger_blue;
    @include background-image('../img/home_blue16x16.png');
    box-shadow: inset 0px 1px 0px $dark_brown, 0px 1px 0px $gray_orange;
    position: absolute;
    @include border-radius(80%);
}

#homecontent {
    display: block;
    background: $white;
    padding: 5px 12px;
    margin-top: 0px;
    min-height: 550px;
    z-index: 9999;
    color: $black;
    h2 {
        border-bottom: 1px solid $lightest_gray;
        border-top: 1px solid $lightest_gray;
        color: $darker_gray;
        text-align: center;
        z-index: 9999;
    }
    h4 {
        font:{
            weight: bold;
        }
        color: $dodger_blue;
    }
    span.group_subtitle {
        color: $dark_orange;
        font:{
            weight: bold;
        }
    }
    .thumbnails { 
        h4 { color: $black; }
        .btn { 
            font:{
                weight: bold;
            }
        }
    }
}
#content {
    display: block;
    background: $white;
    padding: 5px 12px;
    margin-top: 0px;
    min-height: 550px;
    z-index: 9999;
    button#viewresult {
        @include create-button($darker_gray, $dark_lime_green, 3px);
        padding: 10px 10px 10px 10px;
        color: $white;
    }
    h2 {
        border-bottom: 1px solid $lightest_gray;
        border-top: 1px solid $lightest_gray;
        color: $darker_gray;
        text-align: center;
        z-index: 9999;
    }
    h3 {
        border-bottom: 1px solid $lightest_gray;
        border-top: 1px solid $lightest_gray;
        color: $darker_gray;
        font:{
            family: arial, helvetica, sans-serif;
        }
        text-transform: capitalize;
        color: $darker_gray;
    }
}
.containerDiv { display: table; }
.rowDivHeader {
    border: 1px solid $desat_blue;
    background-color: $moderate_blue;
    color: $white;
    font:{
        weight: bold;
    }
    display: table-row;
}
.rowDiv {
    border: 1px solid $desat_blue;
    background-color: $grayish_blue;
    display: table-row;
}
.cellDivHeader {
    border-right: 1px solid $white;
    display: table-cell;
    text-align: center;
}
.cellDiv {
    border-right: 2px solid $white;
    display: table-cell;
    text-align: center;
    border-bottom: 2px solid $white;
}
.cellDiv button {
    background-color: $dodger_blue;
    color: $white;
    border: 1px solid $dodger_blue;
}
.lastCell { border-right: none }
.thumbnails { 
    h4 { color: $black; }
    span.checktext { color: $dodger_blue; }
    span.textlg { }
    span.textsm { }
    span.bold { 
        font:{
            weight: bold;
        }
    }
    span.normal { 
        font:{
            weight: normal;
        }
    }
    .btn { 
        @extend span.bold;
    }
}
.slider-frame {
    position: relative;
    display: block;
    background-color: $dark_gray;
    background-repeat: no-repeat;
    @include background-image-gradient($dark_gray, $darkest_gray);
    @include border(1px, $black);
    @include border-radius(10px);
    @include box-shadow-inset-rgb(0px, 1px, 8px, 0px, rgba(0, 0, 0, 0.25));
}
.slider-button {
    display: block;
    background: $dark_orange;
    @include border-radius(10px);
    border: 1px solid $darkest_brown;
    @include transition(0.25s);
    color: $white;
    font:{
        family: Helvetica;
        weight: bold;
    }
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    text-align: center;
    cursor: pointer;
}
.slider-button.on {
    background: $strong_blue;
    border: 1px solid $darker_blue;
}
.slider-button:before {
    position: absolute;
    display: block;
    background: rgba(255, 255, 255, 0.25);
    content: '';
    -moz-border-radius: 15px;
    border-radius: 15px;
}
.designform {
    @include transition-property(0.25s);
    @include background-gradient($moderate_cyan, $dark_moderate_cyan);
    color: $white;
    font:{
        size: 25px;
        weight: bold;
    }
    border-top: 1px solid $soft_violet;
    @include box-shadow-inset(0px, 0px, 10px, $dark_cyan);
    @include border-radius(15px);
    border: 1px solid $dark_cyan;
    .designform_header {
        @extend .designform;
        height: 40px;
        text-align: center;
    }
    h1.designform_title {
        color: $white;
        text-align: center;
    }
    label { 
        font:{
            weight: bold;
        }
    }
    label a { }
    input { }
    select { }
}
#exitLab {
    color: $white;
    background-color: $vivid_blue;
    @include box-shadow-inset(0px, 0px, 10px, $dark_blue);
    border: 1px solid $dark_blue;
    font:{
        weight: bolder;
    }
}
#navmenu {
    background: $grayish_blue;
    height: 100%;
    display: block;
    position: fixed;
    z-index: 1;
    header {
        display: block;
        background: $gray_blue;
        h1 {
            text-align: center;
            color: $light_gray_blue;
            font:{
                weight: bold;
            }
            text-shadow: 1px 1px 0px $dark_gray;
        }
    }
    ul {
        list-style: none;
        background: $dark_grayish_blue;
        height: 100%;
        li { display: block;
            a {
                position: relative;
                display: block;
                border-bottom: 1px solid $dark_desat_blue;
                font:{
                    weight: bold;
                }
                color: $lightest_gray;
                text-shadow: -1px -1px 1px $darkest_gray;
                text-decoration: none;
            }
            a.navlink:hover {
                color: #cad0e6;
                text-decoration: none;
            }
            a.navlink::after {
                content: '';
                display: block;
                border-right: 3px solid $grayish_blue;
                border-top: 3px solid $grayish_blue;
                position: absolute;
                @include transform(45deg);
            }
            a.arrow::after { content: ''; }
            a.navlink:hover::after { border-color: $light_gray_blue; }
        }
    }
}
.space { margin-bottom: 10px; }
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.clearfix { display: inline-block; }
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }



