$black: #000000;
$white: #ffffff;
$violet: #270644;
$dodger_blue: #1589ff;
$grey: #808080;
$light_cyan: #66FFFF;
$dark_blue: #0000cd;
$soft_violet: #ad64e0;
$moderate_cyan: #43bfc7;
$dark_moderate_cyan: #3b9c9c;
$dark_cyan: #008080;
$pure_blue: #0000ff;
$darker_gray: #616261;
$dark_gray: #7d7e7d;
$darkest_gray: #0e0e0e;
$gray_blue: #303a44;
$dark_brown: #19120f;
$gray_orange: #827066;
$light_gray: #b2b2b2;
$light_gray_blue: #e6e8f2;
$dark_orange: #d37a16;
$dark_lime_green: #28a828;
$lightest_gray: #dddddd;
$desat_blue: #668db6;
$dark_desat_blue: #303c4a;
$moderate_blue: #336799;
$grayish_blue: #cee6fe;
$dark_grayish_blue: #475566;
$vivid_blue: #1f45fc;
$darkest_brown: #70430e;
$strong_blue: #2372c6;
$darker_blue: #0f3f74;




