
<div class='bs-example' style="margin-left:0px;margin-right:0px;">
  <form class="form-horizontal" novalidate role="form" name="loginForm">

    <div class="form-group" ng-class="{'has-error': loginForm.username.$invalid && !loginForm.username.$pristine,'has-success': !loginForm.username.$invalid && !loginForm.username.$pristine}">
        <div class='.col-xs-12 input-group'>
          <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
          <input type="text" class="form-control" id="inputEmail3" placeholder="Username" name="username" ng-model="user.username" ng-min='2' required/>
        </div>
          <small class="error" ng-show="loginForm.username.$error.required && !loginForm.username.$pristine">
            Your username is required
          </small>
    </div>

    <div class="form-group" ng-class="{'has-error': loginForm.password.$invalid && !loginForm.password.$pristine,'has-success': !loginForm.password.$invalid && !loginForm.password.$pristine}">
        <div class='.col-xs-12 input-group'>
          <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
          <input type="password" ng-model="user.password" name="password" class="form-control" ng-min='2' id="inputPassword3" placeholder="Password" required>
        </div>
          <small class="error" ng-show="loginForm.password.$error.required && !loginForm.password.$pristine">
            Your password is required
          </small>
    </div>


    <div class="form-group">
        <button type="submit" style="margin-bottom:15px;" ng-disabled="loginForm.$invalid" ng-click='login()' class="btn btn-md btn-block">Sign in
        </button>
    </div>

    <div class="form-group">
      <div>
        <span class="help-block" style="text-align:center;"><a>Forgot your password?</a></span>
      </div>
    </div>

    <div class="form-group">
      <div>
        <span ng-click="register()" class="help-block" style="text-align:center;"><a>Join iLabs</a></span>
      </div>
    </div>
    

  </form>
</div>

{{user | json}}
