@import 'commons/variables';

@media screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation : landscape){
	.login_template {
	    margin-left: auto;
	    margin-right: auto;
	    height: auto;
	}
	form { 
	    padding: 20px;
	    .form_element { }
	    label {
	        font:{
	            size: 1em;
	            weight: bold;
	        }
	    }
	    .input {
	        padding: 7px;
	        border-bottom: 0px;
	        border-left: 0px;
	        border-right: 0px;
	        border-top: 0px solid $white;
	        width: 100%;
	        margin-bottom: 10px;
	    }
	    a.forgotpassword { }
	    span { }
	    #waiting { }
	    #loading_img { }
	    #wait-box { }
	}
}
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation : portrait){
	.login_template {
	    margin-left: auto;
	    margin-right: auto;
	    width: 400px;
	    height: auto;
	    margin-top: 20%;
	    margin-bottom: 10px;
	}
	form {
	    padding: 20px;
	    margin-bottom: 50px;
	    width: 300px;
	    margin-left: 20px;
	    .form_element { }
	    label {
	        font:{
	            size: 1em;
	            weight: bold;
	        }
	    }
	    .input {
	        padding: 7px;
	        border-bottom: 0px;
	        border-left: 0px;
	        border-right: 0px;
	        border-top: 0px solid $white;
	        width: 100%;
	        margin-bottom: 10px;
	    }
	    a.forgotpassword { }
	    span { }
	    #waiting { }
	    #loading_img { }
	    #wait-box { }
	}
}