@import 'commons/variables';

@media screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation : landscape){
	#navmenu{
	    ul { 
	        margin-top: 0px;
	        li {
	            a.navlink {
	                padding: 14px 11px;
	                font-size: 1em;
	            }
	            a.navlink:hover { }
	            a.navlink::after {
	                width: 6px;
	                height: 6px;
	                right: 30px;
	                top: 45%;
	            }
	            a.arrow::after { }
	            a.navlink:hover::after { }
	            a.arrow {
	                padding: 14px 11px;
	                font:{
	                    size: 1em;
	                }
	            }
	            a.arrow:hover { }
	            a.arrow::after {
	                width: 6px;
	                height: 6px;
	                right: 30px;
	                top: 45%;
	            }
	            a.arrow:hover::after { }
	        }
	    }
	}
}
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation : portrait){
	#navmenu{
	    ul { 
	        margin-top: 0px;
	        li {
	            a.navlink {
	                padding: 14px 11px;
	                font:{
	                    size: 1em;
	                }
	            }
	            a.navlink:hover { }
	            a.navlink::after {
	                width: 6px;
	                height: 6px;
	                right: 30px;
	                top: 45%;
	            }
	            a.arrow::after { }
	            a.navlink:hover::after { }
	            a.arrow {
	                padding: 14px 11px;
	                font:{
	                    size: 1em;
	                }
	            }
	            a.arrow:hover { }
	            a.arrow::after {
	                width: 6px;
	                height: 6px;
	                right: 30px;
	                top: 45%;
	            }
	            a.arrow:hover::after { }
	        }
	    }
	}
}