@import 'commons/mixins';
@import 'commons/variables';


.button_login {
	@include transition-property(0.25s);
	@include background-gradient($light_cyan, $dark_blue);
	text-transform: uppercase;
	color: $white;
	font: {
	    size: 25px;
	    weight: bold;
	}
	border-top: 1px solid $soft_violet;
	@include border-radius(50px);
}
.button_register {
	@include transition-property(0.25s);
	width: 200px;
	height: 40px;
	@include background-gradient($moderate_cyan, $dark_moderate_cyan);
	color: $white;
	font: {
		size: 25px;
		weight: bold;
    }
	border-top: 1px solid $soft_violet;
	@include box-shadow-inset(0px, 0px, 10px, $dark_cyan);
	margin-top: 40px;
	margin-left: 40px;
}
#nav_back {
    @include navigation-button();
    position: absolute;
}
#nav_back::before {
    background-color: $dark_brown;
    @include background-image('../../img/back_16x16.png');
    box-shadow: inset 0px 1px 0px $dark_brown, 0px 1px 0px $gray_orange;
    position: absolute;
    @include border-radius(50%);
}
#nav_next {
    @include navigation-button();
    position: relative;
}
#nav_next::before {
    background-color: $dark_brown;
    @include background-image('../../img/next_16x16.png');
    width: 20px;
    height: 20px;
    position: absolute;
    @include border-radius(50%);
    box-shadow: inset 0px 1px 0px $dark_brown, 0px 1px 0px $gray_orange;
}
#menu-btn_bg {
    @include menuoptions();
}
#menu-button {
    display: block;
    background-color: $gray_blue;
}
#timercount {
    @include create-button($darker_gray, $dark_orange, 100px);
    padding: 10px 10px 10px 10px;
}
#viewresult {
    @include create-button($darker_gray, $dark_lime_green, 3px);
    padding: 10px 10px 10px 10px;
    color: $white;
}
#home_back {
    @include navigation-button();
    position: absolute;
}
#home_back::before {
    background-color: $dark_brown;
    @include background-image('../../img/home_blue16x16.png');
    box-shadow: inset 0px 1px 0px $dark_brown, 0px 1px 0px $gray_orange;
    position: absolute;
    @include border-radius(50%);
}
#home {
    border: 1px solid $dark_gray;
    @include border-radius(100px);
    font:{
        family: arial, helvetica, sans-serif;
        weight: bold;
    }
    text-decoration: none;
    display: inline-block;
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
    color: $light_gray;
    background-color: $dodger_blue;
    @include background-image-gradient(#38acec, #38acec);
    @include box-shadow-inset(0px, 0px, 15px, $black);
    position: relative;
}
#home::before {
    background-color: $dodger_blue;
    @include background-image('../../img/home_blue16x16.png');
    box-shadow: inset 0px 1px 0px $dark_brown, 0px 1px 0px $gray_orange;
    position: absolute;
    @include border-radius(80%);
}

#exitLab {
    color: $white;
    background-color: $vivid_blue;
    @include box-shadow-inset(0px, 0px, 10px, $dark_blue);
    border: 1px solid $dark_blue;
    font:{
        weight: bolder;
    }
}
