@import 'commons/mixins';
@import 'commons/variables';

#navmenu {
    background: $grayish_blue;
    height: 100%;
    display: block;
    position: fixed;
    z-index: 1;
    header {
        display: block;
        background: $gray_blue;
        h1 {
            text-align: center;
            color: $light_gray_blue;
            font:{
                weight: bold;
            }
            text-shadow: 1px 1px 0px $dark_gray;
        }
    }
    ul {
        list-style: none;
        background: $dark_grayish_blue;
        height: 100%;
        li { display: block;
            a {
                position: relative;
                display: block;
                border-bottom: 1px solid $dark_desat_blue;
                font:{
                    weight: bold;
                }
                color: $lightest_gray;
                text-shadow: -1px -1px 1px $darkest_gray;
                text-decoration: none;
            }
            a.navlink:hover {
                color: #cad0e6;
                text-decoration: none;
            }
            a.navlink::after {
                content: '';
                display: block;
                border-right: 3px solid $grayish_blue;
                border-top: 3px solid $grayish_blue;
                position: absolute;
                @include transform(45deg);
            }
            a.arrow::after { content: ''; }
            a.navlink:hover::after { border-color: $light_gray_blue; }
        }
    }
}