@import 'commons/mixins';
@import 'commons/variables';

.thumbnails { 
    h4 { color: $black; }
    .checktext { color: $dodger_blue; }
    .textlg { }
    .textsm { }
    .bold { 
        font:{
            weight: bold;
        }
    }
    .normal { 
        font:{
            weight: normal;
        }
    }
    .btn { 
        @extend .bold;
    }
}