@mixin opacity($opacity){
	opacity: $opacity / 100;
    filter: alpha(opacity=$opacity);
}

@mixin border-radius($radius){
	border-radius: $radius;
    -moz-border-radius: $radius;
    -webkit-border-radius: $radius;
}

@mixin border-radius-axis($vertical, $horizontal, $radius){
	border-#{$vertical}-#{$horizontal}-radius: $radius;
	-webkit-border-#{$vertical}-#{$horizontal}-radius: $radius;
    -moz-border-#{$vertical}-#{$horizontal}-radius: $radius;
}

@mixin background-gradient($from, $to){
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from($from), to($to));
	background: -moz-linear-gradient(19% 75% 90deg,$to, $from);
}

@mixin box-shadow($h-shadow, $v-shadow, $spread, $color){
	box-shadow: $h-shadow $v-shadow $spread $color;
    -moz-box-shadow: $h-shadow $v-shadow $spread $color;
    -webkit-box-shadow: $h-shadow $v-shadow $spread $color;
}

@mixin box-shadow-inset($h-shadow, $v-shadow, $spread, $color){
	box-shadow: $h-shadow $v-shadow $spread $color inset;
    -moz-box-shadow: $h-shadow $v-shadow $spread $color inset;
    -webkit-box-shadow: $h-shadow $v-shadow $spread $color inset;
}

@mixin box-shadow-inset-rgb($h-shadow, $v-shadow, $blur, $spread, $color){
    -webkit-box-shadow: $h-shadow $v-shadow $blur $spread $color inset;
    -moz-box-shadow: $h-shadow $v-shadow $blur $spread $color inset;
    box-shadow: $h-shadow $v-shadow $blur $spread $color inset;
}

@mixin transition-property($duration){
	-webkit-transition-property: -webkit-box-shadow, background;
	-webkit-transition-duration: $duration;
}

@mixin background-image-gradient($from, $to){
	background-image: -webkit-gradient(linear, left top, left bottom, from($from), to($to));
    background-image: -webkit-linear-gradient(top, $to, $from);
    background-image: -moz-linear-gradient(top, $to, $from);
    background-image: -ms-linear-gradient(top, $to, $from);
    background-image: -o-linear-gradient(top, $from, $to);
    background-image: linear-gradient(to bottom, $to, $from);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr= $to, endColorstr= $from);
}

@mixin background-image($src){
    background-image: url($src);
    background-repeat: no-repeat;
    background-position: center center;
    content: "";
}

@mixin create-button($border_color, $background_color, $border_radius){
    border: 1px solid $border_color;
    background-color: $background_color;
    @include border-radius($border_radius);
    font:{
        family: arial, helvetica, sans-serif;
    }
    text-decoration: none;
    display: inline-block;
    position: absolute;
    text-align: center;
}

@mixin border($pixel, $color){
    border-top: $pixel solid $color;
    border-right: $pixel solid $color;
    border-bottom: $pixel solid $color;
    border-left: $pixel solid $color;
}

@mixin transition($seconds){
    -webkit-transition: all $seconds ease-in-out;
    -moz-transition: all $seconds ease-in-out;
    transition: all $seconds ease-in-out;
}

@mixin transform($degree){
    -webkit-transform: rotate($degree);
    -moz-transform: rotate($degree);
    -o-transform: rotate($degree);
    transform: rotate($degree);
}

@mixin navigation-button(){
    border: 1px solid $darker_gray;
    @include border-radius(20px);
    font:{
        family: arial, helvetica, sans-serif;
        weight: bold;
    }
    text-decoration: none;
    display: inline-block;
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
    color: $white;
    background-color: $dark_gray;
    @include background-image-gradient($dark_gray, $darkest_gray);
    background-color: $gray_blue;
}

@mixin menuoptions(){
    border: 1px solid $darker_gray;
    @include border-radius-axis(top, left, 3px);
    @include border-radius-axis(top, right, 3px);
    @include border-radius-axis(bottom, left, 3px);
    @include border-radius-axis(bottom, right, 3px);
    font:{
        family: arial, helvetica, sans-serif;
        weight: bold;
    }
    padding: 10px 10px 10px 10px;
    text-decoration: none;
    display: inline-block;
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
    color: $white;
    background-color: $dark_gray;
    @include background-image-gradient($dark_gray, $darkest_gray);
    background-color: $gray_blue;
}

