
<style type="text/css">


</style>
<div ng-controller="accCtrl">
<div id="url" style="color: White;display:none">{{location.absUrl()}}</div> 
<div><button class="b1" ng-click="navigate_back('url')">Back</button></div>
<div  align="center" style="padding: 60px 0px 0px 20px">
	
	
	
		<form name="designForm" id="account_form">
			<div  style="margin-left:140px;margin-top:5px;margin-bottom0px:"><img src="./img/edit_32x32.png"></div>
			<table>
					<tr ><td colspan="2" align="center"><h2 style="color:#0a0aaa">My Account</h2></td></tr>
					<tr>
					<td style="color: White; font-size: 1.2em" >Username</td>
					
					<!--<td><a tooltip-placement="right" tooltip-html-unsafe="{{htmlTooltip1}}"><img src="../img/question.png"></a></td>-->
					</tr>
					<tr><td><input type="text" style="color: Black" ng-model="edit_un" style="margin: 5px 30px 10px 3px;"></td></tr>
					<tr>
					<td style="color: White; font-size: 1.2em">Password</td>
					<!--<td><a tooltip-placement="right" tooltip-html-unsafe="{{htmlTooltip2}}"><img src="../img/question.png"></a></td>-->
					</tr>
					<tr><td><input type="text" style="color: Black" ng-model="edit_pass" style="margin: 5px 30px 10px 3px;"></td></tr>
					<tr>
					<td style="color: White; font-size: 1.2em">Confirm Password</td>
					<!--<td><a tooltip-placement="right" tooltip-html-unsafe="{{htmlTooltip3}}"><img src="../img/question.png"></a></td>-->
					</tr>
					<tr><td><input type="text" style="color: Black" ng-model="confirm_pass" style="margin: 5px 30px 10px 3px;"></td></tr>

			</table>
			<button style="background-color: Blue;color: White;font-size: 1em" >Save Changes</button>
		</form>
</div>
</div>