<!--<style type="text/css">

.b1{
	width:90px;
    height:40px;
	background:#0000ff;
	position:absolute;
	left:3%;
    top:5%;
    color: #fff;
    font-weight: bold;
    font-size: 1em;
    
}
.header{
	position:absolute;
	left:40%;
    top:7%;
    color: #0000ff;
    font-weight: bold;
    font-size: 1.5em;
    
}
.b2{
	width:90px;
    height:40px;
	background:#0000ff;
	position:absolute;
	left:87%;
    top:5%;
    color: #fff;
    font-weight: bold;
    font-size: 1em;
}
.block{
	background:#5aa;
    border-radius:10px;
    position:absolute;
    left:10%;
    right:10%;
    top:30%;
    margin-left:auto;
    margin-top:-12%;
    margin-bottom: auto;
	
}
.text{
	color: #fff;
	font-size: 1.2em;
	
}
</style>-->
<script  src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"> </script>
<link rel="stylesheet" type="text/css" href="../css/iphone.css">
<link rel="stylesheet" type="text/css" href="../css/desktop.css">
<!--<script type="text/javascript" src="../js/jquery.js"></script>
<script type="text/javascript" src="../js/interface.js"></script>-->
<link href="../css/style.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="../css/dockmenu_f.css">
<script  src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"> </script>
<link rel="stylesheet" type="text/css" href="../css/image.css">
<link rel="stylesheet"  href="../css/popup.css">
<!--<script  src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"> </script>-->
<script src="../js/popup.js"></script>
<!--<link rel="stylesheet" href="../css/dock.css">-->
<script  src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"> </script>

<div>
            <div class="header">
                <div class="left_img" ><a  ng-click="AB()"><img src="../img/back_64x64.png" style="width:100px;height:100px"></a></div>
                <div class="heading_lng">Analyze</div>
                <div class="right_img" ><a ng-click="AN()"><img src="../img/next_64x64.png" style="width:100px;height:100px"></a></div>
            </div></br>
            <div class="content">
                <div id="main" style="float:right">
                    <img src="../img/settings.png">
                </div>
                <div  style="float:left">
                    <span class="textwht sm">You can now graph your experimental results to see how radiation changes as a function of distance. Click on the Graph Data button below to graph and analyze your data.</span></br>
                </div>
                <div  style="float:left">
                    <span class="textwht sm">You can also click on the Export Results button in your results table to graph and analyze your data using a spreadsheet analysis program like Microsoft Excel.</span></br></br>
                </div>
                <div  style="float:left">
                    <div  style="padding: 40px 0px 0px 10px" ng-hide="maingraph" id="duplicater">
                        <a ng-click="graph()" class="topopup" style="cursor:pointer"><img src="../img/edit.png"></a>
                        <a ng-click="deleteGraph()" style="cursor:pointer"><img src="../img/delete.png"></a>
                        <a ng-click="duplicate()" style="cursor:pointer"><img src="../img/add.png"></a>
                        <span style="color: White; ">Add another graph</span></br>
                        <div id="g1" ng-init="drawGraph('g1','Graph Title');drawGraph('g2','Graph Title')" style="height: 300px;width: 450px; "></div></br>
                    </div></br>
                </div></br>
                <div  style="float:left">
                    <div  style="padding: 40px 0px 0px 10px">
                    
                 </div>
                </div>
            </div>
</div>
<div id="toPopup" ng-hide="graphdiv">
<div class="closediv">
        <a ng-click="closegraph()" style="pointer: cursor"><img src="../img/no.png" ></a>
    </div>
        <span class="ecs_tooltip">Press Esc to close <span class="arrow"></span></span>
        <div id="popup_content"> 
            <p><div id="g2"   style="height: 300px;width: 450px;float: left"></div>
                <div style="float: right;border: 1px">
                    <label>Name of the Graph</label>
                    <input type="text" ng-model="name" placeholder="Enter the title here"></br>
                    <button style="background: Orange"  ng-click="insert()">Insert</button>
                </div>
            </p>
            <p align="center"><a href="#" class="livebox"></a></p></br></br>
        </div> 

    </div> 

    
    <div id="backgroundPopup"></div>

<!--<div class="block" ng-init="graph()">
	
		<button class="b1" ng-click="AB()">Back</button>
		<span class="header">Analyze</span>
		<button class="b2" ng-click="AN()">Next</button>
	</br>
	<div  style="padding: 47px 0px 0px 0px"><hr/></div>

    <div id="main" style="float:right">
    <div><img src="../img/settings.png"></div>
    <div>

        <div class="bubble me">
            <a ng-click="simulation('analyze')"><img src="../img/simulation_48x48.png"></a>
            <a ng-click="webcam('analyze')"><img src="../img/webcam_48x48.png"></a>
            <a ng-click="account('analyze')"><img src="../img/account_48x48.png"></a>
            <a ng-click="messages('analyze')"><img src="../img/message_48x48.png"></a>
        </div>

    </div>
</div>

	<div  style="padding: 45px 0px 0px 20px">
		<span class="text">You can now graph your experimental results to see how radiation changes as a function of distance. Click on the Graph Data button below to graph and analyze your data.</span></br>
		
	</div>
	<div  style="padding: 50px 0px 0px 20px">
		<span class="text">You can also click on the Export Results button in your results table to graph and analyze your data using a spreadsheet analysis program like Microsoft Excel.</span></br></br>
		
	</div>
	
	<div  style="padding: 0px 0px 0px 20px">
<div  style="padding: 40px 0px 0px 10px" ng-hide="maingraph" id="duplicater">
	<a ng-click="graph()" class="topopup" style="cursor:pointer"><img src="../img/edit.png"></a>
		<a ng-click="deleteGraph()" style="cursor:pointer"><img src="../img/delete.png"></a></br>
		<div id="g1" ng-init="drawGraph('g1','Graph Title');drawGraph('g2','Graph Title')" style="height: 300px;width: 450px; "></div>
</div>
		
		
	</div>
</br>
	<div  style="padding: 10px 0px 0px 20px">
       
	<a ng-click="duplicate()" style="cursor:pointer"><img src="../img/add.png"></a>
	<span style="color: White; ">Add another graph</span>
	
</div>
</br>
</div>

<div id="toPopup" ng-hide="graphdiv">
<div class="closediv">
        <a ng-click="closegraph()" style="pointer: cursor"><img src="../img/no.png" ></a>
    </div>
       	<span class="ecs_tooltip">Press Esc to close <span class="arrow"></span></span>
		<div id="popup_content"> 
            <p><div id="g2"   style="height: 300px;width: 450px;float: left"></div>
            	<div style="float: right;border: 1px">
            		<label>Name of the Graph</label>
            		<input type="text" ng-model="name" placeholder="Enter the title here"></br>
            		<button style="background: Orange"  ng-click="insert()">Insert</button>
            	</div>
            </p>
            <p align="center"><a href="#" class="livebox"></a></p></br></br>
        </div> 

    </div> 

	
   	<div id="backgroundPopup"></div>-->

