<div ng-controller="analyzeCtrl">
    <div class="header">
        <div class="nav_back" ><a  ng-click="AB()"><img src="./img/back_64x64.png" id="nav_back"></a></div>
        <div class="page_title">Analyze</div>
        <div class="nav_next" ><a ng-click="AN()"><img src="./img/next_64x64.png" id="nav_next"></a></div>
    </div>
    <div class="navigation_bar">
                <a href=""  ng-click="simulation('analyze')"><img src="./img/sim_48x48.png"></a>
                <a href=""  ng-click="webcam('analyze')"><img src="./img/wcam_48x48.png"></a>
                <a href=""   ng-click="account('analyze')" ><img src="./img/profile_48x48.png"></a>
                <a href="" ng-click="messages('analyze')" ><img src="./img/msg_48x48.png"></a>
    </div>
    
    <div class="content">
        <!--<div id="main2" ng-init="sidebar()">
            <ul id="navigation">
                <li class="simulation" ng-click="simulation('analyze')"><a href="" title="Simulation"></a></li>
                <li class="webcam" ng-click="webcam('analyze')"><a href="" title="Webcam"></a></li>
                <li class="myacc"><a href=""   ng-click="account('analyze')" title="My Account"></a></li>
                <li class="msgs"><a href="" ng-click="messages('analyze')" title="Messages"></a></li>
            </ul>
        </div>-->
        
        <div  style="float:right">
            <span class="textblk sm">You can now graph your experimental results to see how radiation changes as a function of distance. Click on the Graph Data button below to graph and analyze your data.</span></br>
        </div>
        
        <div  style="float:left">
            <span class="textblk sm">You can also click on the Export Results button in your results table to graph and analyze your data using a spreadsheet analysis program like Microsoft Excel.</span></br></br>
        </div>
        <!--export graph-->
                <select id="ExportOption">
                      <option value="PNG">PNG Image</option>
                      <option value="JPEG">JPEG Image</option>
                      <option value="PDF">PDF Document</option>
                      <option value="SVG">SVG Vector Image</option>
                </select></br></br>
                <button id="buttonExport" >Export chart</button>
                <button id="buttonPrint" >Print chart</button>
                <!--<button ng-click="Print()">Draw</button>-->
                <!--end export-->
        <div  style="float:left">
            <div  style="padding: 40px 0px 0px 10px" ng-hide="maingraph" id="duplicater">
                <div id="graph" ng-init="Graph()" style="height: 300px;width: 450px; "></div></br>
            </div></br>

            <canvas id="canvas" style="display:none"></canvas>     

        </div></br>
        
        <div  style="float:left">
            <div  style="padding: 40px 0px 0px 10px">

            </div>
        </div>
    </div>

</div>

<div id="toPopup" ng-hide="graphdiv">
    <div class="closediv">
        <a ng-click="closegraph()" style="pointer: cursor"><img src="./img/no.png" ></a>
    </div>
    
    <span class="ecs_tooltip">Press Esc to close <span class="arrow"></span></span>
    
    <div id="popup_content"> 
        <p>
            <div id="g2"   style="height: 300px;width: 450px;float: left"></div>
            <div style="float: right;border: 1px">
                <label>Name of the Graph</label>
                <input type="text" ng-model="name" placeholder="Enter the title here"></br>
                <button style="background: Orange"  ng-click="insert()">Insert</button>
            </div>
        </p>
        <p align="center"><a href="#" class="livebox"></a></p></br></br>
    </div> 

</div> 

<div id="backgroundPopup"></div>

