<style type="text/css">

.b1{
	width:90px;
    height:40px;
	background:#0000ff;
	position:absolute;
	left:3%;
    top:5%;
    color: #fff;
    font-weight: bold;
    font-size: 1em;
    
}
.header{
	position:absolute;
	left:40%;
    top:7%;
    color: #0000ff;
    font-weight: bold;
    font-size: 1.5em;
    
}
.b2{
	width:90px;
    height:40px;
	background:#0000ff;
	position:absolute;
	left:87%;
    top:5%;
    color: #fff;
    font-weight: bold;
    font-size: 1em;
}
.block{
	background:#5aa;
    border-radius:10px;
    position:absolute;
    left:10%;
    right:10%;
    top:30%;
    margin-left:auto;
    margin-top:-12%;
    margin-bottom: auto;
	
}
.text{
	color: #fff;
	font-size: 1.2em;
	
}
</style>


<div class="block">
	
		<button class="b1" ng-click="AB()">Back</button>
		<span class="header">Analyze</span>
		<button class="b2" ng-click="AN()">Next</button>
	</br>
	<div  style="padding: 47px 0px 0px 0px"><hr/></div>

	<div  style="padding: 45px 0px 0px 20px">
		<span class="text">You can now graph your experimental results to see how radiation changes as a function of distance. Click on the Graph Data button below to graph and analyze your data.</span></br>
		
	</div>
	<div  style="padding: 50px 0px 0px 20px">
		<span class="text">You can also click on the Export Results button in your results table to graph and analyze your data using a spreadsheet analysis program like Microsoft Excel.</span></br></br>
		
	</div>
	
	<div  style="padding: 0px 0px 0px 20px">
<div  style="padding: 40px 0px 0px 360px">
	<img src="../img/edit.png">
		<img src="../img/delete.png">
</div>
		<!--<img src="../img/graph.jpg">-->
		<div id="graph" ng-init="drawGraph()" style="height: 300px;width: 450px"></div>
	</div>
</br>
	<div  style="padding: 10px 0px 0px 20px">
	<img src="../img/add.png">
	<span style="color: White; ">Add another graph</span>
	
</div>
</br>
</div>