<div ng-controller="designCtrl">
  <div class="header">
    <div class="nav_back" ><a  ng-click="DB()"><img src="./img/back_64x64.png" id="nav_back"></a></div>
    <div class="page_title">Design</div>
    <div class="nav_next" ><a ng-click="DN()"><img src="./img/next_64x64.png" id="nav_next"></a></div>
  </div>
  <div class="navigation_bar">
                <a href=""  ng-click="simulation('design')"><img src="./img/sim_48x48.png"></a>
                <a href=""  ng-click="webcam('design')"><img src="./img/wcam_48x48.png"></a>
                <a href=""   ng-click="account('design')" ><img src="./img/profile_48x48.png"></a>
                <a href="" ng-click="messages('design')" ><img src="./img/msg_48x48.png"></a>
    </div>
  <div class="content">
    <!--<div id="main2" ng-init="sidebar()">
      <ul id="navigation">
        <li class="simulation" ng-click="simulation('design')"><a href="" title="Simulation"></a></li>
        <li class="webcam" ng-click="webcam('design')"><a href="" title="Webcam"></a></li>
        <li class="myacc"><a href=""   ng-click="account('design')" title="My Account"></a></li>
        <li class="msgs"><a href="" ng-click="messages('design')" title="Messages"></a></li>
      </ul>
    </div>-->
    
    <span class="textwht sm">Learn more about each variable, mouse over the question mark icon next to the variable.</span>

      <div name="designForm" class="designform">
	<h3>Experiment Design</h3>
	<hr/>
        <label for="distances">Distances<a tooltip-placement="right" tooltip-html-unsafe="{{htmlTooltip1}}"><img class="info" src="./img/question.png"></a></label>
        
	<input name="distances" type="text" style="height:30px" ng-model="distances" class="design">
	
        <label for="m_times">Measurement Time(s)<a tooltip-placement="right" tooltip-html-unsafe="{{htmlTooltip2}}"><img class="info" src="./img/question.png"></a></label>
        
        <select name="m_times" class="design" ng-model="m_times">
          <option>1</option><option>2</option><option>3</option><option>4</option><option>5</option>
          <option>6</option><option>7</option><option>8</option><option>9</option><option>10</option>
        </select>
        </td>
        <label for="no_trials">Number of Trials<a tooltip-placement="right" tooltip-html-unsafe="{{htmlTooltip3}}"><img class="info" src="./img/question.png"></a></label>
        
        <select name="no_trails" class="design" ng-model="nof_trials">
          <option>1</option><option>2</option><option>3</option><option>4</option><option>5</option>
          <option>6</option><option>7</option><option>8</option><option>9</option><option>10</option>
        </select>
        
      </div>
    
    <div>
    <span class="textwht sm">Please answer the question below.  When you click "Next", the experiment will run.</span>
    <span class="textwht sm">Why did you choose these distances, measurement time, and number of trials?</span>
    <textarea  id="design" cols="120" rows="8" ng-model="Dtxt" placeholder="I designed my experiment this way because..."></textarea>
      <a ng-click="clear('design')"><img src="./img/no.png"></a>
    </div>
  </div>
</div>


