<div ng-controller="interpretCtrl">
	<div class="header">
		<div class="nav_back" ><a  ng-click="InterB()"><img src="./img/back_64x64.png" id="nav_back"></a></div>
		<div class="page_title">Interpret</div>

	</div></br>
	
	<div class="content">
		<div id="main2" ng-init="sidebar()">
			<ul id="navigation">
				<li class="simulation" ng-click="simulation('interpret')"><a href="" title="Simulation"></a></li>
				<li class="webcam" ng-click="webcam('interpret')"><a href="" title="Webcam"></a></li>
				<li class="myacc"><a href=""   ng-click="account('interpret')" title="My Account"></a></li>
				<li class="msgs"><a href="" ng-click="messages('interpret')" title="Messages"></a></li>
			</ul>
		</div>
		
		<div >
			<span class="textwht sm">What type of relationship exists between radiation and distance?  Is it linear or non-linear, positive or negative?  How do you know?</span></br>
			<div>
				<textarea  ng-model="Intertxt1" id="inter1" cols="120" rows="5" placeholder="Please enter your answer here..."></textarea>
				<a ng-click="clear('inter1')"><img src="./img/no.png"></a>
			</div></br></br>
		</div>
		
		<div  >
			<span class="textwht sm">Does the data you collected give you a definite answer to your research question?  Why or why not?  If not, how would you change your experimental design to better investigate your research question?</span></br></br>
			<div>
				<textarea  ng-model="Intertxt2" id="inter2" cols="120" rows="5" placeholder="Please enter your answer here..."></textarea>
				<a ng-click="clear('inter2')"><img src="./img/no.png"></a>
			</div>
		</div></br>
		<button class="exit" ng-click="Exitlab()">Exit</button>
		</br></br></br>

		
	</div>
</div>
