
<div ng-controller="investigateCtrl" ng-init="loading()">
    <div class="header">
        <div class="nav_back" ><a  ng-click="InvesB()"><img src="./img/back_64x64.png" id="nav_back"></a></div>
        <div class="page_title">Investigate</div>
        <div class="nav_next" ><a ng-click="InvesN()"><img src="./img/next_64x64.png" id="nav_next"></a></div>
    </div>
    <div class="navigation_bar">
                <a href=""  ng-click="Simulation('investigate')"><img src="./img/sim_48x48.png"></a>
                <a href=""  ng-click="webcam('investigate')"><img src="./img/wcam_48x48.png"></a>
                <a href=""   ng-click="account('investigate')" ><img src="./img/profile_48x48.png"></a>
                <a href="" ng-click="messages('investigate')" ><img src="./img/msg_48x48.png"></a>
    </div>
    <div class="content">
        <!--<div id="main2" ng-init="sidebar()">
            <ul id="navigation">
                <li class="simulation" ng-click="simulation('investigate')"><a href="" title="Simulation"></a></li>
                <li class="webcam" ng-click="webcam('investigate')"><a href="" title="Webcam"></a></li>
                <li class="myacc"><a href=""   ng-click="account('investigate')" title="My Account"></a></li>
                <li class="msgs"><a href="" ng-click="messages('investigate')" title="Messages"></a></li>
            </ul>
        </div>-->
       <div id="loading"  style="color:Yellow;font-size:25px;display:none"><img src="./img/ajax-loader_horiz.gif"></div>
       <!--118DED-->
        <div id="timer"></div>
        <div id="countdown"></div>
        <div  style="float:right">
            <span class="textwht sm">What do you predict will happen in this experiment?  What do you think you will see in your results?</span> 
            <div>
                <textarea  id="invest1" cols="120" ng-model="Investxt1" rows="8"placeholder="Please enter your answer here..."></textarea>
                <a ng-click="clear('invest1')"><img src="./img/no.png"></a>
            </div>
            <div  style="align:center">
                <span class="textwht sm">What are your initial observations about your result?</span>
                <div>
                    <textarea  id="invest2" ng-model="Investxt2" cols="120" rows="8" placeholder="Please enter your answer here..."></textarea>
                    <a ng-click="clear('invest2')"><img src="./img/no.png"></a>
                </div>
                <div id="result" style="align:center;display:none" class="result">
                    <button ng-click="retrieveResult()" class="topopup">Retrieve Results</button>
                </div>
            </div>
        </div>
    </div>
</div>
