<!--<style type="text/css">

.b1{
	width:90px;
    height:40px;
	background:#0000ff;
	position:absolute;
	left:3%;
    top:5%;
    color: #fff;
    font-weight: bold;
    font-size: 1em;
    
}
.header{
	position:absolute;
	left:40%;
    top:7%;
    color: #0000ff;
    font-weight: bold;
    font-size: 1.5em;
    
}
.b2{
	width:90px;
    height:40px;
	background:#0000ff;
	position:absolute;
	left:87%;
    top:5%;
    color: #fff;
    font-weight: bold;
    font-size: 1em;
}
.block{
	background:#5aa;
    border-radius:10px;
    position:absolute;
    left:10%;
    right:10%;
    top:30%;
    margin-left:auto;
    margin-top:-12%;
    margin-bottom: auto;
}

.block1{
    background:#626262;
    border-radius:15px;
    width:30%;
    margin-left:30%;
    margin-right: 10%;
    margin-top:5%;
    margin-bottom: auto;
}
.divs{
    color: #fff;
    font-weight: bold;
    font-size: 1.5em;
    margin-left:5%;
    margin-left:auto;
    margin-top:-12%;
   margin-bottom: auto;
}
.divd{
    color: #fff;
    font-weight: bold;
    font-size: 1em;
    margin-left:-30%;
    margin-top:-5%;
   margin-bottom: auto;
}
.block2{
    background:#767676;
    border-radius:10px;
   /* width:98%;
    margin-left:-39%;*/
    left:10%;
    right:-10%;
    top:40%;
    margin-left:-43%;
    margin-right: 1%;
    margin-top:2%;
   margin-bottom: auto;
}
.block3{
    background:#767676;
    border-radius:10px;
    /*width:98%;
    margin-left:-39%;*/
    margin-left:-43%;
    margin-top:1%;
    margin-right: 1%;
    margin-bottom: auto;
}
.text{
	color: #fff;
	font-size: 1.2em;
	
}
.result{
	width:220px;
    height:45px;
	background:#FFA500;
	position:absolute;
	left:43%;
    top:93%;
    color: #fff;
    font-weight: bold;
    font-size: 1em;
}


</style>

<link rel="stylesheet" href="../css/dock.css">-->

<script  src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"> </script>
<link rel="stylesheet" type="text/css" href="../css/iphone.css">
<link rel="stylesheet" type="text/css" href="../css/desktop.css">
<!--<script type="text/javascript" src="../js/jquery.js"></script>
<script type="text/javascript" src="../js/interface.js"></script>-->
<link href="../css/style.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="../css/dockmenu_f.css">
<script  src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"> </script>
<link rel="stylesheet" type="text/css" href="../css/image.css">

 <div id="dvalues" style="color: White;display:block;font-size:30px">{{location.absUrl()}}</div> 
<div >
            <div class="header">
                <div class="left_img" ><a  ng-click="InvesB()"><img src="../img/back_64x64.png" style="width:100px;height:100px"></a></div>
                <div class="heading_lng">Investigate</div>
                <div class="right_img" ><a ng-click="InvesN()"><img src="../img/next_64x64.png" style="width:100px;height:100px"></a></div>
            </div></br>
            <div class="content">
                <div id="main" style="float:right">
                    <img src="../img/settings.png">
                </div>
                <div  style="float:left">
                    <span class="textwht sm">What do you predict will happen in this experiment?  What do you think you will see in your results?</span></br></br>
                    <div>
                    <textarea  id="invest1" cols="120" rows="8"placeholder="Please enter your answer here..."></textarea>
                    <a ng-click="clear('invest1')"><img src="../img/no.png"></a>
                </div></br></br>
                <div  style="float:left">
                    <span class="textwht sm">What are your initial observations about your result?</span></br></br>
                    <div>
                        <textarea  id="invest2" cols="120" rows="8" placeholder="Please enter your answer here..."></textarea>
                        <a ng-click="clear('invest2')"><img src="../img/no.png"></a>
                    </div>

                </div>
            </br></br>
                <div id="result" ng-init="load_values()" style="color:White;font-weight:bold;font-size:40px;line-height:1.2em">
                    Distances(mm):  {{resdistances}}</br>
                    Measurement Time(s):   {{res_m_times}}</br>
                    Number of Trials:   {{res_nof_trials}}</br>
                </div>
<div id="distance_value"></div>
            </div>
</div>
<!--<div class="block">
	
		<button class="b1" ng-click="InvesB()">Back</button>
		<span class="header">Investigate</span>
		<button class="b2" ng-click="InvesN()">Next</button>
	</br>
	<div  style="padding: 55px 0px 0px 0px"><hr/></div>

    <div id="main" style="float:right">
    <div><img src="../img/settings.png"></div>
    <div>

        <div class="bubble me">
            <a ng-click="simulation('investigate')"><img src="../img/simulation_48x48.png"></a>
            <a ng-click="webcam('investigate')"><img src="../img/webcam_48x48.png"></a>
            <a ng-click="account('investigate')"><img src="../img/account_48x48.png"></a>
            <a ng-click="messages('investigate')"><img src="../img/message_48x48.png"></a>
        </div>

    </div>
</div>

	<div  style="padding: 45px 0px 0px 20px">
		<span class="text">What do you predict will happen in this experiment?  What do you think you will see in your results?</span></br>
        <div>
		<textarea  id="invest1" cols="120" placeholder="Please enter your answer here..."></textarea>
        <a ng-click="clear('invest1')"><img src="../img/no.png"></a>
        </div>
	</div>
	<div  style="padding: 40px 0px 0px 20px">
		<span class="text">What are your initial observations about your result?</span></br></br>
        <div>
		   <textarea  id="invest2" cols="120" placeholder="Please enter your answer here..."></textarea>
           <a ng-click="clear('invest2')"><img src="../img/no.png"></a>
       </div>

	</div>
	<div  class="block1" style="padding: 0px 0px 0px 140px">
		<div  class="divs" >
            <span></span></br>
			<span style="padding: 40px 0px 0px 0px;">Experiment Status</span>
		</div>
		<div  class="block2" style="padding: 50px 20px 0px 140px">
			<div  class="divd" >
				<span>Experiment Design</span>
			</div>
			<div>
					Distances(mm):	35, 45, 55</br>
					Measurement Time(s):	1</br>
					Number of Trials:	1</br>
			</div>
		</br>
		</div>
	
		<div  class="block3" style="padding: 50px 0px 0px 140px">
			<div  class="divd" >
				<span>Status</span>
			</div>
			<div ng-init="random()" >
				Status:	completed</br>
				
        <div style="width:200px">
        <progress value="dynamicObject" class="progress-success" animate="false" ></progress></br>
    </div>
				Remaining Time:	0secs
			</div>
			</br>
		</div>
		</br>
	
	</div></br></br>
	<div>
		<button class="result">Retrieve Results</button>
	</div>
</br></br>
</div>-->
