<div ng-controller="questionCtrl">
  <div class="header">
    <div class="nav_back" ><a  ng-click="QB()"><img src="./img/back_64x64.png" id="nav_back" ></a></div>
    <div class="page_title">Question</div>
    <div class="nav_next" ><a ng-click="QN()"><img src="./img/next_64x64.png" id="nav_next"></a></div>
  </div>
  <div class="navigation_bar">
                <a href=""  ng-click="simulation('question')"><img src="./img/sim_48x48.png"></a>
                
               <a href=""  ng-click="webcam('question')"><img src="./img/wcam_48x48.png"></a>
                <a href=""   ng-click="account('question')" ><img src="./img/profile_48x48.png"></a>
                <a href="" ng-click="messages('question')" ><img src="./img/msg_48x48.png"></a>
    </div>
  <div class="content">
    <!--<div id="main2" ng-init="sidebar()">
      <ul id="navigation">
        <li class="simulation" ng-click="simulation('question')"><a href="" title="Simulation"></a></li>
        <li class="webcam" ng-click="webcam('question')"><a href="" title="Webcam"></a></li>
        <li class="myacc"><a href=""   ng-click="account('question')" title="My Account"></a></li>
        <li class="msgs"><a href="" ng-click="messages('question')" title="Messages"></a></li>
      </ul>
    </div>-->
    <p class="textblk sm">What are you trying to find out in this lab?  What question are you trying to answer?  This question is called your research question, which guides your experimental design in the next step.</p></br>
    <p class="textblk sm">Write your research question below.</p>
    <textarea  ng-model="Qtxt" id="question" placeholder="Please enter your research question here..."></textarea>
    <a class="clear" ng-click="clear('question')"><img src="./img/no.png"></a>
  </div>
</div>

