<script type="text/javascript">
    $(function() {
        $('#navigation a').stop().animate({'marginLeft':'-85px'},1000);

        $('#navigation > li').hover(
            function () {
                $('a',$(this)).stop().animate({'marginLeft':'-2px'},200);
            },
            function () {
                $('a',$(this)).stop().animate({'marginLeft':'-85px'},200);
            }
        );
    });
</script>

<div ng-controller="researchCtrl">
    <div class="header">
        <div class="page_title">Research</div>
        <div class="nav_next" ><a id="opn" ng-click="RN()"><img src="./img/next_64x64.png" id="nav_next"></a></div>
    </div>
    <div class="navigation_bar">
        
                <a href="" ng-click="simulation('research')"><img src="./img/sim_48x48.png"></a>
                <a href="" ng-click="webcam('research')"><img src="./img/wcam_48x48.png"></a>
                <a href="" ng-click="account('research')" ><img src="./img/profile_48x48.png"></a>
                <a href="" ng-click="messages('research')" ><img src="./img/msg_48x48.png"></a>
                
    </div>

    <div class="content">
       <!-- <div id="main2" ng-init="sidebar()">
            <ul id="navigation">
                <li class="simulation" ng-click="simulation('research')"><a href="" title="Simulation"></a></li>
                <li class="webcam" ng-click="webcam('research')"><a href="" title="Webcam"></a></li>
                <li class="myacc"><a href=""   ng-click="account('research')" title="My Account"></a></li>
                <li class="msgs"><a href="" ng-click="messages('research')" title="Messages"></a></li>
            </ul>
        </div>-->
        
        <span class="textwht sm">Click below to read important background information involved in this lab.</span>
            <ul>
                <li ng-repeat="qtn in qtns">
                    <a class="textorange sm" ng-click="popup('popUpDiv')">{{qtn.question}}</a>
                </li>
            </ul>
    </div>
    
</div>

<div id="blanket" style="display:none;"></div>

<div id="popUpDiv" style="display:none;">
    <a href="#" style="float:right" ng-click="popup('popUpDiv')"><img src="./img/no.png"></a>
</div>
