@import 'commons/variables';

@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation:landscape){
	#wrapper #navmenu {
	    width: 300px;
	    left: 0px;
	    top: 0px;
	}
	#pagebody #navmenu {
	    width: 500px;
	    left: -15px;
	    top: -50px;
	    position: relative;
	    overflow: auto;
	}
	#navmenu{
	    ul { 
	        margin-top: 0px;
	        li { 
	            a.navlink {
	                padding: 14px 11px;
	                font:{
	                    size: 1em;
	                }
	            }
	            a.navlink:hover { }
	            a.navlink::after {
	                width: 6px;
	                height: 6px;
	                right: 30px;
	                top: 45%;
	            }
	            a.arrow::after { }
	            a.navlink:hover::after { }
	            a.arrow {
	                padding: 14px 11px;
	                font:{
	                    size: 1em;
	                }
	            }
	            a.arrow:hover { }
	            a.arrow::after {
	                width: 6px;
	                height: 6px;
	                right: 30px;
	                top: 45%;
	            }
	            a.arrow:hover::after { }
	        }
	    }
	}
}
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation:portrait){
	#wrapper #navmenu {
	    width: 300px;
	    left: 0px;
	    top: 0px;
	}
	#pagebody #navmenu {
	    width: 340px;
	    left: -15px;
	    top: 45px;
	    position: relative;
	}
	#navmenu{
	    ul { 
	        margin-top: 0px;
	        li { 
	            a.navlink {
	                padding: 14px 11px;
	                font:{
	                    size: 1em;
	                }
	            }
	            a.navlink:hover { }
	            a.navlink::after {
	                width: 6px;
	                height: 6px;
	                right: 30px;
	                top: 45%;
	            }
	            a.navlink:hover::after { }
	            a.arrow {
	                padding: 14px 11px;
	                font:{
	                    size: 1em;
	                }
	            }
	            a.arrow:hover { }
	            a.arrow::after {
	                width: 6px;
	                height: 6px;
	                right: 30px;
	                top: 45%;
	            }
	            a.arrow:hover::after { }
	        }
	    }
	}
}