@import 'commons/variables';

@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation:landscape){
	.thumbnails { 
        margin-left: -40px;
        h4 { 
            font:{
                size: 1em;
            } 
        }
        .btn { }
    }
}
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation:portrait){
	.thumbnails { 
        margin-left: -40px; 
        h4 { 
            font:{
                size: 1em;
            }
        }
        .btn { }
    }
}